<main class="d-flex justify-content-center">
    <section class="component-container">
        <h1 class="prestige-title-1">Prestige 9</h1>
        <p class="prestige-text text-center bold">
            If you have become Prestige 9, you can teleport to the map by typing $warp p9. <br />
            On this guide you will find all this new content:
        </p>
        <p class="prestige-text box">
            Land of Living <br />
            God of Void Storyline <br />
            Asgobas IC <br />
            New Raids <br />
            New Quests <br />
            Equipment, Accessory, Resistance, Costume and Skins Craftting <br />
            New Pets and PSPs <br />
            Power of The Weapons mechanic <br />
            Armor Carve system
        </p> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Land of Living --</h2>
            <p class="prestige-text">
                Land of Living is a family map for levelling, this is the only
                map you will use to reach P9 Level 99 (+70). <br />
                Each Family will have access to their own LoL without disruption of outside players,
                and you can access this map on every
                Channel. <br />
                Grouping with players will NOT reduce experience gain.
            </p>
            <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/LoL.png" alt=""></div>
            <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Drops</b><br />
                · All monsters will drop Gold and a small chance for <b>Dragon Health Potion</b>.<br />
                · Mini-Boss Magic Undead Dragon will be the only monster that can drop <img
                    src="../../assets/img/prestiges/p9/magic-undead-fang.png" alt=""> <b> Magic Undead Fang</b>.
            </p>
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- God of Void --</h2>
            <p class="prestige-text">
                God of Void is a Story Line available from Prestige 9 Level 99 (+50), you will be asked
                to continue your story with the god of your choice. <br />
                Each with a different reward and new
                permanent buff that will suit your playstyle. <br />
                Choose wisely as you won't be able to change your god again. (But you will be able to switch buff via
                item from Item Shop in the future.) <br />
                Everything about each god can be found in Mysterious Traveller NPC.
            </p>
            <p class="prestige-text">
                <b class="prestige-title-4">Rewards:</b> <br />
                Upon completing 5 Quests of your chosen god, you will receive their Permanent Buff. <br />
                If you complete the 6th quest you will receive a SP10 of your class as a reward.
            </p>
            <div class="Video">
                <video controls width="600px">
                    <source src="../../assets/img/prestiges/p9/GodOfVoid/GodOfVoid.mp4" type="video/mp4">
                    Your browser doesn't support the video tag.
                </video>
            </div> <br />

            <h4 class="prestige-title-4">God of Magicians</h4>
            <div class="container">
                <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/GodOfVoid/God1.png"
                        alt=""></div>
                <ul class="prestige-list">
                    <li class="prestige-list-item">· All enemies resistances is decreased by 10.</li>
                    <li class="prestige-list-item">· Damage in Raids is increased by 10%.</li>
                    <li class="prestige-list-item">· 5% to reset skill CD on hit.</li>
                </ul>
                <div class="Video">
                    <video controls width="400px">
                        <source src="../../assets/img/prestiges/p9/GodOfVoid/God1.mp4" type="video/mp4">
                        Your browser doesn't support the video tag.
                    </video>
                </div>
            </div>

            <h4 class="prestige-title-4">God of Demons</h4>
            <div class="container">
                <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/GodOfVoid/God2.png"
                        alt=""></div>
                <ul class="prestige-list">
                    <li class="prestige-list-item">· All Attacks Increased by 5%.</li>
                    <li class="prestige-list-item">· Dodge Increased by 100.</li>
                    <li class="prestige-list-item">· Crit dmg increased by 10%.</li>
                </ul>
                <div class="Video">
                    <video controls width="400px">
                        <source src="../../assets/img/prestiges/p9/GodOfVoid/God2.mp4" type="video/mp4">
                        Your browser doesn't support the video tag.
                    </video>
                </div>
            </div>

            <h4 class="prestige-title-4">God of Angels</h4>
            <div class="container">
                <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/GodOfVoid/God3.png"
                        alt=""></div>
                <ul class="prestige-list">
                    <li class="prestige-list-item">· Crit chance increased by 4%.</li>
                    <li class="prestige-list-item">· Hitrate increased by 150.</li>
                    <li class="prestige-list-item">· Crit dmg taken is decreased by 10%.</li>
                </ul>
                <div class="Video">
                    <video controls width="400px">
                        <source src="../../assets/img/prestiges/p9/GodOfVoid/God3.mp4" type="video/mp4">
                        Your browser doesn't support the video tag.
                    </video>
                </div>
            </div>

            <h4 class="prestige-title-4">God of Disaster</h4>
            <div class="container">
                <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/GodOfVoid/God4.png"
                        alt=""></div>
                <ul class="prestige-list">
                    <li class="prestige-list-item">· All Defences are increased by 5%.</li>
                    <li class="prestige-list-item">· Dodge is increased by 120.</li>
                    <li class="prestige-list-item">· Antimalus 10%.</li>
                </ul>
                <div class="Video">
                    <video controls width="400px">
                        <source src="../../assets/img/prestiges/p9/GodOfVoid/God4.mp4" type="video/mp4">
                        Your browser doesn't support the video tag.
                    </video>
                </div>
            </div>
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Asgobas Instant Combat --</h2>
            <p class="prestige-text">
                During Asgobas IC you will face Dragon Lord Asgobas that will Retreat every time his HP Bar is reduced
                by 50%. <br />
                The Asgobas Instant Combat ends when Max HP of Dragon Lord Asgobas reaches 50%.
            </p>
            <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/Asgobas.png" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/mobs.png" alt="">
                </div>
                <ul class="prestige-list">
                    <li class="prestige-list-item">Every time Asgobas returns to the ground he will spawn (near him):
                    </li>
                    <li class="prestige-list-item">· Giant Lava Dragon</li>
                    <li class="prestige-list-item">· Asgobas Child</li>
                    <li class="prestige-list-item">· Dragon Army's Dragon</li>
                </ul>
            </div><br />

            <p class="prestige-text">
                During 2nd and 4th Retreat a new mini boss Golden Undead Dragon will spawn. <br />
                That will make Dragon Lord Asgobas almost immortal. <br />
                You need to kill him to get rid of the buff inflicted on Asgobas.
            </p>
            <div class="d-flex justify-content-center"><img src="../../assets/img/prestiges/p9/UndeadDragon.png" alt="">
            </div>
            <ul class="prestige-list">
                <li class="prestige-list-item">Every minute the Golden Undead Dragon is alive, will use
                    his special skill that will spawn Blessed Dragons. <img width="50px"
                        src="../../assets/img/prestiges/p9/mob4.png" alt=""></li>
                <li class="prestige-list-item"><i>IMPORTANT: Only Dragon Health Potion works in Asgobas IC. All Other
                        potions can't be used!</i></li>
            </ul><br />

            <p class="prestige-text">
                <b class="prestige-title-4">Rewards</b>
            </p>
            <div class="container">
                <ul class="prestige-list">
                    <li class="prestige-list-item"><b>Every completed Retreat:</b></li>
                    <li class="prestige-list-item">· Dragon Health Potion x2</li>
                    <li class="prestige-list-item">· Dragon Mana Potion x2</li>
                    <li class="prestige-list-item">· Dragon Leather x1</li>
                    <li class="prestige-list-item">· Gold 250-300K Stacks</li>
                    <li class="prestige-list-item">· Dratanium x1 (2nd and 3rd Retreat)</li>
                    <li class="prestige-list-item">· Dratanium x7 (On ground retreat 1 and 2)</li>
                    <li class="prestige-list-item"> <br /> </li>
                    <li class="prestige-list-item"> <br /> </li>

                    <li class="prestige-list-item"><b>Finished Asgobas IC Reward:</b></li>
                    <li class="prestige-list-item">· Asgobas Box R1-R8</li>
                </ul>
                <ul class="prestige-list">
                    <li class="prestige-list-item"><b>R1 to R6 Boxes may contain:</b></li>
                    <li class="prestige-list-item">· Dragon Health Potion x50</li>
                    <li class="prestige-list-item">· Dragon Mana Potion x50</li>
                    <li class="prestige-list-item">· Angel's Feather x200</li>
                    <li class="prestige-list-item">· Full Moon x100</li>
                    <li class="prestige-list-item">· Leather Dragon x10</li>
                    <li class="prestige-list-item">· Dragon Rock Fragment x5</li>
                    <li class="prestige-list-item">· Ancient Dragon Runestone x1</li>
                    <li class="prestige-list-item">· Ice Dragon Energy x1</li>
                    <li class="prestige-list-item">· Moonlight Dragon Energy x1</li>
                    <li class="prestige-list-item">· Fire Dragon Energy x1</li>
                    <li class="prestige-list-item">· Sky Dragon Energy x1</li>
                </ul>
                <ul class="prestige-list">
                    <li class="prestige-list-item"><b>R7 and R8 Boxes may contain:</b></li>
                    <li class="prestige-list-item">All of the previous, plus</li>
                    <li class="prestige-list-item">· Dragon Rock x1</li>
                    <li class="prestige-list-item">· Angelic Horn x1</li>
                    <li class="prestige-list-item">· Vengeful Draco Horn x1</li>
                    <li class="prestige-list-item">· Ice Dragon Energy x1</li>
                    <li class="prestige-list-item">· Moonlight Dragon Energy x1</li>
                    <li class="prestige-list-item">· Fire Dragon Energy x1</li>
                    <li class="prestige-list-item">· Sky Dragon Energy x1</li>
                </ul>
            </div>
        </article> <br /> <br /> <br />

        <div>
            <article class="prestige-article">
                <h2 class="prestige-title-2">-- Raids --</h2>
                <p class="prestige-text">
                    <img src="../../assets/img/prestiges/p9/raids/Valehir/seal.png" alt="">
                    <b class="prestige-title-4"> Zombie Dragon Valehir Raid </b>
                    <img src="../../assets/img/prestiges/p9/raids/Valehir/seal.png" alt="">
                </p>
                <div class="raid">
                    <div class="rooms">
                        <div class="s">
                            <b class="prestige-title-4">Room 1</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Valehir/r1.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Valehir/r1.png" alt=""> <br />
                            </a>
                            Levers: 7 <br />
                            Monsters to kill: 1
                        </div>
                        <div class="s">
                            <b class="prestige-title-4">Room 2</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Valehir/r2.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Valehir/r2.png" alt=""> <br />
                            </a>
                            Levers: 3 <br />
                            Monsters to kill: 3
                        </div>
                        <div class="s">
                            <b class="prestige-title-4">Room 3</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Valehir/r3.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Valehir/r3.png" alt=""> <br />
                            </a>
                            Levers: 0 <br />
                            Monsters to kill: 1
                        </div>
                    </div><br />
                    <div class="prestige-grid-2">
                        <div>
                            <p class="prestige-text">
                                The boss will occasionally inflict Valehir's Weak Dragon Venom effect. <br />
                                Which you can remove by using <b>Anti-Venom Potion</b> that is obtainable from Potion
                                NPC.
                            </p>
                            <div class="d-flex justify-content-center"><img width="220px"
                                    src="../../assets/img/prestiges/p9/raids/Valehir/potion.png" alt=""></div> <br />
                            <br />
                        </div>
                        <div>
                            <p class="prestige-text">
                                <b class="prestige-title-4">Rewards</b>
                            </p>
                            <ul class="prestige-list">
                                <li class="prestige-list-item">1x Valehir's Wing</li>
                                <li class="prestige-list-item"> <br /> </li>

                                <li class="prestige-list-item"><b>Valehir Box:</b></li>
                                <li class="prestige-list-item">· 1x Dragon Crystal Weapon (3%)</li>
                                <li class="prestige-list-item">· 1x Dragon Crystal Equipment (6%)</li>
                                <li class="prestige-list-item">· SP9 Perfection x300 (10%)</li>
                                <li class="prestige-list-item">· SP10 Perfection x300 (8%)</li>
                                <li class="prestige-list-item">· 5x Golden Lump (20%)</li>
                                <li class="prestige-list-item">· 1x Dragon Health Potion (15%)</li>
                                <li class="prestige-list-item">· 2x Dragon Mana Potion (15%)</li>
                            </ul>
                        </div>
                    </div>
                </div> <br /> <br />
            </article>
            <article class="prestige-article">
                <p class="prestige-text">
                    <img src="../../assets/img/prestiges/p9/raids/Alzanor/seal.png" alt="">
                    <b class="prestige-title-4"> Ice Dragon Alzanor Raid </b>
                    <img src="../../assets/img/prestiges/p9/raids/Alzanor/seal.png" alt="">
                </p>
                <div class="raid">
                    <div class="rooms">
                        <div class="s">
                            <b class="prestige-title-4">Room 1</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Alzanor/r1.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Alzanor/r1.png" alt=""> <br />
                            </a>
                            Levers: 6 <br />
                            Monsters to kill: 9
                        </div>
                        <div class="s">
                            <b class="prestige-title-4">Room 2</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Alzanor/r2.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Alzanor/r2.png" alt=""> <br />
                            </a>
                            Levers: 8 <br />
                            Monsters to kill: 6
                        </div>
                        <div class="s">
                            <b class="prestige-title-4">Room 3</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/Alzanor/r3.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/Alzanor/r3.png" alt=""> <br />
                            </a>
                            Levers: 0 <br />
                            Monsters to kill: 1
                        </div>
                    </div>

                    <p class="prestige-text">
                        During the fight with final boss Ice Dragon Alzanor, players will need to hide behind one of the
                        5
                        Frost Deflectors.<br />
                        Which act as a Shield against the bosses' one shot mechanic. <br />
                        Only 1 of the 5 spawned Frost Deflectors is true, you will need to destroy all fake ones and
                        stand
                        near the true one to survive. <br /><br />
                    </p>
                    <div class="prestige-grid-2">
                        <div>
                            <p class="prestige-text">
                                The boss will occasionally inflict Alzanor's Bitter Cold effect.<br />
                                Which you can remove using <b>Anti-Cold Potion</b> that is obtainable from Potion NPC.
                            </p>
                            <div class="d-flex justify-content-center"><img width="220px"
                                    src="../../assets/img/prestiges/p9/raids/Alzanor/potion.png" alt=""></div>
                        </div>
                        <div>
                            <p class="prestige-text">
                                <b class="prestige-title-4">Rewards</b>
                            </p>
                            <ul class="prestige-list">
                                <li class="prestige-list-item">1x Alzanor's Tail</li>
                                <li class="prestige-list-item"> <br /> </li>

                                <li class="prestige-list-item"><b>Alzanor Box:</b></li>
                                <li class="prestige-list-item">· 1x Dragon Crystal Secondary (3%)</li>
                                <li class="prestige-list-item">· 1x Dragon Crystal Equipment (6%)</li>
                                <li class="prestige-list-item">· SP9 Perfection x300 (10%)</li>
                                <li class="prestige-list-item">· SP10 Perfection x300 (8%)</li>
                                <li class="prestige-list-item">· 5x Golden Lump (20%)</li>
                                <li class="prestige-list-item">· 1x Dragon Health Potion (15%)</li>
                                <li class="prestige-list-item">· 2x Dragon Mana Potion (15%)</li>
                            </ul>
                        </div>
                    </div>
                </div> <br /> <br />
            </article>
            <article class="prestige-article">
                <p class="prestige-text">
                    <img src="../../assets/img/prestiges/p9/raids/BlackHand/seal.png" alt="">
                    <b class="prestige-title-4"> Black Hand Raid </b>
                    <img src="../../assets/img/prestiges/p9/raids/BlackHand/seal.png" alt="">
                </p>
                <div class="raid">
                    <div class="rooms">
                        <div class="s">
                            <b class="prestige-title-4">Room 1</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/BlackHand/r1.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/BlackHand/r1.png" alt=""> <br />
                            </a>
                            Levers: 6 <br />
                            Monsters to kill: 3
                        </div>
                        <div class="s">
                            <b class="prestige-title-4">Room 2</b> <br />
                            <i class="light">*Click image to open*</i> <br />
                            <a href="/assets/img/prestiges/p9/raids/BlackHand/r2.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/raids/BlackHand/r2.png" alt=""> <br />
                            </a>
                            Levers: 0 <br />
                            Monsters to kill: 1
                        </div>
                    </div>
                    <p class="prestige-text">
                        In the boss room, you'll face the 4 SP9 Spirits. <br />
                        Once they die, they will spawn the relative SP NPC that will help you against the Giant Undead
                        Hand.
                        <br />
                        Until the 4 Spirits are alive, you aren't able to attack the Giant Hand, which will periodically
                        deal AoE dmg.
                    </p> <br /> <br />

                    <p class="prestige-text">
                        <b class="prestige-title-4">Rewards</b>
                    </p>
                    <ul class="prestige-list">
                        <li class="prestige-list-item">1x Monster Hand</li>
                        <li class="prestige-list-item"> <br /> </li>

                        <li class="prestige-list-item"><b>Black Hand Box:</b></li>
                        <li class="prestige-list-item">· 1x Dragon Crystal Armor (3%)</li>
                        <li class="prestige-list-item">· 1x Dragon Crystal Equipment (6%)</li>
                        <li class="prestige-list-item">· SP9 Perfection x300 (10%)</li>
                        <li class="prestige-list-item">· SP10 Perfection x300 (8%)</li>
                        <li class="prestige-list-item">· 5x Golden Lump (20%)</li>
                        <li class="prestige-list-item">· 1x Dragon Health Potion (15%)</li>
                        <li class="prestige-list-item">· 2x Dragon Mana Potion (15%)</li>
                    </ul>
                </div>
            </article> <br /> <br /> <br />
        </div>

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Quests --</h2>

            <div class="prestige-grid-2">
                <div class="m-2">
                    <h4 class="prestige-title-4">Daily Quest</h4>
                    <ul class="prestige-list">
                        <li class="prestige-list-item">· Complete 3x of P9 Raids</li>
                        <li class="prestige-list-item">Reward: 5x Random Amulet Box</li>
                        <li class="prestige-list-item"> <br /> </li>

                        <li class="prestige-list-item">· Complete 3x of P9 Raids</li>
                        <li class="prestige-list-item">Reward: 1 Carve Rune Box</li>
                        <li class="prestige-list-item"> <br /> </li>

                        <li class="prestige-list-item">· Complete 3 AoT</li>
                        <li class="prestige-list-item">Reward: 1 Carve Rune Box</li>
                        <li class="prestige-list-item"> <br /> </li>

                        <li class="prestige-list-item">· Complete 50 kills in Glace</li>
                        <li class="prestige-list-item">Reward: 1 Carve Rune Box</li>
                        <li class="prestige-list-item"> <br /> </li>

                    </ul>
                </div>
                <div class="m-2">
                    <h4 class="prestige-title-4">Weekly Quest</h4>
                    <ul class="prestige-list">
                        <li class="prestige-list-item">· Complete successfully 1 times Asgobas IC</li>
                        <li class="prestige-list-item">· Complete successfully 1 times Caligor Event</li>
                        <li class="prestige-list-item">· Complete 1 Raid in Act4</li>
                        <li class="prestige-list-item">Reward: 5x Ancient Dragon Runestone, 135 Dratanium</li>
                        <li class="prestige-list-item"> <br /> </li>

                        <li class="prestige-list-item">· Kill 15x Asgobas Child, 15x Dragon Army's Dragon Harpy and 15x
                            Giant Lava Dragon</li>
                        <li class="prestige-list-item">Reward: 1x Asgobas Lottery Ticket</li>
                        <li class="prestige-list-item"> <br /> </li>
                    </ul>
                </div>
            </div>
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Equipment Crafting --</h2>
            <div class="crafting box">
                <div class="set">
                    <div class="s">
                        <b class="prestige-title-4">Primary</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/p1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/p2.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/p3.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/p4.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Angelic Horn<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            C60 Primary Weapon<br />
                            <i class="light">(Obtained from: P8)</i><br /><br />

                            1x Vengeful Draco<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            3x Dragon's Rock<br />
                            <i class="light">(Obtained from: Asgobas box)</i><br /><br />

                            4x Dragon Crystal Weapon<br />
                            <i class="light">(Obtained from: Valehir box)</i><br /><br />

                            1x Blacksmith's Medal<br />
                            <i class="light">(Obtained from: AoT)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">Secondary</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/s1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/s2.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/s3.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/s4.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Angelic Horn<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            C60 Secondary Weapon<br />
                            <i class="light">(Obtained from: P8)</i><br /><br />

                            1x Vengeful Draco<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            3x Dragon's Rock<br />
                            <i class="light">(Obtained from: Asgobas box)</i><br /><br />

                            4x Dragon Crystal Secondary Weapon<br />
                            <i class="light">(Obtained from: Alzanor box)</i><br /><br />

                            1x Blacksmith's Medal<br />
                            <i class="light">(Obtained from: AoT)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">Armor</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/a1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/a2.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/a3.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Equipment/a4.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Angelic Horn<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            C60 Armor<br />
                            <i class="light">(Obtained from: P8)</i><br /><br />

                            1x Vengeful Draco<br />
                            <i class="light">(Obtained from: Caligor's Gucci Box, Asgobas box R7-8)</i><br /><br />

                            3x Dragon's Rock<br />
                            <i class="light">(Obtained from: Asgobas box)</i><br /><br />

                            4x Dragon Crystal Armor<br />
                            <i class="light">(Obtained from: BlackHand box)</i><br /><br />

                            1x Blacksmith's Medal<br />
                            <i class="light">(Obtained from: AoT)</i>
                        </p>
                    </div>
                </div>
            </div>
        </article> <br /> <br />
        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Accessory Crafting --</h2>
            <b>NOTE:</b> <i>You will need <img src="../../assets/img/prestiges/p9/Crafting/Accessory/cellon11.png" alt="">Cellon 11 for new accesories.</i>
            <div class="crafting">
                <div class="set box">
                    <div class="s">
                        <b class="prestige-title-4">Draconian Bracelet</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Accessory/bracelet.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Draconian Spirit<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            4x Dragon Bone<br />
                            <i class="light">(Obtained from: Caligor's Gucci box)</i><br /><br />

                            1x Gold Medal<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            7x Alzanor's Tail<br />
                            <i class="light">(Obtained from: Alzanor Raid)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">Draconian Ring</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Accessory/ring.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Draconian Body<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            4x Dragon Bone<br />
                            <i class="light">(Obtained from: Caligor's Gucci box)</i><br /><br />

                            1x Gold Medal<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            7x Valehir's Wings<br />
                            <i class="light">(Obtained from: Valehir Raid)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">Draconian Necklace</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Accessory/necklace.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Draconian Spirit<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            4x Dragon Bone<br />
                            <i class="light">(Obtained from: Caligor's Gucci box)</i><br /><br />

                            1x Gold Medal<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            7x Monster Hand<br />
                            <i class="light">(Obtained from: BlackHand Raid)</i>
                        </p>
                    </div>
                </div><br />
                <div class="box">
                    <p class="prestige-text">
                        <b class="prestige-title-4">How to get Cellon 11:</b> <br />
                    </p>
                    <ul class="prestige-list">
                        <li class="prestige-list-item">· Drops on the ground during Asgobas Instant Combat.</li>
                        <li class="prestige-list-item">· From Asgobas Lottery Box.</li>
                        <li class="prestige-list-item">· You can exchange Cellon 10 (4x) for Cellon 11 (1x) On Prestige 9 Area.</li>
                    </ul>
                </div>
            </div>
        </article> <br /> <br />
        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Resistance Crafting --</h2>
            <div class="crafting box">
                <div class="set">
                    <div class="s">
                        <b class="prestige-title-4">A4 Resistances</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/a4_1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/a4_2.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            3x Every Raid Essence<br />
                            <i class="light">(Obtained from: A4 Raids)</i><br /><br />

                            5x Dragon Crystal Equipment<br />
                            <i class="light">(Obtained from: P9 Raid boxes)</i><br /><br />

                            30x Lost War Helmet<br />
                            <i class="light">(Obtained from: Kills in A4)</i><br /><br />

                            100x Dragon Leather<br />
                            <i class="light">(Obtained from: Asgobas IC)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">RBB Resistances</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/rbb_1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/rbb_2.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            8x Gold Medal<br />
                            <i class="light">(Obtained from: AoT)</i><br /><br />

                            12x Dragon Crystal Equipment<br />
                            <i class="light">(Obtained from: P9 Raid boxes)</i><br /><br />

                            100x Dragon Leather<br />
                            <i class="light">(Obtained from: Asgobas IC)</i>
                        </p>
                    </div>
                    <div class="s">
                        <b class="prestige-title-4">HP Resistances</b><br />
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/hp_1.png" alt="">
                        <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Resistance/hp_2.png" alt="">
                        <br /><br />
                        <p class="prestige-text">
                            1x Draconian Spirit<br />
                            <i class="light">(Obtained from: Asgobas R7-8 box)</i><br /><br />

                            3x Magic Undead Dragon Fang<br />
                            <i class="light">(Obtained from: LoL mini-boss)</i><br /><br />

                            100x Dragon Leather<br />
                            <i class="light">(Obtained from: Asgobas IC)</i>
                        </p>
                    </div>
                </div>
                <p class="prestige-text">
                    <i>(All resistances have 13% to all.)</i>
                </p>
            </div>
        </article> <br /> <br />
        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Costume and Skin Crafting--</h2>
            <p class="prestige-text">
                <b class="prestige-title-4">Rocketeer Outfit Set</b><br />
                <a href="/assets/img/prestiges/p9/Crafting/Other/RocketeerNew.png" target="_blank"
                    rel="noopener noreferrer">
                    <img src="../../assets/img/prestiges/p9/Crafting/Other/RocketeerNew.png" alt="">
                </a> <br />
                <i class="light">*Click image to open*</i> <br />
                <i>Obtainable from: Lottery IC / Fortune Wheel</i>
            </p> <br /> <br />

            <div class="prestige-grid-2v">
                <div>
                    <p class="prestige-text">
                        <b class="prestige-title-4">PvE Skins</b><br />
                    </p>
                    <div class="prestige-grid-2">
                        <div>
                            <b>Heavenly Skins</b> <br />
                            <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/heavenS.png" alt="">
                            <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/heavenB.png" alt="">
                            <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/heavenW.png" alt="">
                            <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/heavenF.png" alt="">
                            <br /><br />

                            Obtainable In <b>NPC Craft</b>: <br />
                            · 2x Dragon Rock<br />
                            · 60x Alzanor's Tail<br />
                            · 60x Valehir's Wings<br />
                            · 60x Monster Hand
                        </div>
                        <div>
                            <a href="/assets/img/prestiges/p9/Crafting/Other/heaven7.png" target="_blank"
                                rel="noopener noreferrer">
                                <img src="../../assets/img/prestiges/p9/Crafting/Other/heaven7.png" alt="">
                            </a> <br />
                            <i class="light">*Click image to open*</i>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <p class="prestige-text">
                        <b class="prestige-title-4">PvP Skins</b><br />
                    </p>
                    <div class="prestige-grid-2">
                        <div>
                            <b>Hellord Skins</b> <br />
                            <a href="/assets/img/prestiges/p9/Crafting/Other/sword.png" target="_blank"
                                rel="noopener noreferrer">
                                <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/hellS.png" alt="">
                            </a>
                            <a href="/assets/img/prestiges/p9/Crafting/Other/bow.png" target="_blank"
                                rel="noopener noreferrer">
                                <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/hellB.png" alt="">
                            </a>
                            <a href="/assets/img/prestiges/p9/Crafting/Other/wand.png" target="_blank"
                                rel="noopener noreferrer">
                                <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/hellW.png" alt="">
                            </a>
                            <a href="/assets/img/prestiges/p9/Crafting/Other/fist.png" target="_blank"
                                rel="noopener noreferrer">
                                <img width="45px" src="../../assets/img/prestiges/p9/Crafting/Other/hellF.png" alt="">
                            </a>
                            <br />
                            <i class="light">*Click icon to open buff*</i>
                        </div>
                        <div>
                            Obtainable In <b>NPC Craft</b>: <br />
                            · 2x Dragon Rock<br />
                            · 60x Alzanor's Tail<br />
                            · 60x Valehir's Wings<br />
                            · 60x Monster Hand
                        </div>
                    </div>
                </div>
            </div>
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Pets and Partner SPs --</h2>

            <p class="prestige-text">
                <b class="prestige-title-4">Mini Asgobas</b>
            </p>
            <div class="prestige-grid-2v">
                <div class="right">
                    <img width="300px" src="../../assets/img/prestiges/p9/Asgobas.png" alt="">
                </div>
                <div>
                    <a href="/assets/img/prestiges/p9/asgobuff.png" target="_blank" rel="noopener noreferrer">
                        <img width="400px" src="../../assets/img/prestiges/p9/asgobuff.png" alt=""> <br />
                    </a>
                    <i class="light">*Click image to open*</i>
                </div>
            </div> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Mini Valehir</b>
            </p>
            <div class="prestige-grid-2v">
                <div class="right">
                    <img width="300px" src="../../assets/img/prestiges/p9/Valehir.png" alt="">
                </div>
                <div>
                    <a href="/assets/img/prestiges/p9/valebuff.png" target="_blank" rel="noopener noreferrer">
                        <img width="400px" src="../../assets/img/prestiges/p9/valebuff.png" alt=""> <br />
                    </a>
                    <i class="light">*Click image to open*</i>
                </div>
            </div> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Mini Alzanor</b>
            </p>
            <div class="d-flex justify-content-center"><img width="300px"
                    src="../../assets/img/prestiges/p9/Alzanor.png" alt=""></div>
            <p class="prestige-text box">
                Mini Alzanor will not give any Buff to the player, instead he will have a lot of damage himself.<br />
                He will have Attack and Defence +10, all resistances 120%, a lot of HP and AoE attacks.<br />
                <br />
                <b>Orange Effects</b>: There's a 95% chance that all dmg are decreased by 85%.<br />
                On hit, there's a 25% chance to trigger following effect "Valehir's Heart"<br />
                <b>Valehir's Heart</b>: Movement speed increased by 3, DMG Increased by 120%
            </p> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Jinn PSP</b>
            </p>
            <div class="prestige-grid-2">
                <div class="right">
                    <img width="150px" src="../../assets/img/prestiges/p9/Jinn.png" alt="">
                </div>
                <div>
                    <a href="/assets/img/prestiges/p9/jinnbuff.png" target="_blank" rel="noopener noreferrer">
                        <img src="../../assets/img/prestiges/p9/jinnbuff.png" alt=""> <br />
                    </a>
                    <i class="light">*Click image to open*</i>
                </div>
            </div> <br />
            All are obtainable in: Lottery IC / Fortune Wheel
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Power of The Weapons --</h2>
            <p class="prestige-text">
                <b class="prestige-title-4">What is Draconic Power</b><br />
                Draconic Power is an item to further perfect your weapons, there are 2 types of Draconic Powers, <br />
                PvP and PvE and are only usable on primary and secondary weapons
            </p>
            <div class="prestige-grid-2">
                <div>
                    <p class="prestige-text">
                        <b class="prestige-title-4">PvE</b><br />
                        <img src="../../assets/img/prestiges/p9/PowerOfTheWeapons/PvE.png" alt=""> <br />
                        <b>Where to Craft:</b><br />
                        Prestige 9 Special Items NPC
                    </p>
                </div>
                <div>
                    <p class="prestige-text">
                        <b class="prestige-title-4">PvP</b><br />
                        <img src="../../assets/img/prestiges/p9/PowerOfTheWeapons/PvP.png" alt=""><br />
                        <b>Materials for crafting:</b><br />
                        · 5x Angelic Horn<br />
                        · 5x Vengeful Draco Horn
                    </p>
                </div>
            </div>
            <p class="prestige-text">
                If you want to change Draconic Power that is currently in the weapon, <br />
                you will need to use the <b>Change Draconic Power</b> item available <b>ONLY</b> from the
                store.<br /><br />
                <img src="../../assets/img/prestiges/p9/PowerOfTheWeapons/Change.png" alt="">
            </p>
        </article> <br /> <br /> <br />

        <article class="prestige-article">
            <h2 class="prestige-title-2">-- Armor Carve --</h2>
            <p class="prestige-text">
                Armor Carve Runes work the same as Weapon Carve Runes but the only difference <br />
                is the materials that are needed to upgrade. <br />
                You can upgrade the carve on armor with both: <br />
                <b>Rune of Fortune Scroll</b> and <b>Premium Rune of Fortune Scroll</b>.
            </p> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Materials Needed</b><br />
            </p>
            <div class="prestige-grid-2 box">
                <p class="prestige-text">
                    <li>Dragon Soul<img src="../../assets/img/prestiges/p9/Carve/1.png" alt=""> </li>
                    <li><i class="light">From: World Bosses / P9 Daily Box</i></li>
                    <li> <br /> </li>

                    <li>Runic Dragon Powder<img src="../../assets/img/prestiges/p9/Carve/2.png" alt=""> </li>
                    <li><i class="light">From: World Bosses / P9 Daily Box</i></li>
                    <li> <br /> </li>

                    <li>Dratanium<img src="../../assets/img/prestiges/p9/Carve/3.png" alt=""> </li>
                    <li><i class="light">From: As drop on Asgobas IC and P9 Weekly Quest</i></li>
                    <li> <br /> </li>

                    <li>Ice Dragon Energy<img src="../../assets/img/prestiges/p9/Carve/4.png" alt=""> </li>
                    <li><i class="light">From: Asgobas' IC box</i></li>
                    <li> <br /> </li>

                    <li>Fire Dragon Energy<img src="../../assets/img/prestiges/p9/Carve/5.png" alt=""> </li>
                    <li><i class="light">From: Asgobas' IC box</i></li>
                </p>
                <p class="prestige-text">
                    <li>Moonlight Dragon Energy<img src="../../assets/img/prestiges/p9/Carve/6.png" alt=""> </li>
                    <li><i class="light">From: Asgobas' IC box</i></li>
                    <li> <br /> </li>

                    <li>Sky Dragon Energy<img src="../../assets/img/prestiges/p9/Carve/7.png" alt=""> </li>
                    <li><i class="light">From: Asgobas' IC box</i></li>
                    <li> <br /> </li>

                    <li>Ancient Dragon Runestone<img src="../../assets/img/prestiges/p9/Carve/8.png" alt=""> </li>
                    <li><i class="light">From: P9 Weekly Quest</i></li>
                    <li> <br /> </li>

                    <li>Corrupted Celestial Spire Fragment<img src="../../assets/img/prestiges/p9/Carve/9.png" alt="">
                    </li>
                    <li><i class="light">From: Carve Rune Box 1</i></li>
                </p>
            </div> <br /> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Available Bonuses</b><br />
                · All elemental resistance is increased by 3 (Max 20) <br />
                · All defence powers are increased by 50 (Max 300). <br />
                · Defence is increased by 3% (Max 18%). <br />
                · Your specialist's defence skill points are increased by 1 (Max 5). <br />
                · Increases maximum HP by 1% (Max 13%). <br />
                · Your specialist's HP/MP skill points are increased by 1 (Max 5). <br />
                · Increases maximum MP by 1% (Max 13%). <br />
                · With a 100% probability all elemental damage is reduced by 2% (Max 25%). <br />
                · Damage from critical hits is reduced by 4% (Max 25%). <br />
                · Probability to receive critical hits is decreased by 1% (Max 12%). <br />
            </p>
            <b>NOTE</b>: You can use same scroll as weapon one. <br /> <br /> <br />

            <p class="prestige-text">
                <b class="prestige-title-4">Available Powers</b><br />
            </p>
            <div class="prestige-grid-2v box center">
                <div>
                    Power of Conversion <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/conversion.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/conversion.png" alt=""> <br /><br />
                    </a>

                    Power of Instinct <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/instinct.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/instinct.png" alt=""> <br /><br />
                    </a>

                    Power of Unyielding <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/unyielding.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/unyielding.png" alt=""> <br /><br />
                    </a>

                    Power of Healing <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/healing.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/healing.png" alt=""> <br /><br />
                    </a>

                    Power of Cleansing Armour <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/cleansing.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/cleansing.png" alt=""> <br /><br />
                    </a>

                    Power of Regeneration <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/RegenerationNew.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/RegenerationNew.png" alt="">
                    </a>
                </div>
                <div>
                    Power of Blood <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/blood.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/blood.png" alt=""> <br /><br />
                    </a>

                    Power of the Flame <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/flame.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/flame.png" alt=""> <br /><br />
                    </a>

                    Power of Purity <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/purity.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/purity.png" alt=""> <br /><br />
                    </a>

                    Power of Resistance <i class="light">*Click image to open*</i> <br />
                    <a href="/assets/img/prestiges/p9/Carve/resistance.png" target="_blank" rel="noopener noreferrer">
                        <img width="420px" src="../../assets/img/prestiges/p9/Carve/resistance.png" alt=""> <br /><br />
                    </a>
                </div>
            </div>
        </article><br /> <br /> <br /> <br />
        Guide prepared by Sikario, added on wiki by Blauker
    </section>
</main>
