.helmets-masks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 0;
}

.helmet-mask-container {
    padding: 1em;
}

.helmet-mask-infos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.helmets-masks-container {
    margin-top: 2em;
}

/* Titles */

.helmets-masks-title-2, 
.helmets-masks-title-1 {
    font-family: 'Edu SA Beginner', cursive;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    line-height: 1.2em;
}

.helmets-masks-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.helmets-masks-title-2 {
    font-size: 2.5rem;
}

.helmets-masks-title-3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.2em;
}

.helmet-mask-text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2em;
}

/* Filter */

.helmets-masks-select {
    background-color: var(--void-clr);
    border: none;
    padding: .5em;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
}

.helmets-masks-select option {
    color: white;
}

/* Media queries */
@media all and (min-width: 1140px) {
    .helmet-mask-infos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2em;
    }

    .helmet-mask-infos > div {
        padding: 1em 3em;
    }

    .helmets-masks {
        width: 75%;
    }
}