<div class="d-flex justify-content-center">
    <section class="sp-upgrade">
        <h1 class="sp-upgrade-title-1">SP Upgrade</h1>

        <div class="upgrade-system">
            <h2 class="sp-upgrade-title-2">Upgrading +0 to +15</h2>
            <h3 class="sp-upgrade-title-3">How to get scrolls?</h3>
            <p class="sp-upgrade-text">You can get them in Maru raid boxes or you can buy them at the Alchemist.</p>
            
            <h3 class="sp-upgrade-title-3">How to get materials?</h3>
            <p class="sp-upgrade-text">You can get them in some raid boxes or farm them in farm maps.</p>
            <img class="img-responsive" src="../../assets/img/specialists/upgrade/farm_maps.png" alt="Farm Maps">
            
            <h3 class="sp-upgrade-title-3">
                <b>Note that scrolls will be used as long as you have enough materials in your inventory to try.</b>
            </h3>
            
            <h2 class="sp-upgrade-title-2">Upgrading +16 to +20</h2>
            <h3 class="sp-upgrade-title-3">
                Upgrading from +16 to +20 works the same way except that it requires a new scroll and a new material.
            </h3>
            <p class="sp-upgrade-text">
                You can obtain 20x Dragon Card Protection Scrolls after completing an Act4 raid. <br>
                The new material is Dragon Gem. You can craft them with Blood-Red Rubies at Dragon Gem NPC in Act4 Citadel (1x Blood-Red Ruby gives 5x Dragon Gems).
            </p>

            <h2 class="sp-upgrade-title-2">SP +20</h2>
            <p class="sp-upgrade-text">
                After upgrading a SP +20, while attacking you have a 5% chance to activate the <b>Dragon Blessing</b>, which is basically a "stronger" Onyx effect. <br>
                To this Dragon Blessing, you can add an additional buff. To add a buff, you need to craft an <b>Elemental Gemstone</b> at the Elemental Gemstones NPC in Act4 Citadel. The buff will be activated when the Dragon Blessing appears.
            </p>
            <div class="gem-buffs d-flex">
                <div class="gem-buff">
                    <h3 class="sp-upgrade-title-3">Fire Dragon Gem</h3>
                    <img class="img-responsive" src="../../assets/img/specialists/upgrade/fire_buff.png" alt="Fire Dragon Gem">
                </div>
                <div class="gem-buff">
                    <h3 class="sp-upgrade-title-3">Celestial Dragon Gem</h3>
                    <img class="img-responsive" src="../../assets/img/specialists/upgrade/celestial_buff.png" alt="Celestial Dragon Gem">
                </div>
                <div class="gem-buff">
                    <h3 class="sp-upgrade-title-3">Ice Dragon Gem</h3>
                    <img class="img-responsive" src="../../assets/img/specialists/upgrade/ice_buff.png" alt="Ice Dragon Gem">
                </div>
                <div class="gem-buff">
                    <h3 class="sp-upgrade-title-3">Moonlight Dragon Gem</h3>
                    <img class="img-responsive" src="../../assets/img/specialists/upgrade/moonlight_buff.png" alt="Moonlight Dragon Gem">
                </div>
            </div>

            <h2 class="sp-upgrade-title-2">SP Points Table</h2>
            <a href="../../assets/img/specialists/upgrade/points_table.png" class="img-link">
                <img class="img-responsive" src="../../assets/img/specialists/upgrade/points_table.png" alt="SP Points Table">
            </a>
        </div>
    </section>
</div>

<style>
    body {
        background: #1f1f1f;
        color: #f1f1f1;
        font-family: 'Verdana', sans-serif;
    }

    .sp-upgrade-title-1 {
        font-size: 2.8em;
        color: #ffcc00;
        text-align: center;
        text-shadow: 1px 1px 5px #000;
        margin-bottom: 20px;
    }

    .sp-upgrade-title-2 {
        font-size: 2.2em;
        color: #ff9933;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sp-upgrade-title-3 {
        font-size: 1.8em;
        color: #00ccff;
        margin-top: 20px;
    }

    .sp-upgrade-text {
        font-size: 1.4em;
        color: #f0f0f0;
        margin-bottom: 15px;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .d-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gem-buffs {
        margin-top: 20px;
    }

    .gem-buff {
        text-align: center;
        margin: 10px;
    }

    .img-link {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
</style>
