<div class="d-flex justify-content-center">
    <section class="sp-upgrade">
        <h1 class="sp-upgrade-title-1">SP Ugrade</h1>

        <div class="upgrade-system">
            <h2 class="sp-upgrade-title-2">Upgrading +0 to +15</h2>
            <h3 class="sp-upgrade-title-3">How to get scrolls ?</h3>
            <p class="sp-upgrade-text">You can get them in Maru raid boxes or you can buy them at Alchemist</p>
            <h3 class="sp-upgrade-title-3">How to get materials ?</h3>
            <p class="sp-upgrade-text">You can get them in some raid boxes or you can farm them in farm maps</p>
            <img src="../../assets/img/specialists/upgrade/farm_maps.png" alt="">
            
            <h3 class="sp-upgrade-title-3">
                <b>
                    Note that scrolls will be used as long as you have enough materials in your inventory to 
                    try.
                </b>
            </h3>
            
            <h2 class="sp-upgrade-title-2">Upgrading +16 to +20</h2>
            <h3 class="sp-upgrade-title-3">
                Upgrading from +16 to +20 works the same way except that it requires a new scroll and a new 
                material.
            </h3>
            <p class="sp-upgrade-text">
                You can obtain 20x Dragon Card Protection Scrolls after completing an Act4 raid. <br>
                The new material is Dragon Gem. You can craft them with Blood-Red Rubies at Dragon Gem 
                NPC in Act4 Citadel (1x Blood-Red Ruby gives 5x Dragon Gems).
            </p>
        </div>
    </section>
</div>