<div class="d-flex justify-content-center w-100">
    <section class="tattoo-carve">
        <h1 class=""><img width="900px" src="../../assets/img/vessel/logo.png"  alt="" style="border: 4px solid rgb(223, 116, 214); border-radius: 15px 50px 30px;" ></h1>
        
        <h1 class="sg-tit-2">What is Sealed Vessel Event?<hr></h1>
        <br/>
        <br/>
        <div class="w-75">
          <hr>
          <p class="sg-text" >
            OPEN &nbsp;<img width="35px" src="../../assets/img/vessel/vessel_icon.png"  alt="" ><b> &nbsp;SEALED VESSEL</b> TO RELEASE MONSTERS IN ANY MAP (EXCEPT SPECIAL MAPS). <br/><br/>
            KILL MINI BOSSES FROM SEALED VESSEL TO RECEIVE&nbsp; <img width="35px" src="../../assets/img/vessel/treasure_icon.png"  alt="" >&nbsp; <b>SEALED TREASURE CHEST</b> (100% CHANCE) <br/>& <img width="35px" src="../../assets/img/vessel/special_chest.png"  alt="" >SEALED VESSEL'S SPECIAL BOX. (7% CHANCE)<br/>           
            <br/>
            REMEMBER, THE PERSON WHO DOES LAST HIT TO THE MINI BOSSES WILL RECEIVE THE REWARD. SO WE SUGGEST YOU TO DON'T OPEN IN PUBLIC AREAS.
          </p> <hr> </div>
         <h1 class="sg-tit-2">How we can craft Sealed Vessel?<hr></h1>
         <br/>
        <br/>
         <div class="w-75">
          <hr>
          <p class="sg-text" >
            YOU CAN FIND CRAFT NPC IN NOSVILLE, NEAR STARTER PACK NPC.<br/> YOU WILL NEED <u style="color: rgb(224, 151, 215)">ICE SOUL (1X)</u> & <u style="color: rgb(224, 151, 215)">SHINY HAT (100X)</u> TO CRAFT SEALED VESSEL. <br/>
            <br/>
            <img width="35px" src="../../assets/img/vessel/ice_soul.png"  alt="" ><b>ICE SOUL</b> : OBTAINABLE FROM ACT4 RAIDS AND CALIGOR. (100% CHANCE TO GET AFTER COMPLETING).<br/>
            <img width="35px" src="../../assets/img/vessel/shiny_hat.png"  alt="" ><b>SHINY HAT</b> : OBTAINABLE FROM TUNDRA, FROST LAND AND UNKNOWN LAND MONSTERS.<br/>
          </p>
          <hr>
        </div>
        <h1 class="sg-tit-2">Items you can craft<hr></h1>
        <br/>
        <br/>
        <div class="w-75">
          
          <div class="container">
          
            <div class="tabs">
              <div class="tabby-tab">
                <input type="radio" id="tab-1" name="tabby-tabs" checked>
                <label for="tab-1">Skeleton Costume</label>
                <div class="tabby-content">
                  <img src="../../assets/img/vessel/skeleton_set.png"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                   <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                   
                </div>
                
              </div>
              
          
              <div class="tabby-tab">
                <input type="radio" id="tab-2" name="tabby-tabs">
                <label for="tab-2">Vessel Hunter</label>
                <div class="tabby-content">
                  <img width="400px" src="../../assets/img/vessel/vessel_hunter.png"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                  <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                </div>
              </div>
          
              <div class="tabby-tab">
                <input type="radio" id="tab-3" name="tabby-tabs">
                <label for="tab-3">Abbysal Bandage</label>
                <div class="tabby-content">
                  <img width="400px" src="../../assets/img/vessel/mask.png"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                  <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                </div>
              </div>
          
              <div class="tabby-tab">
                <input type="radio" id="tab-4" name="tabby-tabs">
                <label for="tab-4">Jewels</label>
                <div class="tabby-content">
                  <img width="800px" src="../../assets/img/vessel/jewels.png"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                   <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                  
                </div>
                
              </div>
              <div class="tabby-tab">
                <input type="radio" id="tab-5" name="tabby-tabs">
                <label for="tab-5">White Tiger</label>
                <div class="tabby-content">
                  <img width="400px" src="../../assets/img/vessel/tiger.png"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                   <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                  
                </div>
                
              </div>
              <div class="tabby-tab">
                <input type="radio" id="tab-6" name="tabby-tabs">
                <label for="tab-6">Phantom's Amulet</label>
                <div class="tabby-content">
                  <img width="400px" src="../../assets/img/vessel/amulet"/>
                  <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png"> x500</p>
                   <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png"> x100</p>
                  
                </div>
                
              </div>

              
              </div>
 
         </div>
        

         </div>
         <h1 class="sg-tit-2">Drop from Boxes<hr></h1>
         <br/>
         <br/>
         <div class="w-75">
         
         <main>
                
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1"><img width="35px" src="../../assets/img/vessel/treasure_icon.png"  alt="" ></label>
            
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2"><img width="35px" src="../../assets/img/vessel/special_chest.png"  alt="" ></label>
          
            
          <section id="content1">
            
              <p>- Vessel Hunter Title</p>
              <p> - Abyssal Eye Bandage</p>
                <p> - Wig</p>
                  <p>- Amber of Shadow</p>
                    <p> - Amber of Light</p>
                      <p> - Amber of Water</p>
                        <p> - Amber of Fire</p>
            
           
          </section>
            
          <section id="content2">
            <p>
              <p>- Archangel Specialist Partner Card</p>
              <p> - Auto Bet</p>
                <p>- Giant Lump of Gold (100x)</p>
                  <p> - Damage Potion (1x)</p>
                    <p> - Partner Skill Ticket (Single) (1x)</p>
                      <p> - Golden Eagle Wings</p>
                        <p> - Ice Cream Cone</p>
           
          </section>
            
          
            
         
            
        </main>
        
       </div>

    </section>
</div>