.tattoo-carve {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 1em;
    text-align: center;
}

.tattoo-carve-title-1,
.tattoo-carve-title-2,
.tattoo-carve-title-3,
.tattoo-carve-title-4 {
    font-family: 'Edu SA Beginner', cursive;
}

.tattoo-carve-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.tattoo-carve-title-2 {
    font-size: 2.5rem;
    margin-top: 1em;
}

.tattoo-carve-title-3 {
    font-size: 2rem;
    line-height: 1.3em;
}

.tattoo-carve-title-4 {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.tattoo-carve-text {
    font-size: 1.1rem;
    line-height: 1.5em;
}

.tattoos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.tattoo-carve-options {
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.4em;
}

.option-type {
    color: var(--void-clr);
}

.tattoo-carve-powers div {
    padding: 1.5em;
}

.tattoo {
    margin-block: 1em;
}

.tattoo-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.tattoo .tattoo-carve-text {
    margin-bottom: 0;
}

/* Media queries */
@media all and (min-width: 1140px) {
    .tattoo-carve, .tattoos {
        width: 75%;
    }
    .tattoo-carve-powers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .all-tattoos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.starter-guide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 0;
}

.sg-tit-1,
.sg-tit-2 {
    font-family: 'Edu SA Beginner', cursive;
}

.sg-tit-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.sg-tit-2 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1em;
    color: var(--void-clr);
}

.starter-guide-title-3,
.prestige-lvl {
    font-size: 1.25rem;
    line-height: 1.3em;
}

.sg-text {
    font-size: 1.1rem;
    line-height: 1.5em;
    font-family: 'Candara';
    color: rgb(255, 255, 255);
}

.sg-text a {
    color: var(--void-clr);
    font-weight: bold;
    
}

.starter-guide {
    text-align: center;
    width: 75%;
}

.starter-guide img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

.w-75{
    margin-top: -35px;
    margin-bottom: -35px;
    background-color: rgba(253, 253, 253, 0.247);
    border-radius: 12px;
    padding: 10px;
}

.scrollHere{
    height: 20px;
}

.nos-bars{
    color: white;
}
.lorem {
    font-family: Arial, sans-serif;
  }

.navbar{
    color: black;
    border-radius: 6px;
}
.nav-link{
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.31);
    padding: 3px;
    border-radius: 4px;
    transition: 0.3s;
    margin: 2px;
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.121);
    border-radius: 6px;
}

.scrollTop{
    color: white;
    padding: 3px 5px 3px 5px;
    font-size: 30px;
    font-weight: 100 !important;
    z-index: 300;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    border: solid 1px rgba(255, 255, 255, 0.557);
    border-radius: 7px;

    bottom: 12px;
    right: 12px;
}

/* Media queries */
@media all and (min-width: 1140px) {
    .starter-guide {
        width: 75%;
    }
}
#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://i.ibb.co/cc64RfS/border1.png) 30 stretch;
  }
/* ------------------- */
/* TEMPLATE        -- */
/* ----------------- */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

body { 
  height: 100%;
  background-color: #333; 
  color: whitesmoke; 
  font-size: 16px; 
  font-family: 'Lato';
} 
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }
p { margin: 0 0 15px; line-height: 24px; color: gainsboro; }
a { color: dodgerblue; text-decoration: none; border-bottom: 1px dotted; }
a:hover { color: tomato; }

.container { 
  max-width: 960px; 
  height: 00%;
  margin: 0 auto; 
  padding: 0px;
}

/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
.tabs {
  position: relative;
  display: flex;
  min-height: 500px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.tabby-tab {
  flex: 1;
}

.tabby-tab label {
  display: block;
  box-sizing: border-box;
  /* tab content must clear this */
    height: 40px;
  
  padding: 10px;
  text-align: center;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/03/22/642928/a6fe212cd459f71f27f6cdc620ddb978.jpg');;
  cursor: pointer;
  transition: background 0.5s ease;
  
}

.tabby-tab label:hover {
  background: #7B52AB;
}

.tabby-content {
  position: absolute;
  
  left: 0; bottom: 0; right: 0;
  /* clear the tab labels */
    top: 50px; 
  
  padding: 20px;
  border-radius: 0 0 8px 8px;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/03/22/642928/a6fe212cd459f71f27f6cdc620ddb978.jpg');
  
  transition: 
    opacity 0.8s ease,
    transform 0.8s ease   ;
  
  /* show/hide */
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  
}

.tabby-content img {
  float: left;
  margin-right: 20px;
  border-radius: 8px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
  background: #553285;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
  z-index: 1;
  
  /* show/hide */
    opacity: 1;
    transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
  .tabs { min-height: 00px;}
}

@media screen and (max-width: 480px) {
  .tabs { min-height: 580px; }
  .tabby-tab label { 
    height: 60px;
  }
  .tabby-content { top: 60px; }
  .tabby-content img {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.sg-tit-1,
.sg-tit-2 {
    font-family: 'Edu SA Beginner', cursive;
}

.sg-tit-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}
.sg-tit-2 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: -1em;
 
    color: var(--void-clr);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 150px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/03/22/642928/a6fe212cd459f71f27f6cdc620ddb978.jpg');
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}




label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}