<div class="d-flex justify-content-center w-100">
    <section class="tattoo-carve">
        <h1 class="sg-tit-1"><img width="900px" src="../../assets/img/vessel/logo.png"  alt="" style="border: 4px solid rgb(223, 116, 214); border-radius: 15px 50px 30px;" ></h1>
        <br/>
        <div class="w-75">
          <p class="sg-text" >
            OPEN &nbsp;<img width="35px" src="../../assets/img/vessel/vessel_icon.png"  alt="" ><b> &nbsp;SEALED VESSEL</b> TO RELEASE MONSTERS IN ANY MAP (EXCEPT SPECIAL MAPS). <br/><br/>
            KILL MINI BOSSES FROM SEALED VESSEL TO RECEIVE&nbsp; <img width="35px" src="../../assets/img/vessel/treasure_icon.png"  alt="" >&nbsp; <b>SEALED TREASURE CHEST</b> (100% CHANCE) & SEALED VESSEL'S SPECIAL BOX. (7% CHANCE)<br/>           
            <br/>
            REMEMBER, THE PERSON WHO DOES LAST HIT TO THE MINI BOSSES WILL RECEIVE THE REWARD. SO WE SUGGEST YOU TO DON'T OPEN IN PUBLIC AREAS.
          </p>


         
          
         </div>
        


         
    </section>
</div>