
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<div class="d-flex justify-content-center w-100">
  <section class="tattoo-carve">
    <img width="900px" src="../../assets/img/vessel/logo.png" alt=""
        style="border: 4px solid rgb(223, 116, 214); border-radius: 15px 50px 30px; max-width: 100%;">

    <h1 class="sg-tit-2">WHAT IS SEALED VESSEL EVENT?
      <hr>
    </h1>
    <br />
    <br />
    <div class="w-75">
      <hr>
      <p class="sg-text">
        OPEN &nbsp;<img width="35px" src="../../assets/img/vessel/vessel_icon.png" alt=""><b> &nbsp;SEALED VESSEL</b> TO
        RELEASE MONSTERS IN ANY MAP. (EXCEPT SPECIAL MAPS) <br /><br />
        KILL MINI BOSSES FROM SEALED VESSEL TO RECEIVE&nbsp; <img width="35px"
          src="../../assets/img/vessel/treasure_icon.png" alt="">&nbsp; <b>SEALED TREASURE CHEST</b> (100% CHANCE)
        <br />& &nbsp;<img width="35px" src="../../assets/img/vessel/special_chest.png" alt="">&nbsp;<b>SEALED VESSEL'S
          SPECIAL BOX</b>. (5% CHANCE)<br />
        <br />
        REMEMBER, THE PERSON WHO DOES LAST HIT TO THE MINI BOSSES WILL RECEIVE THE REWARD. SO WE SUGGEST YOU TO DON'T
        OPEN IN PUBLIC AREAS.<br />IF YOU WANT TO OPEN YOUR SEALED VESSELS IN PEACE, TALK TO RUDIN ALBISCO AND GET TELEPORTED TO THE SOLO INSTANCE AREA.<br />
        <br />
        AFTER KILLING ENEMY ON ACT4, YOU WILL RECEIVE &nbsp;<img width="35px"
          src="../../assets/img/vessel/kill_box.png">&nbsp;&nbsp;<b>SHINY HAT BOX.</b> <br />
      </p>
      <hr>
    </div>
    <h1 class="sg-tit-2">HOW WE CAN CRAFT SEALED VESSEL?
      <hr>
    </h1>
    <br />
    <br />
    <div class="w-75">
      <hr>
      <p class="sg-text">
        YOU CAN FIND RUDIN ALBISCIO CRAFT NPC IN NOSVILLE, NEAR STARTER PACK NPC.<br /> YOU WILL NEED <u
          style="color: rgb(224, 151, 215)">ICE SOUL (1x)</u> & <u style="color: rgb(224, 151, 215)">SHINY HAT
          (100x)</u> TO CRAFT SEALED VESSEL. <br />
        <br />
        <img width="35px" src="../../assets/img/vessel/ice_soul.png"  alt=""><b>ICE SOUL</b> : OBTAINABLE FROM ACT4 RAIDS
        AND CALIGOR. (100% CHANCE TO GET AFTER COMPLETING).<br />
        <img width="35px" src="../../assets/img/vessel/shiny_hat.png" alt=""><b>SHINY HAT</b> : OBTAINABLE FROM TUNDRA,
        FROST LAND, UNKNOWN LAND MONSTERS AND SHINY HAT BOX.<br />
      </p>
      <hr>
    </div>

    <h1 class="sg-tit-2">ITEMS YOU CAN CRAFT
      <hr>
    </h1>
    <br />
    <br />
    <div class="w-75">
      <BR />

      <div class="container">

        <div class="tabs">
          <div class="tabby-tab">
            <input type="radio" id="tab-1" name="tabby-tabs" checked>
            <label for="tab-1">Skeleton Costume</label>
            <div class="tabby-content">
              <img src="../../assets/img/vessel/skeleton_set.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x15</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"> x20</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"> x25</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"> x20</p>
              <hr>

            </div>

          </div>


          <div class="tabby-tab">
            <input type="radio" id="tab-2" name="tabby-tabs">
            <label for="tab-2">Vessel Hunter</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/vessel_hunter.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;"  />
              <hr>
              YOU CAN GET IT FROM SEALED TREASURE CHEST <img width="35px"
                src="../../assets/img/vessel/treasure_icon.png" style="max-width: 100%;">
              <hr>

            </div>
          </div>

          <div class="tabby-tab">
            <input type="radio" id="tab-3" name="tabby-tabs">
            <label for="tab-3">Abyssal Bandage</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/mask.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              YOU CAN GET IT FROM SEALED TREASURE CHEST <img width="35px"
                src="../../assets/img/vessel/treasure_icon.png" style="max-width: 100%;">
              <hr>
            </div>
          </div>

          <div class="tabby-tab">
            <input type="radio" id="tab-4" name="tabby-tabs">
            <label for="tab-4">Necklace</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/necklace.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x15</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"> x15</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/paper.png" style="max-width: 100%;"> x300</p>
              <hr>
            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-11" name="tabby-tabs">
            <label for="tab-11">Bracelet</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/bracelet.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"> x15</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/paper.png" style="max-width: 100%;"> x300</p>
              <hr>

            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-12" name="tabby-tabs">
            <label for="tab-12">Ring</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/ring.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"> x15</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/paper.png" style="max-width: 100%;"> x300</p>
              <hr>

            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-5" name="tabby-tabs">
            <label for="tab-5">White Tiger</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/tiger.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/shiny_hat.png" style="max-width: 100%;"> x100</p>
              <hr>
              <p> <img width="35px" src="../../assets/img/vessel/ice_soul.png" style="max-width: 100%;"> x1</p>
              <hr>
              <p> <img width="35px" src="../../assets/img/vessel/paper.png" style="max-width: 100%;"> x100</p>
              <hr>

            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-6" name="tabby-tabs">
            <label for="tab-6">Phantom's Amulet</label>
            <div class="tabby-content">
              <img width="400px" src="../../assets/img/vessel/amulet"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 50%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/caligor_box.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p> <img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"> x5
                <hr>
              <p> <img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"> x5</p>
              <hr>


            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-7" name="tabby-tabs">
            <label for="tab-7">Shooting Star</label>
            <div class="tabby-content">
              <img width="350px" src="../../assets/img/vessel/shooting_star.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 50%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"> x10</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/fafnir_essence.png" style="max-width: 100%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/berios_essence.png" style="max-width: 100%;"> x5</p>
              <hr>

            </div>


          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-8" name="tabby-tabs">
            <label for="tab-8">Plague Doctor Set</label>
            <div class="tabby-content">
              <img width="600px" src="../../assets/img/vessel/plague_doctor_buffs.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 50%;"> x9</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 50%;"> x9</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 50%;"> x9</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 50%;"> x9</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/fafnir_essence.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/berios_essence.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/morocos_esence.png" style="max-width: 50%;"> x5</p>
             
              <hr>
              <hr>
            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-9" name="tabby-tabs">
            <label for="tab-9">Change Skin for Laser Weapons</label>
            <div class="tabby-content">
              <img width="600px" src="../../assets/img/vessel/plague_doctor_buffs.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 50%;"> x5</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/fafnir_essence.png" style="max-width: 50%;"> x1</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/berios_essence.png" style="max-width: 50%;"> x2</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/morocos_esence.png" style="max-width: 50%;"> x2</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/lady_essence.png" style="max-width: 50%;"> x2</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/lord_hatus_essence.png" style="max-width: 50%;"> x2</p>
              <hr>
              <hr>
            </div>

          </div>
          <div class="tabby-tab">
            <input type="radio" id="tab-10" name="tabby-tabs">
            <label for="tab-10">Laser Weapon Skins</label>
            <div class="tabby-content">
              <img width="600px" src="../../assets/img/vessel/plague_doctor_buffs.png"
                style="border: 2px solid rgb(96, 76, 170); border-radius: 15px 50px 30px; max-width: 100%;" />
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 50%;"> x13</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_light.png" style="max-width: 50%;"> x13</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_shadow.png" style="max-width: 50%;"> x13</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/amber_water.png" style="max-width: 50%;"> x13</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/fafnir_essence.png" style="max-width: 50%;"> x2</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/berios_essence.png" style="max-width: 50%;"> x4</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/morocos_esence.png" style="max-width: 50%;"> x4</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/lady_essence.png" style="max-width: 50%;"> x4</p>
              <hr>
              <p><img width="35px" src="../../assets/img/vessel/lord_hatus_essence.png" style="max-width: 50%;"> x4</p>
              <hr>
              <p> <img width="35px" src="../../assets/img/vessel/paper.png" style="max-width: 100%;"> x10000</p>
              <hr>
              <hr>
            </div>


          </div>
        </div>
        <BR />
      </div>


    </div>
    <h1 class="sg-tit-2">ITEMS YOU CAN DROP FROM BOXES
      <hr>
    </h1>
    <br />
    <br />
    <div class="w-75">
      <BR />


      <main>

        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><img width="35px" src="../../assets/img/vessel/treasure_icon.png" alt="" style="max-width: 100%;"></label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2"><img width="35px" src="../../assets/img/vessel/special_chest.png" alt="" style="max-width: 100%;"></label>


        <section id="content1">

          <p style="color: rgb(0, 0, 0)">- VESSEL HUNTER TITLE <img width="35px"
              src="../../assets/img/vessel/tittle.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)"> - ABYSSAL EYE BANDAGE <img width="35px"
              src="../../assets/img/vessel/mask1.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)"> - WIG<img width="35px" src="../../assets/img/vessel/wig.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)">- AMBER OF SHADOW<img width="35px"
              src="../../assets/img/vessel/amber_shadow.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)"> - AMBER OF LIGHT<img width="35px"
              src="../../assets/img/vessel/amber_light.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)"> - AMBER OF WATER<img width="35px"
              src="../../assets/img/vessel/amber_water.png" style="max-width: 100%;"></p>
          <p style="color: rgb(0, 0, 0)"> - AMBER OF FIRE<img width="35px" src="../../assets/img/vessel/amber_fire.png" style="max-width: 100%;">
          </p>


        </section>

        <section id="content2">
          <p>
          <p style="color: rgb(0, 0, 0)">- ARCHANGEL SPECIALIST PARTNER CARD<img width="35px"
              src="../../assets/img/vessel/archangel.png"></p>
          <p style="color: rgb(0, 0, 0)"> - AUTO BET<img width="35px" src="../../assets/img/vessel/autobet.png"></p>
          <p style="color: rgb(0, 0, 0)">- GIANT LUMP OF GOLD (100x)<img width="35px"
              src="../../assets/img/vessel/lump.png"></p>
          <p style="color: rgb(0, 0, 0)"> - DAMAGE POTION<img width="35px" src="../../assets/img/vessel/dmg_pot.png">
          </p>
          <p style="color: rgb(0, 0, 0)"> - UPGRADE WEAPON SKIN<img width="35px"
              src="../../assets/img/vessel/upgrade.png"></p>
          <p style="color: rgb(0, 0, 0)"> - GOLDEN EAGLE WINGS<img width="35px"
              src="../../assets/img/vessel/eagle_wings.png"></p>
          <p style="color: rgb(0, 0, 0)"> - ICE CREAM CONE<img width="35px" src="../../assets/img/vessel/icecream.png">
          </p>

        </section>


      </main>
    </div>
  
   
  </section>
</div>