<div class="d-flex justify-content-center">
    <section class="features">
        <h1 class="features-title">Features</h1>

        <div class="feature container w-75">
            <h2 class="feature-title">Discord RPC</h2>
            <p class="feature-info">You can show your NosVoid activity on your Discord.</p>
            <img src="../../assets/img/features/discord.png" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">FPS Unlock</h2>
            <p class="feature-info">
                The FPS Unlock feature allows you to "unlock" the Nostale frame rate, increasing it to 
                above the default of 60 FPS which may reduce the input lag and allow players to make the 
                most out of monitors with a 60hz+ refresh rate which will make NosTale so much more enjoyable
                for players!
            </p>
            <img src="../../assets/img/features/fps.gif" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">CD on Skills</h2>
            <p class="feature-info">
                The CD on skills will have a new feature, the bar will show the seconds missing for the skill
                to be avaiable again. Are your friends asking how many seconds are missing for your buff? 
                Now you know!
            </p>
            <img src="../../assets/img/features/cd_skills.gif" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Search Bar Inventory</h2>
            <p class="feature-info">
                The search bar is a new feature, that will make the item search easier. <br>
                Are you looking for something in particular? <br>
                Just write it in the bar and it will show you your item! <br>
            </p>
            <img src="../../assets/img/features/search_bar.gif" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Switch Equipments</h2>
            <p class="feature-info">
                You will be able to save 5 equipment sets at the same time and of course use any of them quickly.
            </p>
            <img src="../../assets/img/features/eq_switch.gif" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Fast Craft</h2>
            <p class="feature-info">
                You will be able to craft all the stuff at once, instead of waiting for hours to craft some things.
            </p>
            <img src="../../assets/img/features/fast_craft.gif" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Add Old Raid Team Button</h2>
            <p class="feature-info">
                After using a raid seal, you can add the whole team just by pressing this button (close to the Mini-Map).
            </p>
            <img src="../../assets/img/features/addoldteam.png" alt="">
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">The Bidding System <b>SOON</b></h2>
            <p class="feature-info">
                It will take place on the <a href="https://nosvoid.com/">Website</a>.                
            </p>
            <p class="feature-info">
                It will be easy to sell & buy stuff.                
            </p>
            <ul class="feature-info">
                <li>→ You will be able to set options as you want in search button to find the stuff you want. 
                    (Like shell options, SP sums...)</li>
                <li>→ And add your stuff in auction list from your inventory witch just using website.</li>
                <li>→ Choose the item you want to sell, set the time - offer (if you're open to offers) - max price...</li>
                <li>→ And you will receive your offers - who wants to buy your stuffs!</li>
            </ul>
            <p class="feature-info">
                All will be on the <b>Administration page</b> !                 
            </p>
            <video controls width="800px">
                <source src="../../assets/img/features/auction.mp4" type="video/mp4">
                Your browser doesn't support the video tag.
            </video>
        </div>
    </section>
</div>