<div class="d-flex justify-content-center">
    <section class="features">
        <h1 class="features-title">Features<hr></h1>

        <div class="feature container w-75">
            <h2 class="feature-title">Discord RPC<hr></h2>
            <p class="feature-info">You can show your NosVoid activity on your Discord.</p>
            <img src="../../assets/img/features/discord.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">FPS Unlock<hr></h2>
            <p class="feature-info">
                The FPS Unlock feature allows you to "unlock" the Nostale frame rate, increasing it to 
                above the default of 60 FPS which may reduce the input lag and allow players to make the 
                most out of monitors with a 60hz+ refresh rate which will make NosTale so much more enjoyable
                for players!
            </p>
            <img src="../../assets/img/features/fps.gif" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">CD on Skills<hr></h2>
            <p class="feature-info">
                The CD on skills will have a new feature, the bar will show the seconds missing for the skill
                to be avaiable again. Are your friends asking how many seconds are missing for your buff? 
                Now you know!
            </p>
            <img src="../../assets/img/features/cd_skills.gif" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">More Tattoos Slots<hr></h2>
            <p class="feature-info">
               Now you can have 4 instead of 2 tattoos upgraded. You can switch between them by using button to change slots.
            </p>
            <img src="../../assets/img/features/tattoo_slots.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Tattoos & Carves Upgrader<hr></h2>
            <p class="feature-info">
                Now you can upgrade tattoos and runes much faster. Choose from 1 to 25 upgrades with just one click.
            </p>
            <img src="../../assets/img/features/tattoo_runes_upgrader.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <!--<div class="feature container w-75">
            <h2 class="feature-title">Search Bar Inventory</h2>
            <p class="feature-info">
                The search bar is a new feature, that will make the item search easier. <br>
                Are you looking for something in particular? <br>
                Just write it in the bar and it will show you your item! <br>
            </p>
            <img src="../../assets/img/features/search_bar.gif" alt="">
        </div>-->
        <div class="feature container w-75">
            <h2 class="feature-title">Switch Equipments<hr></h2>
            <p class="feature-info">
                You will be able to save 5 equipment sets at the same time and of course use any of them quickly.
            </p>
            <img src="../../assets/img/features/eq_switch.gif" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Fast Craft<hr></h2>
            <p class="feature-info">
                You will be able to craft all the stuff much faster, instead of waiting for hours to craft some things.
            </p>
            <video controls width="800px">
                <source src="../../assets/img/features/fast_craft.mp4" style="border: 1px solid rgb(134, 40, 103);" type="video/mp4">
                Your browser doesn't support the video tag.
            </video>
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Reworked Friend Chat<hr></h2>
            <p class="feature-info">
                Refreshed and improved friend-chat now allows you to invite to a group or trade directly from the chat window
            </p>
            <video controls width="800px">
                <source src="../../assets/img/features/friend_chat.mp4" style="border: 1px solid rgb(134, 40, 103);" type="video/mp4">
                Your browser doesn't support the video tag.
            </video>
        </div>
        <hr>
        <div class="feature container w-75">
            <h2 class="feature-title">Add Old Raid Team Button<hr></h2>
            <p class="feature-info">
                After using a raid seal, you can add the whole team just by pressing this button (close to the Mini-Map).
            </p>
            <img src="../../assets/img/features/addoldteam.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Auto Buff Button<hr></h2>
            <p class="feature-info">
                You can use that button to buy buffs. Buffs lasts 15min and costs 12.5kk.
            </p>
            <img src="../../assets/img/features/autobuff.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Wings Swapper<hr></h2>
            <p class="feature-info">
                It's a new feature where it lets you change your specialist' wings, but keeps the buff of original wings of your specialist card.
                Difference of between old Change Wings and new Wing Swapper is that we don't need to use commands with new system. We also have made that, you need to use Swappers of the wings to unlock them on your Wing Swapper.
Why is that? Because we will be releasing Visual Wings collections in the future, that will help us to implement them better.
You can buy Wing Swapper Pack from the <b>NosVoid shop for 2000 coins</b>.
All you need is double click on Wing Swappers to unlock them on your Wing Swapper Window.
            </p>
            <img src="../../assets/img/features/wings_swapper.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Event Schedule<hr></h2>
            <p class="feature-info">
                Now you can see upcoming Server Events timers more precisely! Click on calendar icon to open the events window.
            </p>
            <img src="../../assets/img/features/schedule.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">Warp Button<hr></h2>
            <p class="feature-info">
                You can use that button  <img width="30px" src="../../assets/img/features/warps1.png"  alt="" style="border: 1px solid rgb(134, 40, 103);">
                for fast travel.
            </p>
            <img src="../../assets/img/features/warps2.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <hr>
        </div>
        <div class="feature container w-75">
            <h2 class="feature-title">The Bidding System<hr></h2>
            <p class="feature-info">
                It can be found on the  <a href="https://nosvoid.com/">Website</a> in Nosbazar tab.                
            </p>
            <img src="../../assets/img/features/bidding.png" style="border: 1px solid rgb(134, 40, 103);" alt="">
            <p class="feature-info">
                It will be easy to sell & buy stuff.                
            </p>
            <ul class="feature-info">
                <li>→ You are be able to set options as you want in search button to find the stuff you want. 
                    (Like shell options, SP sums...)</li>
                <li>→ And add your stuff in auction list from your inventory witch just using website.</li>
                <li>→ Choose the item you want to sell, set the time - offer (if you're open to offers) - max price...</li>
                <li>→ And you will receive your offers - who wants to buy your stuffs!</li>
            </ul>
            <p class="feature-info">
                All will be on the <b>Administration page</b> !                 
            </p>
            <video controls width="800px">
                <source src="../../assets/img/features/auction.mp4" style="border: 1px solid rgb(134, 40, 103);" type="video/mp4">
                Your browser doesn't support the video tag.
            </video>
        </div>
    </section>
</div>