<div class="d-flex justify-content-center">
    <div class="badges">
        <h1 class="badges-title">Badges</h1>
        <div class="badge-content">
            <h2>What is a Badge ?</h2>
            <p>
                The badge is a NosVoid custom feature. It's basically an additional shell with custom 
                options you can put on your char. It will take the amulet spot in your character window (P).
            </p>

            <h2>How to get your badge ?</h2>
            <p>
                You can buy a badge in the Badge Room map in NosVille. It costs 1b Gold and you can have 5 
                badges maximum per char.
            </p>

            <h2>How to upgrade/bet your badge ?</h2>
            <p>When you buy your badge, it's r0+0. You can upgrade and bet your badge untill r8+10.</p>

            <h3>Bet :</h3>
            <p>
                You need to use Rarify Item to increase the rarity of the badge. 
                Rarify Items can be crafted at Rarify Craft NPCs in Badge Room or you can get them 
                in some raid boxes or Fortune Wheel. <br>
                If you're lucky, it will be easy, if not, it will be expensive. Once you reach r8, every 
                single rarify item you use on your badge has 100% chance to change your options. You can 
                now start to bet your badge in order to get options you want on it.
            </p>

            <h3>Upgrade :</h3>
            <p>
                You need to use Upgrade Item to increase the "level" of the badge. Upgrade Items can be crafted 
                at Upgrade Craft NPC in Badge Room or you can get them in some raid boxes or Fortune Wheel. <br>
                Again, if you're lucky, it will be easy, if not, it will be expensive. Upgrading the badge 
                will incraese options' values. You can upgrade your badge to +10 maximum.
            </p>

            <h2>What are the best options to have ?</h2>
            <h3>Must have in PVE : </h3>
            <ul>
                <li>- S Increased Damage to opposed element of your fairy</li>
                <li>- A Increased Damage against Water and Fire element or Increased Damage against Light 
                    and Shadow Element</li>
                <li>- B/C Increased fairy element</li>
                <li>- C/B Increase all Perfection points</li>
            </ul>

            <h3>Must have in PVP :</h3>
            <ul>
                <li>- A/B Increased damage while enemy is stunned</li>
                <li>- A/B Increased Damage against Water and Fire element or Increased Damage against Light 
                    and Shadow Element (especially for mages)</li>
                <li>- S/A/B Chance to heal 10 % of your max HP</li>
                <li>- S/A/B Increases all perfection</li>
                <li>- S Increase attack and defense in pvp</li>
                <li>- Increased damage against enemies with more max HP than you</li>
                <li>- Increased damage when the hp of enemy is bellow 40 %</li>
                <li>- Increased damage against archer/mage/swordman</li>
            </ul>

            <h3>Other options :</h3>
            <ul>
                <li>- Increased damage against light/dark element</li>
                <li>- Increased damage against fire/water element</li>
                <li>- Chance to decrease 70% of enemy's all resistances (for Mage & MA)</li>
            </ul>

            <h3>You can skip them :</h3>
            <ul>
                <li>- Critical hit reducing enemy's HP</li>
                <li>- Chance to drain some mp in PVP</li>
                <li>- Increased fairy element by x%</li>
                <li>- Chance to reflect 2000 damage</li>
                <li>- Chance to decrease 70% of enemy's all resistances (for Swordsman & archer)</li>
            </ul>
        </div>
    </div>
</div>