<div class="d-flex justify-content-center">
    <section class="rules">
        <h1 class="rules-title">Rules</h1>

        <!-- Rules 1 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 1</span> General Informations
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 1.1</span> Successful registration for your NosVoid account equals to accepting the rules and regulations as stated below.</li>
                    <li><span class="rule-number">- 1.2</span> NosVoid server is an international server stated for large communities. Our Official language is English.</li>
                    <li><span class="rule-number">- 1.3</span> The NosVoid staff is not responsible for how players behave outside of community. [example: discord private messages or dms /phone calls]</li>
                </ul>
            </div>
        </div>

        <!-- Rules 2 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 2</span> In Game Behavior
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 2.1</span> Respect other players! Insulting, trolling, racist, irl threats, homophobic and derogatory comments are strictly forbidden.</li>
                    <li><span class="rule-number">- 2.2</span> You may not scam. Scamming includes any attempts to deceive users for your own advantage.</li>
                    <li><span class="rule-number">- 2.3</span> You may not spam. Spamming includes messages which make no sense, the same message over and over again, typing in all capital letters.</li>
                    <li><span class="rule-number">- 2.4</span> You may not discuss hacks, bugs, exploits or any other harmful topics in-game including our discord server.</li>
                    <li><span class="rule-number">- 2.5</span> You may not discuss about real life things like name, surname, address, with any players in the game, in general chat or in the Void Discord. (check 8.18)</li>
                    <li><span class="rule-number">- 2.6</span> Lending items to another player is at your own risk! Under no circumstances will your items be recovered.</li>
                    <li><span class="rule-number">- 2.7</span> In-game speakers are for selling stuff, asking for something, but in no case they're here to be used for insults, toxicity and spam.
                        Therefore, Nosvoid being an international server, non-English speakers spam will result on a warn, or a mute.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 3 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 3</span> Accounts
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 3.1</span> Players are allowed to log in 3 accounts at time. We set up this rule since we don't want to limit players.</li>
                    <li><span class="rule-number">- 3.2</span> Max 2 accounts allowed for fishing per person.</li>
                    <li><span class="rule-number">- 3.3</span> You can share your account (not sell, just share). But know that if it is stolen, there won't be any refund. NosVoid staff team takes right to freeze, block access or delete your account.</li>
                    <li><span class="rule-number">- 3.3</span> It's strictly prohibited to sell, trade or give your account to third parties for your advantage. NosVoid staff team have rights to freeze, block or reset your account.</li>
                    <li><span class="rule-number">- 3.3</span> It's strictly prohibited to use advantages of multiaccounts on Act4 - killing your own characters, farming reputation.</li>
                    <li><span class="rule-number">- 3.3</span> You are responsible of the security of your account. We encourage you to never use same data you used anywhere outside of community.</li>
                    <li><span class="rule-number">- 3.3</span> If you are registered in the multi-account authorized list, it doesn't mean you can trade every rewards you have for the same "main" account.
                        The multi-account list has to be for 2 peoples who really plays the game, and who has a real account (and not a sandbox). <br>
                        We will check thoroughly every registrations and we will ask for proofs.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 4 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 4</span> Client manipulation (hack/botting/packet logging)
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 4.1</span> Hacking is strictly forbidden and hackers will be permanently banned.</li>
                    <li><span class="rule-number">- 4.1.1</span> Players cannot have locked group invite when they are farming/fishing also players needs to reply to staff when they are farming/fishing otherwise they will be treated like a bot.</li>
                    <li><span class="rule-number">- 4.2</span> Abusing bugs or glitches is not allowed. Any bugs have to be reported immediately. Hiding any bugs will lead to strict punishments.</li>
                    <li><span class="rule-number">- 4.3</span> Any client-modification is strictly forbidden. This includes package sending tools.</li>
                    <li><span class="rule-number">- 4.4</span> You may not use any mechanic that involves afk farming.</li>
                    <li><span class="rule-number">- 4.5</span> You may not use any mechanic that involves automation your ingame progress.</li>
                    <li><span class="rule-number">- 4.6</span> The usage and abuse of any Bug, Macro, Cheat, Exploits of in-game mechanics, 3rd Party Programs to gain unfair advantage will be strictly punished.</li>
                    <li><span class="rule-number">- 4.7</span> The abuse of Pet Farming is Forbidden and will be punished as (AFK PET)</li>
                    <li><span class="rule-number">- 4.8</span> You are not allowed to be with 3 Accounts on the same Farm Map (Angel, Full Moon, etc.</li>
                    <li><span class="rule-number">- 4.9</span> During A4, you may not use task manager to log out on purpose while being hit just to avoid the fight.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 5 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 5</span> Events/Raids/Contents
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 5.1</span> 
                        You are not allowed to be with more than 2 Chars / Acc in All Raids /Caligor / WorldBoss /Tower(AT THE SAME TIME). <br>
                        You are not allowed to be with more than 1 Char in AoT + RBB + Color PVP + Family Dungeon. <br>
                        You are allowed to do the P8 TimeSpace with 3 accounts.
                    </li>
                    <li><span class="rule-number">- 5.2</span> You can only attack Caligor with Max 1 acc at the same time.</li>
                    <li><span class="rule-number">- 5.3</span> You are not allowed to join with more than 1 acc/character in Bomb Runner.</li>
                    <li><span class="rule-number">- 5.4</span> 
                        You are not allowed to be afk in RBB + AOT. When you join RBB, you must be active in the minigame at all times and participate in it. <br>
                        Sitting in RBB is not allowed. Any player found afking and just sitting down in RBB will be punished.
                    </li>
                    <li><span class="rule-number">- 5.5</span> You can be in arena with 2 characters, but you'll still get punishment if you hit players with more than 1 accounts. So it only includes being on stairs. Also using a character for debuff is forbidden. When you play 1 character you should use only this one.</li>
                    <li><span class="rule-number">- 5.6</span> You have to respond to staff when they're sending a message, same as for botting. If you don't answer during a raid and still joining it, you will be considered as a bot.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 6 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 6</span> Real World Trading
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 6.1</span> 
                        Account selling is not allowed. For real money or for gold in-game, it is considered as Real World Trading. <br>
                        Same goes for trading items/golds for other private/official server items/golds.
                    </li>
                    <li><span class="rule-number">- 6.2</span> Real world trading items/golds is not allowed either, both buying and selling is equally punished.</li>
                    <li><span class="rule-number">- 6.3</span> Buying/Selling/Trading items/golds/accounts for other game currencies/other game accounts and etc. is considered Real World Trading.</li>
                    <li><span class="rule-number">- 6.4</span> Any kind of proofs will be judged by staff members. Proofs include: discord chats, WhatsApp messages, videos, Facebook and in-game messages etc. Proofs will be judged extremely cautiously by us.</li>
                    <li><span class="rule-number">- 6.5</span> Faking real world trading proofs will lead to a strict punishment.</li>
                    <li><span class="rule-number">- 6.6</span> Trying to buy/sell items/accounts/golds is considered as Real World Trading.</li>
                    <li><span class="rule-number">- 6.7</span> Helping, acting as Middleman or advertising RWT for someone else will end up in a permanent ban of all your accounts.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 7 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 7</span> Discord Rules
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 7.1</span> In the event of any form of racism, we reserve the right to permanently ban/remove the respective persons from the "NosVoid" platforms.</li>
                    <li><span class="rule-number">- 7.2</span> The rules game are also valid in discord. (Racism, swearing, insulting will be strictly punished)</li>
                    <li><span class="rule-number">- 7.3</span> If you get a permanent ban, you have the rights to appeal after 7 Days.</li>
                    <li><span class="rule-number">- 7.4</span> Trading Channel Info : <br>
                        #《💰》general-market : Everything that is tradeable: SP's, PSP's, materials Items etc... <br> 
                        #《💰》swordsman-eq: Only Swordsman related equipment here : Sword, Xbow, Armour and SP's <br>
                        #《💰》archer-eq: Only Archer related equipment : Bow, Dagger, Armour and SP's <br>
                        #《💰》mage-eq: Only Mage related equipment here : Staff, Gun, Armour and SP's <br>
                        #《💰》martial-eq: Only Martial related equipment here : Fist, Token, Armour and SP's <br>
                        <i><b>If you post your items at the wrong channel, it will be removed.</b></i></li>
                    <li><span class="rule-number">- 7.5</span> Every toxic/trash talk in #📸pictures  that can lead to a drama will be deleted, if you continue to spam it you will get punish.</li>
                </ul>
            </div>
        </div>

        <!-- Rules 8 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 8</span> Punishments
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 8.1</span> Bot Using [punishment may vary depending on the situation] (check 8.16)</li>
                    <li><span class="rule-number">- 8.2</span> Stealing Mobs</li>
                    <li><span class="rule-number">- 8.3</span> Swearing (normal chat /whisper /speakers /herochat /sending notes (in game function).</li>
                    <li><span class="rule-number">- 8.4</span> Racism + Pedophilia + Hard Sexism  (normal chat /whisper /speakers /herochat /sending notes (in game function).
                        <i>
                            First time : <span class="red-color">12 hours mute</span>. <br>
                            Second time : <span class="red-color">24 hours mute</span>. <br>
                            Third time and more : <span class="red-color">1 day ban</span>.
                        </i>
                        This can lead to a huge ban if the player is being racist/homophobic despite our warnings.
                    </li>
                    <li><span class="rule-number">- 8.5</span> AFK Mob Killing has same punishments with 8.1 (Bot Using). <br>
                        Using Pirate/Jaja/Pyjama sp to farm mobs is considered as AFK Mob killing.</li>
                    <li><span class="rule-number">- 8.6</span> You automatically get 2 hours of mute when you leave the Rainbow Battle.</li>
                    <li><span class="rule-number">- 8.7</span> Any player who starts racist/insulting others on speakers will be muted/punished. That includes hero speakers too. [Has same punishments with 8.3 (Swearing)]</li>
                    <li><span class="rule-number">- 8.8</span> Multi Account (Login at the Same time with more than 3 Accounts) <br>
                        Punishment increases depending on the number of account. <br>
                        <i>
                            First time : <span class="red-color">5 hours mute</span>. <br>
                            Second time : <span class="red-color">10 hours mute</span>. <br>
                            Third time and more : <span class="red-color">1 day ban that can lead to perma</span>.
                        </i>
                    </li>
                    <li><span class="rule-number">- 8.9</span> Doing Raids with more than 2 Accounts (Includes World Boss, Caligor, Family Tower) and join with more than 1 account/character in Bomb Runner, Family dungeon). <br>
                        Punishment increases depending on the number of account. <br>
                        <i>
                            First time : <span class="red-color">12 hours mute</span>. <br>
                            Second time : <span class="red-color">2 days ban</span>. <br>
                            Third time and more : <span class="red-color">One week ban to perma ban</span>.
                        </i>
                    </li>
                    <li><span class="rule-number">- 8.10</span> You are not allowed to attack another player with more than 1 Character/Account in Arena </li>
                    <li><span class="rule-number">- 8.11</span> Any usage of activity with third party programs.</li>
                    <li><span class="rule-number">- 8.12</span> Act 4 PVP : If you are killing an alt account/character of your friend to farm kills, it will also count as killing your own alt account and you will be punished.</li>
                    <li><span class="rule-number">- 8.12.1</span> Act 4 PVP Caligor : You're not allowed to use skills to move Caligor. <br>
                        <i>
                            First time : <span class="red-color">4h mute + kick from Caligor</span> <br>
                            Second time : <span class="red-color">8h mute + kick from Caligor</span> <br>
                            <span class="red-color">More time can lead to a ban</span>.
                        </i>
                    </li>
                    <li><span class="rule-number">- 8.13</span> Raiding additional info : <br>
                        Raiding with more than 2x account with 2 or more different IPs is not allowed. <br>
                        <i>[For example (One Player) using 3 different computers with 2 acc on x3 computer but with 3 different ips]</i></li>
                    <li><span class="rule-number">- 8.14</span> Fish Botting/using any 3rd party programs/macros on fishing are not allowed and punishable. (When you get banned for fish botting, all your fish + materials gained will be deleted from your inventory.) <br>
                        <b>[Fish Botting][Including 3 Acc Fish Bot]</b> <br>
                        <i>
                            First Time: <span class="red-color">2 weeks Ban</span> <br>
                            Second Time: <span class="red-color">Perm Ban</span> (No appeals/request for unbans)
                        </i> <br>
                        <b>[Botting/3rd Party Programs/Macros]</b> <br>
                        <i>
                            First time: <span class="red-color">2 weeks Ban</span> <br>
                            Second Time: <span class="red-color">Perma Ban</span> (No appeals/request for unbans)
                        </i> <br>
                        <b>To all botters, you know who you are. If you continue using them, you'll have to pay the price.</b>  
                    </li>
                    <li><span class="rule-number">- 8.15</span> Abusing $unstuck command in pvp is not allowed.</li>
                    <li><span class="rule-number">- 8.16</span> Trashtalking or Insulting staff members will be punished. Same for the staff members, if they trashtalk or insult you, they'll get the same punishment. (That includes staff’s player chars too) <br>
                        <i>Duration : <span class="red-color">2 hours mute, and more if it happens a lot</span>.</i></li>
                    <li><span class="rule-number">- 8.17</span> Sharing IRL informations about a player without his consent (+ in discord). Irl threats on discord or in-game are forbidden. Leaking private messages or conversation sent on discord is not authorized. <br>
                        <b>Name, surname, address, etc. (In-game & Discord)</b> <br>
                        <i>
                            First time : <span class="red-color">12 hours mute</span>. If insult or continue (another account) > <span class="red-color">2 day ban</span>. <br>
                            Second time : <span class="red-color">24 hours mute</span>. If insult or continue (another account) > <span class="red-color">5 days ban</span>. <br>
                            Third time : <span class="red-color">+ than 1 day > Perma ban</span>. <br>
                        </i>
                        <b>Personal picture (Discord)</b> <br>
                        <i>
                            First time : <span class="red-color">7 days mute</span>. If insult or continue  (another account) > <span class="red-color">7 days ban</span>. <br>
                            Second time : <span class="red-color">Perma ban</span>.
                        </i>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>