<div class="d-flex justify-content-center">
    <section class="rules">
        <h1 class="rules-title">Rules</h1>

        <!-- Rules 1 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 1</span> General Informations
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 1.1</span>
                        Successful registration for your NosVoid account equals to accepting the rules and regulations as stated below.
                    </li>
                    <li><span class="rule-number">- 1.2</span>
                        NosVoid server is an international server stated for large communities. Our official language is English.
                    </li>
                    <li><span class="rule-number">- 1.3</span>
                        The NosVoid staff is not responsible for how players behave outside of community. <em>[example: discord private messages / phone calls]</em>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 2 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 2</span> In Game Behavior
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 2.1</span>
                        Be kind to other players and treat them respectful. Insulting, threatening, body shaming,   homophobic, racist, drug-related, radical or vulgar behavior is strictly forbidden.
                    </li>
                    <li><span class="rule-number">- 2.2</span>
                        You may not scam. Scamming includes any attempts to deceive users for your own advantage.
                    </li>
                    <li><span class="rule-number">- 2.3</span>
                        You may not spam. Spamming includes repeating to send same or similar massage over and over again. 
                    </li>
                    <li><span class="rule-number">- 2.4</span>
                        Discussing hacks, cheats, bots, bug abuse or any other harmful topics is not allowed. 
                    </li>
                    <li><span class="rule-number">- 2.5</span>
                        Leaking real life things like surname, address or similar without the players consent is forbidden. 
                    </li>
                    <li><span class="rule-number">- 2.6</span>
                        Lending any items to other players is at your own risk. Your items won't be recovered.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 3 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 3</span> Discord Rules
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 3.1</span>
                        All In Game behavior rules are also valid in discord and will be punished.
                    </li>
                    <li><span class="rule-number">- 3.2</span>
                        If you get banned you have the right to appeal for unban after 7 days.
                    </li>
                    <li><span class="rule-number">- 3.3</span>
                        Trading Channel Rules : <br>
                        <ul>
                            <li>#《💰》general-market : Everything tradeable like SPs, PSPs, materials, items, etc.</li>
                            <li>#《💰》shell-market  : Everything that includes shell selling or buying. </li>
                            <li>#《💰》archer-eq  : Only Archer related equipment like bow, dagger, armour and SPs.</li>
                            <li>#《💰》swordsman-eq  : Only Swordsman related equipment like sword, xbow, armour and SPs. </li>
                            <li>#《💰》mage-eq  : Only Mage related equipment like staff, gun, armour and SPs.</li>
                            <li># 《💰》martial-eq  : Only Martial Artist related equipment like fist, token, armour and SPs.</li>
                        </ul> <br>
                        If you use trading channels wrong you will be punished and your message will get deleted.
                    </li>
                    <li><span class="rule-number">- 3.4</span>
                        It is not allowed to use #📸pictures  for any toxicity. Breaking that rule can lead to punishment.
                    </li>
                    <li><span class="rule-number">- 3.5</span>
                        If a staff member warn you about your behavior and you still continue, you will be muted.
                    </li>
                    <li><span class="rule-number">- 3.6</span>
                        Trashtalking in any language chats is not allowed and will be punished since we have #《💀》pvp-chat for things like that.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 4 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 4</span> Accounts
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 4.1</span>
                        Players are allowed to login 3 accounts at the same time.
                    </li>
                    <li><span class="rule-number">- 4.2</span>
                        You can only use 2 accounts per person for fishing. 
                    </li>
                    <li><span class="rule-number">- 4.3</span>
                        Sharing your account is authorized (not sell, just share). NosVoid staff takes the right to freeze, block access or delete your account if you taking advantage of shared accounts.
                    </li>
                    <li><span class="rule-number">- 4.3.1</span>
                        If you sharing your account and someone steals it (also includes items and equipment) NosVoid Staff will not be taking responsibility of that. Meaning there won't be any kind of refund! Think twice before lending your account. 
                    </li>
                    <li><span class="rule-number">- 4.4</span>
                        It's strictly forbidden to sell, trade or give your account to third parties for your advantage. NosVoid staff has the right to freeze, block or reset your account.
                    </li>
                    <li><span class="rule-number">- 4.5</span>
                        It's not authorized to use advantage of multi account on Act4 like killing your own accounts or your friends accounts to farm reputation or daily/monthly quest.
                    </li>
                    <li><span class="rule-number">- 4.6</span>
                        You are responsible of your account security. We encourage you to never use same data you used anywhere outside of NosVoid. 
                    </li>
                    <li><span class="rule-number">- 4.7</span>
                        If you are 2 or more peoples playing together on the same IP, you need to open a ticket to register to our multi-account authorized list. If not, we might punish you if we see you using more than 2x accounts in raids.
                    </li>
                    <li><span class="rule-number">- 4.7.1</span>
                        Once in the list, you need to keep us updated about any changes (new names, new alt accounts), otherwise you might get punish.
                    </li>
                    <li><span class="rule-number">- 4.8</span>
                        If you are registered in our multi-account authorized list, it doesn't mean you can trade every reward to the same "main" account. The multi account list is for 2 people really playing the game. We will check thoroughly every registrations and we will ask for proofs.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 5 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 5</span> CLIENT MANIPULATION (HACKING, BOTTING, ETC.)
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 5.1</span> 
                        Hacking is strictly forbidden and hackers will be permanently banned.
                    </li>
                    <li><span class="rule-number">- 5.1.1</span> 
                        Players cannot have locked group invite when they are farming/fishing. Also players need to reply to staff when they are farming/fishing otherwise they will be treated like a bot.
                    </li>
                    <li><span class="rule-number">- 5.2</span>
                        Abusing bugs or glitches is not allowed. Any bugs have to be reported immediately. Hiding any bugs will lead to strict punishments.
                    </li>
                    <li><span class="rule-number">- 5.3</span>
                        Any client-modification is strictly forbidden, including package sending tools.
                    </li>
                    <li><span class="rule-number">- 5.4</span>
                        You may not use any mechanic that involves afk farming.
                    </li>
                    <li><span class="rule-number">- 5.5</span>
                        You may not use any mechanic that involves automation your in-game progress.
                    </li>
                    <li><span class="rule-number">- 5.6</span>
                        The usage and abuse of any bug, macro, cheat, exploits of in-game mechanics and 3rd party programs to gain unfair advantage will be strictly punished.
                    </li>
                    <li><span class="rule-number">- 5.7</span>
                        The abuse of pet farming is forbidden and will be punished.
                    </li>
                    <li><span class="rule-number">- 5.8</span>
                        You are not allowed to be with 3 Accounts on the same Farm Map (Angel, Full Moon, etc.)
                    </li>
                    <li><span class="rule-number">- 5.9</span>
                        During A4 you may not use task manager to log out on purpose while being hit just to avoid the fight/dead.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 6 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 6</span> EVENTS / RAIDS / CONTENTS 
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 6.1</span> 
                        You are not allowed to be with more than 2 accounts same time in Raids, Caligor, World Boss, Tower game and Family Tower. <br>
                        You are not allowed to be with more than 1 account in AoT, RBB, Color PVP, Bomb Runner and Family Dungeon. <br>
                        You are allowed to do the P8 TimeSpace with 3 accounts. <br>
                        <em>It also includes using more than one IP to take advantage or try to bypass this rule.</em>
                    </li>
                    <li><span class="rule-number">- 6.2</span>
                        You can only attack Caligor with 1 account at the same time.
                    </li>
                    <li><span class="rule-number">- 6.2.1</span>
                        You're not allowed to use skills to move Caligor.
                    </li>
                    <li><span class="rule-number">- 6.3</span>
                        You are not allowed to be afk in RBB and AoT. If you join those events you need to be active and participate in it. That also includes sitting in RBB. Otherwise you will be punished. 
                    </li>
                    <li><span class="rule-number">- 6.4</span>
                        You can be in arena with 2 accounts but you'll get punished if you hit players with more than 1 character. So it only includes being on stairs. Also using a character for debuff is forbidden. If you play 1 account you should only use this one. 
                    </li>
                    <li><span class="rule-number">- 6.5</span>
                        You have to respond to staff when they're sending a message, that also includes raiding. If you don't answer during a raid and still joining it, you will be considered as a bot.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 7 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 7</span> REAL WORLD TRADING

                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 7.1</span>
                        Account selling and buying is strictly forbidden. That includes real money, ingame gold and NosVoid coins. Same goes for trading items/gold for other private/official server items/gold. It will be considered as real world trading. 
                    </li>
                    <li><span class="rule-number">- 7.2</span>
                        Buying/Selling/Trading items/gold/accounts for other game currencies/other game accounts is also considered as real world trading.
                    </li>
                    <li><span class="rule-number">- 7.3</span>
                        Every proof will be judged extremely cautiously by NosVoid staff. Proofs include discord chats, WhatsApp messages, videos, Facebook, in-game messages, etc.
                    </li>
                    <li><span class="rule-number">- 7.4</span>
                        Faking real world trading proofs will lead to a strict punishment.
                    </li>
                    <li><span class="rule-number">- 7.5</span>
                        Trying to buy/sell items/accounts/gold is considered as real world trading.
                    </li>
                    <li><span class="rule-number">- 7.6</span>
                        Helping, acting as Middleman or advertising RWT for someone else will end up in a permanent ban of all your accounts.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rules 8 -->
        <div class="rules-container w-75">
            <button class="open-rule">
                <div class="rule-title">
                    <span class="rule-number">- 8</span> Punishments
                </div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="rule-container w-100 display-none">
                <ul class="rule-list">
                    <li><span class="rule-number">- 8.1</span>
                        If you discover a break of rules contact NosVoid staff and proof the case with screenshots.
                    </li>
                    <li><span class="rule-number">- 8.1.1</span>
                        It's not allowed to edit the screenshot, neither it can be older than 2 days.
                    </li>
                    <li><span class="rule-number">- 8.2</span>
                        Insults, threats, homophobic, racism, hard sexism, body shaming, sharing irl informations, etc. 
                    </li>
                    <li><span class="rule-number">- 8.2.1</span>
                        Remember that there are differences between what someone find offensive. Insults are not always insults.
                    </li>
                    <li><span class="rule-number">- 8.2.2</span>
                        Only NosVoid staff will identify what is considered as insult and what is not. Every case will be checked by itself. 
                    </li>
                    <li><span class="rule-number">- 8.2.3</span>
                        Punishments will be increased if you break rules more often and can also lead to a ban to permanent ban.
                    </li>
                    <li><span class="rule-number">- 8.2.4</span>
                        In the case of a player using an alt account to break rules, NosVoid staff will punish the main account accordingly to rules.
                    </li>
                    <li><span class="rule-number">- 8.2.5</span>
                        We consider every ingame function. Speakers, normal chat, whispers, hero chat, notes, etc. 
                    </li>
                    <li><span class="rule-number">- 8.3</span>
                        Botting, 3rd party programs, macros, afk mob killing, using fun SPs summoning skills to farm mobs <em>[may vary depending on the situation]</em> <br>
                        <b>First time :</b> 2 weeks ban <br>
                        <b>Second time :</b> perma ban without unban request <em>[IP unban possible]</em><br>
                        <em>If you get banned for fish botting all your fishes and materials will be deleted from your inventory.</em>
                    </li>
                    <li><span class="rule-number">- 8.4</span>
                        Stealing Mobs
                    </li>
                    <li><span class="rule-number">- 8.5</span>
                        You automatically get 2 hours of mute when you leave the Rainbow Battle.
                    </li>
                    <li><span class="rule-number">- 8.6</span>
                        Multi Account (more than 3 accounts connected at the same time) <br>
                        <em>Punishment increases depending on the number of accounts.</em>
                    </li>
                    <li><span class="rule-number">- 8.7</span>
                        Breaking rules of max. allowed accounts for events and in-game content. <em>[check 6.1]</em> <br>
                        <em>Punishment increases depending on the number of account.</em>
                    </li>
                    <li><span class="rule-number">- 8.8</span>
                        Attacking players/caligor with more than 1 account in arena/caligor.
                    </li>
                    <li><span class="rule-number">- 8.9</span> 
                        Killing alt accounts or friend accounts in a4 to take advantage.
                    </li>
                    <li><span class="rule-number">- 8.10</span>
                        Abusing $unstuck command or task manager in a4.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>