<div class="d-flex justify-content-center">
    <section class="reputation">
        <h1 class="reputation-title-1">Reputation Set</h1>
        <div class="reputation-system" *ngFor="let type of reputation">
            <h2 class="reputation-title-2">{{type.type}}</h2>
            <div class="reputation-items">
                <div class="p-3" *ngFor="let items of type.items">
                    <h3 class="reputation-title-3">{{items.name}}</h3>
                    <a href="../../assets/img/special-sets/reputation/{{items.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/reputation/{{items.img}}.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>