<div class="container">
    <h1 class="main-title">Void Prestige 6 Guide</h1>
  
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="biomes-heading">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#biomes-content" aria-expanded="true" aria-controls="biomes-content">
            Biomes
          </button>
        </h2>
        <div id="biomes-content" class="accordion-collapse collapse show" aria-labelledby="biomes-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Theres 4 biomes called Ice Biome, Lava Biome, Sky Biome and Dinosaur Biome. These biomes have their own crafts and maps. Maps are important to gather materials from monsters to use them in crafts. You can also craft items with different buffs to suit your needs, such as masks, hats, pets, costumes... You can also use biomes as exp areas, all of them give equal exp.</p>
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="raids-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#raids-content" aria-expanded="false" aria-controls="raids-content">
            Raids
          </button>
        </h2>
        <div id="raids-content" class="accordion-collapse collapse" aria-labelledby="raids-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You will meet with 3 new custom raids which can be found in Arcade Zone area: Star, Stone and Chaos Raids.</p>
            <p><strong>Star Raid:</strong> You have two rooms + boss room in the end. You have to clear 4 mini bosses in the first room and doors will be opened, you have to clear all monsters in the second room, mini boss will appear afterwards. You will be able to go to the boss room after clearing the mini boss. You will get Star Raid Box, Reputation, Family XP and 3 Raid Points after completing.</p>
            <p><strong>Stone Raid:</strong> You have two rooms + boss room in the end. You have to clear all monsters and open all levers in the first room. You need to clear all monsters in the second room as well and you will be able to go to the boss room afterwards. You will get Stone Raid Box, Reputation, Family XP and 3 Raid Points after completing.</p>
            <p><strong>Chaos Raid:</strong> You need to defeat 4 elemental elites to proceed. Which means you need to defeat 4 rooms one by one to be able to go to the boss room. You will get 1x Arcade Piece, 4x Chaos Box, Reputation, Family XP and 6 Raid Points after completing.</p>
            <p>Pay attention to Arcade Piece and Chaos box rewards! You can find an NPC called Arcade Craft in the Arcade Zone.</p>
            <p>Where you can exchange 1x Arcade Piece for Dino Raid Box, Sky Raid Box, Ice Raid Box OR Lava Raid Box. Your choice to craft any raid box you wish.</p>
            <img src="assets/img/prestiges/p6/Info1.png" alt="Info1">
            <p>You can also exchange 1x Chaos Box for Dino Biome Box, Sky Biome Box, Ice Biome Box OR Lava Biome Box. Your choice to craft any biome box you wish.</p>
            <img src="assets/img/prestiges/p6/Info2.png" alt="Info2">
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="stone-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stone-content" aria-expanded="false" aria-controls="stone-content">
            Stone
          </button>
        </h2>
        <div id="stone-content" class="accordion-collapse collapse" aria-labelledby="stone-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>It's a brand new system where you will face Stone Type monsters and you will need special items to fight against them. You will always hit 10,000 to Stone Type monsters as base damage. Your equipment or what you wear doesn't matter. You need to have items with "Increased damage to stone type monsters by x%" buffs. You can craft Helmet, Mask, Accessories, Resistances and Amulet with these mentioned buffs. You can upgrade these until +5. (Upgrade chance is 100% to success) or you can simply get Premium Versions of the mentioned items from Fortune Wheel which gives "Increased damage to stone type monsters by 150%" and these aren't upgradeable.</p>
            <p>Stone Upgrade Scroll can be crafted in Stone Area. You can see the amount of materials from the picture.</p>
            <img src="assets/img/prestiges/p6/Stone System Upgrade.png" alt="Stone System Upgrade">
            <p>Here's an example of how damage calculation works:</p>
            <ul class="styled-list">
              <li>Base dmg: 10,000</li>
              <li>Item 1 (150%): 15,000</li>
              <li>Item 2 (150%): 30,000 (Total 300%)</li>
              <li>Item 3 (150%): 45,000 (Total 450%)</li>
              <li>...</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="star-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#star-content" aria-expanded="false" aria-controls="star-content">
            Star
          </button>
        </h2>
        <div id="star-content" class="accordion-collapse collapse" aria-labelledby="star-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>It's a brand new system where you can improve your Equipment, (Weapon, Secondary, and Armor) Accessories, and Specialist Cards. You can find Scrolls and materials in the Star Area. You can also craft Helmet, Mask, Costume, Pet... which gives you more chances to upgrade your items successfully. You can also get Premium Star Upgrade Scroll from Void Shop which gives you +10% more chance to upgrade your items successfully. You also need two different materials for Premium Upgrade Scroll which can be bought from Void Shop. You can have max 5 Stars on your gears, there's Star Hammer if you would like to remove stars from your gears, which is also craftable in Star Area.</p>
            <p>Here's a short explanation of materials.</p>
            <img src="assets/img/prestiges/p6/Star System Explanation.png" alt="Star System Explanation">
            <p>And you can see possible buffs here. If a buff has a little Star icon on its left. When upgraded with Premium Scroll there will be a higher chance to get that buff.</p>
            <img src="assets/img/prestiges/p6/Star System Wep Buffs.png" alt="Star System Weapon Buffs">
            <img src="assets/img/prestiges/p6/Star System Armor Buffs.png" alt="Star System Armor Buffs">
            <img src="assets/img/prestiges/p6/Star System Accesory Buffs.png" alt="Star System Accessory Buffs">
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="c80-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c80-content" aria-expanded="false" aria-controls="c80-content">
            C80 Equipments
          </button>
        </h2>
        <div id="c80-content" class="accordion-collapse collapse" aria-labelledby="c80-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You can craft C80 Equipments in Prestige 6 Hub with the following materials needed:</p>
            <ul class="styled-list">
              <li>100x T-Rex Piece - Obtainable from Dino Biome Box.</li>
              <li>100x Frost Giant Piece - Obtainable from Ice Biome Box.</li>
              <li>100x Lava Giant Piece - Obtainable from Lava Biome Box.</li>
              <li>100x Queen Bee Sting - Obtainable from Sky Biome Box.</li>
              <li>5x Mysterious Stone - Craftable from Stone System Area.</li>
              <li>5x Mysterious Stone Note - Craftable from Stone System Area.</li>
              <li>200x Biome Crystal - Obtainable from any Biome Boxes.</li>
              <li>2x Flame Crystal</li>
            </ul>
            <p>You need a new scroll called C80 Upgrade Scroll to upgrade your C80 Equipments from plus 0 to 10. (Old scrolls don't work on C80) You can craft it in Prestige 6 Area for 1x Dinosaur Shiny Hat, 1x Lava Shiny Hat, 1x Ice Shiny Hat, 1x Sky Shiny Hat (These materials are craftable in their own biome areas.)</p>
            <p>P.S : You can simply learn from where you get all of these materials by reading its descriptions.</p>
            <p class="important-text">Here's a list of needed materials to upgrade your items. (Main weapons used as an example, the same materials are needed for secondary and armors as well.)</p>
            <p class="important-text">Upgrade chances :</p>
            <ul class="styled-list">
              <li>100% chance while upgrading from +0 to +1</li>
              <li>90% chance while upgrading from +1 to +2</li>
              <li>80% chance while upgrading from +2 to +3</li>
              <li>70% chance while upgrading from +3 to +4</li>
              <li>60% chance while upgrading from +4 to +5</li>
              <li>50% chance while upgrading from +5 to +6</li>
              <li>40% chance while upgrading from +6 to +7</li>
              <li>30% chance while upgrading from +7 to +8</li>
              <li>20% chance while upgrading from +8 to +9</li>
              <li>10% chance while upgrading from +9 to +10</li>
            </ul>
            <img src="assets/img/prestiges/p6/image (2).png" alt="C80 Equipments">
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="c80-evolve">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c80-content" aria-expanded="false" aria-controls="c80-content">
            Evolve on C80 Equipments
          </button>
        </h2>
        <div id="c80-content" class="accordion-collapse collapse" aria-labelledby="c80-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>We will be using same evolve items as we did on the C70 Equipments. Ice & Lava Draconic Power items which craftable in Prestige 5.:</p>
            <p>Craft materials of these items has been adjusted. You also will need 3x Mysterious Stone and 3x Mysterious Stone Note.</p>
            <p>P.S : Ice Draconic Power gives you following buffs:</p>
            <ul class="styled-list">
              <li>Fairy element damage is increased by 10.</li>
              <li>Damage in PvE increased by 10%.</li>
            </ul>
            <p>P.S : Lava Draconic Power gives you following buffs:</p>
            <ul class="styled-list">
              <li>All attacks are increased by 10% in PvP.</li>
              <li>Reduce all damage taken in PvP by 5%.</li>
            </ul>
            <img src="assets/img/prestiges/p6/Evolve.png" alt="C80 Evolve">
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="fairies-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fairies-content" aria-expanded="false" aria-controls="fairies-content">
            New Upgradeable Fairies
          </button>
        </h2>
        <div id="fairies-content" class="accordion-collapse collapse" aria-labelledby="fairies-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You can craft 4 new fairies from Biomes, from an NPC called "Accessories". These fairies can be upgraded until +5 by using Fairy Upgrade Scroll. You can craft Fairy Upgrade Scroll from Prestige 6 Area for 1x Dinosaur Sphere, 1x Dinosaur Leaf, 1x Ice Shiny Water, and 1x Ice Shiny Hat.</p>
            <p>P.S : You can simply learn from where you get all of these materials by reading its descriptions.</p>
            <p class="important-text">Here's a list of needed materials to upgrade your Fairies.</p>
            <p class="important-text">Upgrade chances :</p>
            <ul class="styled-list">
              <li>50% chance while upgrading from +0 to +1</li>
              <li>40% chance while upgrading from +1 to +2</li>
              <li>30% chance while upgrading from +2 to +3</li>
              <li>20% chance while upgrading from +3 to +4</li>
              <li>10% chance while upgrading from +4 to +5</li>
            </ul>
            <p>OR you can buy Premium Fairy Upgrade Scroll from Void Mall which has 10% more chance to succeed.</p>
            <p class="important-text">Premium Upgrade chances :</p>
            <ul class="styled-list">
              <li>60% chance while upgrading from +0 to +1</li>
              <li>50% chance while upgrading from +1 to +2</li>
              <li>40% chance while upgrading from +2 to +3</li>
              <li>30% chance while upgrading from +3 to +4</li>
              <li>20% chance while upgrading from +4 to +5</li>
            </ul>
            <img src="assets/img/prestiges/p6/fairies.png" alt="Fairies">
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="weapons-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#weapons-content" aria-expanded="false" aria-controls="weapons-content">
            New Upgradeable Weapon Skins
          </button>
        </h2>
        <div id="weapons-content" class="accordion-collapse collapse" aria-labelledby="weapons-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You can craft new Biome Cake Skins from Prestige 6 Area, an NPC called Skins. You need 20x Dinosaur Sack, 20x Ice Sack, 20x Lava Sack, 20x Golden Sack, 10x Mysterious Stone, 10x Mysterious Stone Note, 200x Biome Crystal.</p>
            <p>You also need to craft Weapon Skin Upgrade Scroll to upgrade your skins. You can craft it in Prestige 6 Area for 1x Sky Tail, 1x Dinosaur Leaf, 1x Lava Knit, 1x Ice Shiny Water.</p>
            <p>P.S : You can simply learn from where you get all of these materials by reading its descriptions.</p>
            <p class="important-text">Here's a list of needed materials to upgrade your Weapon Skins.</p>
            <p class="important-text">Upgrade chances :</p>
            <ul class="styled-list">
              <li>50% chance while upgrading from +0 to +1</li>
              <li>40% chance while upgrading from +1 to +2</li>
              <li>30% chance while upgrading from +2 to +3</li>
              <li>20% chance while upgrading from +3 to +4</li>
              <li>10% chance while upgrading from +4 to +5</li>
            </ul>
            <p>OR you can buy Premium Weapon Skin Upgrade Scroll from Void Mall which has 10% more chance to succeed.</p>
            <p class="important-text">Premium Upgrade chances :</p>
            <ul class="styled-list">
              <li>60% chance while upgrading from +0 to +1</li>
              <li>50% chance while upgrading from +1 to +2</li>
              <li>40% chance while upgrading from +2 to +3</li>
              <li>30% chance while upgrading from +3 to +4</li>
              <li>20% chance while upgrading from +4 to +5</li>
            </ul>
            <img src="assets/img/prestiges/p6/image (3).png" alt="Weapon Skins">
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="wings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#wings-content" aria-expanded="false" aria-controls="wings-content">
            New Craftable Specialist Wings Swappers
          </button>
        </h2>
        <div id="wings-content" class="accordion-collapse collapse" aria-labelledby="wings-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You can craft new swappers in each biome and star areas!</p>
            <div class="video-container">
              <p><strong>Star Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/STAR WINGS (1).mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Dinosaur Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/Dinasour.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Wyvern Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/Wyvern.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Lava Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/Lava.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Sky Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/sky.mp4" controls></video>
            </div>
          </div>
        </div>
      </div>
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="premium-wings-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#premium-wings-content" aria-expanded="false" aria-controls="premium-wings-content">
            New Premium Wings Swappers
          </button>
        </h2>
        <div id="premium-wings-content" class="accordion-collapse collapse" aria-labelledby="premium-wings-heading" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>You can find them from Void Fortune Wheel!</p>
            <div class="video-container">
              <p><strong>Fallen Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/FallenWings.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Galaxy Blue Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/GalaxyBlueWings.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>E-Girl Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/EyedAngel.mp4" controls></video>
            </div>
            <div class="video-container">
              <p><strong>Eyed Angel Wings Swapper</strong></p>
              <video src="assets/img/prestiges/p6/EyedAngel.mp4" controls></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  