<div class="d-flex justify-content-center">
    <div class="soul-system">
        <h1 class="soul-system-title">Private Instances</h1>
        <div class="soul-system-content">
            <h2> --What is Private Instances? -- <hr></h2>
            <p>
               Private Instances is brand new system where it lets you create ow maps for yourself or with your group members!<br/> With that new system you can farm as much as you want without being bothered by other players.</p>
               <h2> --Where can i find entry? -- <hr></h2>
               <p>You can enter Private Instance on every exp map. <br/>Goth Elder NPC will be waiting for you at the entrance, which allows you to create a instance. </p>
               <img width="" src="../../assets/img/instances/npc.png"  alt="" style="border: 1px solid rgb(134, 40, 103);"><br/>
               <br/>
               <p>Now is to choose whether you want to enter alone or with a group and enjoy the peace of mind while leveling!</p>
               <img width="" src="../../assets/img/instances/dialog.png"  alt="" style="border: 1px solid rgb(134, 40, 103);"><br/>
            </div>
        </div>
    </div>

  
  
               
              
                
                
            








        
        
                
            

           