<div class="d-flex justify-content-center">
    <section class="equipements">
        <h1 class="equipements-title">Equipments</h1>
        <h2 class="eqs-title">C55 Eqs</h2>
        <div class="eqs">
            <img src="../../assets/img/equipements/c55_craft.png" alt="C55 craft">
            <div class="crafting-items h-100">
                <h3 class="crafting-items-title">Items to craft</h3>
                <ul>
                    <li class="crafting-item">- 500 Gold Coins</li>
                    <li class="crafting-item">- 5 Class Auras</li>
                    <li class="crafting-item">- 2 Black Powders (Can be obtain in P7 raid daily quest)</li>
                    <li class="crafting-item">- 2 Golden Powders (Can be obtain in P7 raid daily quest)</li>
                    <li class="crafting-item">- 1 Holy Light (Can be obtain in Caligor boxes and Hardcore raid boxes)</li>
                    <li class="crafting-item">- 3 Ancient eqs (Can be obtain in Kirollas raid boxes)</li>
                    <li class="crafting-item">- 1 Flame Crystal</li>
                    <li class="crafting-item">- 7 Weapon Crystals or 10 Armor Crystals</li>
                    <li class="crafting-item">- C50 eq</li>
                </ul>
            </div>
        </div>
        <h2 class="eqs-title">C60 Eqs</h2>
        <div class="c60-scroll">
            <h3 class="crafting-scroll">
                <b>You need to craft a scroll before</b> <br>
                You can craft them with Hearts of Belial which you can obtain in Color PVP
            </h3>
            <img src="../../assets/img/equipements/c60_scroll.png" alt="">
        </div>
        <div class="eqs">
            <img src="../../assets/img/equipements/c60_craft.png" alt="C55 craft">
            <div class="crafting-items h-100">
                <h3 class="crafting-items-title">Items to craft</h3>
                <ul>
                    <li class="crafting-item">- 5 Broken Magic Sword of Belial (Can be obtain in Belial raid boxes)</li>
                    <li class="crafting-item">- 5 Paimon's Cursed Soul (Can be obtain in Paimon raid boxes)</li>
                    <li class="crafting-item">- 3 Tower Metal (Can be obtain after completing the P7 Tower)</li>
                    <li class="crafting-item">- 3 Fernon's Energy (Can be obtain in TS daily quest or TS boxes)</li>
                    <li class="crafting-item">- 2 Holy Light (Can be obtain in Caligor boxes and Hardcore raid boxes)</li>
                    <li class="crafting-item">- 2 Flame Crystal</li>
                    <li class="crafting-item">- C55 eq</li>
                    <li class="crafting-item">- 2 Dragon's Wing (Can be obtain in Hardcore raid daily quest)</li>
                </ul>
            </div>
        </div>
    </section>
</div>