<nav class="wiki-navbar" id="wiki-navbar">
  <div class="wiki-navbar-logo">
    <a routerLink="/" class="video-logo">
      <video playsinline autoplay muted loop>
        <source src="../../assets/img/baner_video.webm">
      </video>
    </a>
    <a routerLink="/" class="responsive-logo">
      <img src="../../assets/img/void_logo.png" alt="">
      nosvoid
    </a>
  </div>

  <div class="wiki-navbar-toggle" onclick="burgerMenu()">
    <i class="fa fa-bars bars-icon" aria-hidden="true" id="burger"></i>
    <i class="fa fa-times close-icon" aria-hidden="true" id="close"></i>
  </div>

  <ul class="wiki-navbar-menu" id="wiki-navbar-menu">
    <!--<li routerLink="/xmas-event" (click)="closeMenuLink()" class="xmas-bg">Christmas Event</li>-->
    <li routerLink="/starter-guide" (click)="closeMenuLink()">Starter Guide</li>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
        In Game Content
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu information-grid">
        <div>
          <div class="dropdown-heading">Costumes & Skins</div>
          <div class="dropdown-links">
            <a routerLink="/all-sets" class="link" (click)="closeMenuLink()">All Sets</a>
            <a routerLink="/hats" class="link" (click)="closeMenuLink()">Hats</a>
            <a routerLink="/costumes" class="link" (click)="closeMenuLink()">Costumes</a>
            <a routerLink="/costume-wings" class="link" (click)="closeMenuLink()">Wings</a>
            <a routerLink="/weapon-skins" class="link" (click)="closeMenuLink()">Weapon Skins</a>
          </div>
        </div>
        <div>
          <div class="dropdown-heading">Equipments</div>
          <div class="dropdown-links">
            <a routerLink="/accessories" class="link" (click)="closeMenuLink()">Accessories</a>
            <a routerLink="/badges" class="link" (click)="closeMenuLink()">Badges</a>
            <a routerLink="/books" class="link" (click)="closeMenuLink()">Books</a>
            <a routerLink="/fairies" class="link" (click)="closeMenuLink()">Fairies</a>
            <a routerLink="/helmets-masks" class="link" (click)="closeMenuLink()">Helmets & Masks</a>
            <a routerLink="/resistances" class="link" (click)="closeMenuLink()">Resistances</a>
          </div>
        </div>
        <div>
          <div class="dropdown-heading">Pets, Partners <br> & PSPs</div>
          <div class="dropdown-links">
            <a routerLink="/partners" class="link" (click)="closeMenuLink()">Partners</a>
            <a routerLink="/pets" class="link" (click)="closeMenuLink()">Pets</a>
            <a routerLink="/psps" class="link" (click)="closeMenuLink()">PSPs</a>
          </div>
        </div>
        <div>
          <div class="dropdown-heading">Others</div>
          <div class="dropdown-links">
            <a routerLink="/daily-quests" class="link" (click)="closeMenuLink()">Daily & Marathon <br> Quests</a>
            <a routerLink="/mounts" class="link" (click)="closeMenuLink()">Mounts</a>
            <a routerLink="/raids" class="link" (click)="closeMenuLink()">Raids</a>
            <a routerLink="/shells" class="link" (click)="closeMenuLink()">Shells</a>
            <a routerLink="/tattoos" class="link" (click)="closeMenuLink()">Tattoos</a>
            <a routerLink="/carves" class="link" (click)="closeMenuLink()">Carves</a>
            <a routerLink="/titles" class="link" (click)="closeMenuLink()">Titles</a>
            <a routerLink="/sellable-items" class="link" (click)="closeMenuLink()">Sellable Items</a>
            <a routerLink="/instances" class="link" (click)="closeMenuLink()">Private Instances</a>
          </div>
        </div>

      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
        Guides
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu information-grid guides-dropdown dropdown-responsive">

        <div>
          <div class="dropdown-heading">Important</div>
          <div class="dropdown-links">
            <a routerLink="/features" class="link" (click)="closeMenuLink()">Features</a>
            <a routerLink="/special-items" class="link" (click)="closeMenuLink()">Special Items</a>
            <a routerLink="/ticket-system" class="link" (click)="closeMenuLink()">Ticket System</a>
            <a routerLink="/whitelist-dll" class="link" (click)="closeMenuLink()">Whitelist DLL</a>
          </div>
        </div>
        <div>
          <div class="dropdown-heading">Special Sets</div>
          <div class="dropdown-links">
            <a routerLink="/double-box" class="link" (click)="closeMenuLink()">Double Box Set</a>
            <a routerLink="/gold-set" class="link" (click)="closeMenuLink()">Gold Set</a>
            <a routerLink="/raid-set" class="link" (click)="closeMenuLink()">Raid Damage Set</a>
            <a routerLink="/reputation-set" class="link" (click)="closeMenuLink()">Reputation Set</a>
            <a routerLink="/betting-set" class="link" (click)="closeMenuLink()">Betting Set</a>
            <a routerLink="/cooking-set" class="link" (click)="closeMenuLink()">Cooking Set</a>
            <a routerLink="/perfection-set" class="link" (click)="closeMenuLink()">Perfection Set</a>
            <a routerLink="/act-four-set" class="link" (click)="closeMenuLink()">A4 Set</a>
            <a routerLink="/fish-set" class="link" (click)="closeMenuLink()">Fish Set</a>
            <a routerLink="/exp" class="link" (click)="closeMenuLink()">Exp Set</a>
          </div>
        </div>

        <div>
          <div class="dropdown-heading">SP Cards</div>
          <div class="dropdown-links">
            <a routerLink="/sp-obtaining" class="link" (click)="closeMenuLink()">Obtaining</a>
            <a routerLink="/sp-perfection" class="link" (click)="closeMenuLink()">SP Perfection</a>
            <a routerLink="/sp-upgrade" class="link" (click)="closeMenuLink()">SP Upgrade</a>
            <a routerLink="/sp-wings" class="link" (click)="closeMenuLink()">SP Wings</a>
            <a routerLink="/cooking-sp" class="link" (click)="closeMenuLink()">Cooking SP</a>
          </div>
        </div>
        <div>
          <div class="dropdown-heading">Others</div>
          <div class="dropdown-links">
            <a routerLink="/act4" class="link" (click)="closeMenuLink()">Act 4</a>
            <a routerLink="/arena-of-talents" class="link" (click)="closeMenuLink()">Arena of Talent</a>
            <a routerLink="/fish-system" class="link" (click)="closeMenuLink()">Fish System</a>
            <a routerLink="/prestige-system" class="link" (click)="closeMenuLink()">Prestige System</a>
            <a routerLink="/rainbow-battle" class="link" (click)="closeMenuLink()">Rainbow Battle</a>
            <a routerLink="/world-bosses" class="link" (click)="closeMenuLink()">World Bosses</a>
            <a routerLink="/soul-system" class="link" (click)="closeMenuLink()">Soul System</a>
            <a routerLink="/money" class="link" (click)="closeMenuLink()">How to make money?</a>

          </div>
        </div>
      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
        Prestiges
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu information-grid-crew dropdown-responsive">
        <div class="dropdown-links">
          <a routerLink="/prestige-system" class="link link-crew" (click)="closeMenuLink()">Prestige System</a>
          <a routerLink="/prestige-8" class="link link-crew" (click)="closeMenuLink()">Prestige 4</a>
          <a routerLink="/prestige-8-1" class="link link-crew" (click)="closeMenuLink()">Prestige 4 vol.1</a>
          <a routerLink="/prestige-8-2" class="link link-crew" (click)="closeMenuLink()">Prestige 4 vol.2</a>
          <a routerLink="/prestige-9" class="link link-crew" (click)="closeMenuLink()">Prestige 5</a>
        </div>
      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
        Crew
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu information-grid-crew dropdown-responsive">
        <div class="dropdown-links">
          <!-- <a routerLink="/staff-members" class="link link-crew" (click)="closeMenuLink()">Staff Members</a> -->
          <a routerLink="/content-creators" class="link link-crew" (click)="closeMenuLink()">Content Creators</a>
          <a routerLink="/becoming-content-creator" class="link link-crew" (click)="closeMenuLink()">How to become
            Content Creator ?</a>
        </div>
      </div>
    </div>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
        Updates
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu information-grid-updates dropdown-responsive">
        <div class="dropdown-links">
          <a href="https://forum.nosvoid.com/forum/board/9-patch-notes/" class="link link-crew" (click)="closeMenuLink()" target="_blank" rel="noopener noreferrer">Patch Notes</a>
          <a routerLink="/shop-updates" class="link link-crew" (click)="closeMenuLink()">NosVoid Shop Updates</a>
          <a routerLink="/academy-updates" class="link link-crew" (click)="closeMenuLink()">Academy Shop Updates</a>
          <a routerLink="/vessel" class="link link-crew" (click)="closeMenuLink()">Vessel Event</a>
        </div>
      </div>
    </div>

    <li routerLink="/schedule" (click)="closeMenuLink()">Schedule</li>
    <li routerLink="/rules" (click)="closeMenuLink()">Rules</li>
  </ul>
</nav>