<div class="d-flex justify-content-center">
    <section class="betting-set">
        <h1 class="betting-set-title-1">Cooking Set<hr></h1>

        <h1 class="act-four-set-title-2"><a href="https://wiki.nosvoid.com/cooking-sp"> Cooking SP Guide</a></h1>

        <div class="betting-set-system" *ngFor="let items of betting">
            <div class="betting-set-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    <h3 class="betting-set-title-3">{{regular.name}} <hr></h3>
                   
                    <a href="../../assets/img/special-sets/cooking{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/cooking/{{regular.img}}.png" alt="">
                    </a>
                    <h3 class="betting-location">{{regular.location}}</h3>
                </div>
            </div>
            <hr>
        </div>
       
    </section>
    
</div>