<div class="d-flex justify-content-center">
    <section class="world-bosses">
      <h1 class="world-bosses-title-1">World Bosses</h1>
  
      <div class="w-75">
            <h2 class="world-bosses-title-2">Fire God Grenigas World Boss</h2>
            <p class="world-bosses-text">
                At 16:00 and 22:45 the World Boss spawns at World Boss Area $warp wb. You need to kill the
                World Boss to get Tattoo and Carve Boxes
            </p>
            <h2 class="world-bosses-title-2">Act 4 World Boss</h2>
            <p class="world-bosses-text">
                At 16:15 and 23:00 a portal spawn in Act4 Citadel. <br>
                First, Angels and Demons need to kill the World Boss. <br>
                Second, Angels and Demons will fight. The first side that reaches 300 kills wins. <br>
                At the end, everyone get :
            </p>
            <ul class="act4-wb-rewards">
                <li class="act4-wb-reward">- 2x Tattoo Box 1</li>
                <li class="act4-wb-reward">- 2x Tattoo Box 2</li>
                <li class="act4-wb-reward">- 2x Tattoo Box 3</li>
                <li class="act4-wb-reward">- 2x Carve Runes Box 1</li>
                <li class="act4-wb-reward">- 2x Carve Runes Box 2</li>
            </ul>
            <h3 class="world-bosses-title-3">Winner and Loser Side Boxes :</h3>
            <p class="world-bosses-text">
                The chance to get items change between Winner and Loser Side Boxes.
            </p>
            <ul class="act4-wb-rewards">
                <li class="act4-wb-reward">- 1x Costume Piece</li>
                <li class="act4-wb-reward">- 1x Change Skin 2</li>
                <li class="act4-wb-reward">- 2x Rarify Item</li>
                <li class="act4-wb-reward">- 1x Cold Heart</li>
            </ul>

            <h2 class="world-bosses-title-2">Volcano World Boss</h2>
            <p class="world-bosses-text">
                At 20:00 the World Boss spawns at World Boss Area $warp wb 
                Double-Instanced World boss, defeat minibosses to obtain items of great value.
                After defeating minibosses, a World Boss will spawn.
            </p>
        </div>
    </section>
</div>
