.crew {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 0;
}

.staff-members-title-1,
.staff-members-title-2,
.staff-members-title-3,
.staff-members-title-4 {
    font-family: 'Edu SA Beginner', cursive;
}

.staff-members-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.staff-members-title-2 {
    font-size: 2.5rem;
    margin-top: 1em;
    text-align: center;
    width: 75%;
    border-radius: 20px;
    padding-block: .5em;
    line-height: 1.3em;
    margin-bottom: 0;
}

.staff-members-title-3 {
    font-size: 2rem;
    line-height: 1.3em;
}

.staff-members-title-3 span {
    font-weight: bold;
    font-size: 2.2rem;
}

.staff-members-title-4 {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.staff-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-block: 2em;
    padding-inline: 1em;
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
}

.staff-member:hover {
    background-color: rgba(200, 200, 200, .3);
}

.staff-member img {
    max-width: 100%;
}

.staff-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-staff-members {
    padding-inline: 2em;
}

h2.lead-team {
    color: var(--lead-team-clr);
    border: solid 1px var(--lead-team-clr);
}

h2.admin-team {
    border: solid 1px var(--void-clr);
    color: var(--void-clr);
}

.lead-team {
    color: var(--lead-team-clr);
}

.sgm {
    color: var(--sgm-clr)
}

.team-manager {
    color: var(--tm-clr)
}

.web-dev {
    color: var(--web-dev-clr);
}

.head-balance {
    color: var(--head-balance-clr);
}

h2.gm {
    color: var(--gm-clr);
    border: solid 1px var(--gm-clr);
}

.wiki-dev {
    color: var(--69-clr);
}

.gm {
    color: var(--gm-clr);
}
.tgm {
    color: var(--tgm-clr);
}

h2.junior {
    color: var(--junior-gd-clr);
    border: solid 1px var(--junior-gd-clr);
}

.junior {
    color: var(--junior-gd-clr);
}

h2.supp {
    color: var(--gs-clr);
    border: solid 1px var(--gs-clr);
}

.supp {
    color: var(--gs-clr);
}

.tech {
    color: var(--tech-helper-clr);
}

h2.tgs {
    color: var(--tgs-clr);
    border: solid 1px var(--tgs-clr);
}

.tgs {
    color: var(--tgs-clr);
}

/* Media queries */
@media all and (min-width: 1140px) {
    .crew {
        width: 75%;
    }
    .staff-members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .lead-members {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}