<div class="d-flex justify-content-center">
    <section class="component-container">
        <h1 class="rbb-title-1">Rainbow Battle</h1>
        
        <article class="rbb-article">
            <h2 class="rbb-title-2">Ranking page</h2>
            <p class="rbb-text">
                There will be Rainbow Battle logs on <a class="rbb-text-purple" href="https://nosvoid.com/ranking/rainbow/wins/" target="_blank">website</a> :
            </p>
            <div class="d-flex justify-content-center">
                <ul class="rbb-list">
                    <li class="rbb-item">- Division</li>
                    <li class="rbb-item">- Wins</li>
                    <li class="rbb-item">- Loses</li>
                    <li class="rbb-item">- Kills</li>
                    <li class="rbb-item">- Deaths</li>
                </ul>
            </div>
        </article>
        <article class="rbb-article">
            <h2 class="rbb-title-2">Mechanics & Ranks</h2>
            <h3 class="rbb-title-3">Mechanics</h3>
            <ul class="rbb-list">
                <li class="rbb-item">- Changed duration of Rainbow Battle to <b>7</b> minutes.</li>
                <li class="rbb-item">- Rainbow Battle is <b>5v5</b> from now on.</li>
                <li class="rbb-item">- Crystals giving more points than before.</li>
            </ul>
            <h3 class="rbb-title-3">Ranks</h3>
            <div class="d-flex justify-content-center">
                <ul class="rbb-list">
                    <li class="rbb-item">- 6 wins to reach <span class="bronze">Bronze</span></li>
                    <li class="rbb-item">- 12 wins to reach <span class="silver">Silver</span></li>
                    <li class="rbb-item">- 18 wins to reach <span class="gold">Gold</span></li>
                    <li class="rbb-item">- 25 wins to reach <span class="plat">Platinum</span></li>
                    <li class="rbb-item">- 40 wins to reach <span class="diamond">Diamond</span></li>
                </ul>
            </div>
            <div class="ranks-infos">
                <p class="rbb-text">
                    Diamonds also get extra points. <br>
                    At day 30 (reset) Top 1-2-3 points get the rewards. <br>
                    Points will be based on wins and kills.
                </p>
            </div>
        </article>

        <article class="rbb-article">
            <h2 class="rbb-title-2">Rewards</h2>
            <div class="d-flex justify-content-center">
                <ul class="rbb-rewards">
                    <li class="rbb-item"><b>Top 1</b> : "Best Rainbow Player" title & Arena Wings.</li>
                    <li class="rbb-item"><b>Top 2</b> : "Rainbow God" title & Arena Wings.</li>
                    <li class="rbb-item"><b>Top 3</b> : "The Legend is Here" title & Arena Wings.</li>
                </ul>
            </div>
        </article>
    </section>
</div>