<div class="d-flex justify-content-center">
  <section class="starter-guide">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars nos-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#1">Starter Guide</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#2">Lvl 1-99</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p1">Prestige 1</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p2">Prestige 2</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p3">Prestige 3</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p4">Prestige 4</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p5">Prestige 5</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p6">Prestige 6</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p7">Prestige 7</a></li>
            <li class="nav-item"> <a class="nav-link" href="/starter-guide#p8">Prestige 8</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="scrollItems">

    </div>

    <!-- STARTER GUIDE -->
    <div id="1" class="scrollHere"></div>
    <h1 class="starter-guide-title-1">Starter Guide</h1>
    <div class="w-75">
      <p class="starter-guide-text">
        If You have just downloaded the game or You still are downloading it and want to have a good start, this guide
        is for You! The first thing You should do is register on the <a href="https://nosvoid.com/register/"
          target="_blank">website</a> :
      </p>
      <h2 class="starter-guide-title-2"> -- PIN Code -- </h2>
      <p class="starter-guide-text">
        After that, You should log in on the website and set up Your PIN code.
        <br>
        Your PIN code is composed by 9 numbers, don't forget it! We will need it soon... To set up Your PIN code just
        log in, and the pop-up will show up. Be aware, it might not let You to make this code too easy!
      </p>
      <h2 class="starter-guide-title-2"> -- Making your first character -- </h2>
      <p class="starter-guide-text">
        When Your account is ready You can open the game by opening the NosVoid.exe and log into the game with the
        account You created. It's time to make Your first character. Simply create it as You do in normal NosTale. When
        You try to enter the game with Your new character, this is the time to write Your PIN code. You have to enter it
        from time to time. After finally getting into the game, You will appear on this map :
      </p>
      <img src="../../assets/img/starter-guide/first_map.png" alt="">
      <h2 class="starter-guide-title-2"> -- First Map -- </h2>
      <p class="starter-guide-text">
        Here You can craft Yourself one pet and one partner. Choose wisely! <br>
        But don't be worried about the choice, they do have very similar stats, but keep in mind, for now there is no
        way to get back to this area, so You should choose now. After(or before) You have crafted Your partners for the
        adventure, You can change Your class to either: Mage, Archer ; Warrior or Martial Artist ,to do that, You need
        to unequip Your current items You received, and talk to the NPC in the middle of the room and choosing the
        dialogue "Job Change
      </p>
      <h2 class="starter-guide-title-2"> -- NosVille -- </h2>
      <p class="starter-guide-text">
        After choosing the class, You can leave the room by entering the portal. <br>
        You will be teleported to the main town. It's NosVille, You can get there anytime by using one of the commands:
        $home all of them are listed in players command channel. But for now, let's take a short trip to the useful NPCs
        for the early game. You got some gold from the game and don't be worried to spend it, since You will soon start
        earning a lot more! Firstly, we should visit Starter Pack NPC:
      </p>
      <img src="../../assets/img/starter-guide/starter_npc.png" alt="">
      <p class="starter-guide-text">
        You can also notice, that we received a medal for the reputation. You can use it freely. In here we can buy
        better equipment. The first SP card, fairies. Arrows if needed , but don't buy too many yet! We have some
        shopping to do and its quite expensive for now. I would recommend You buying some Seed of Power though, they
        might come in handy in some situations, 200 should be more than enough. But wait... We've crafted our partners
        and they're not here. Let's fix it by going here:
      </p>
      <img src="../../assets/img/starter-guide/miniland.png" alt="">
      <p class="starter-guide-text">
        This is the portal to the Miniland Both NPCs sell useful stuff for the pets, but We don't need any of that for
        now. Just enter the portal, use items You crafted on the first map(They should be in the "Equip" tab) and You
        can make them follow You by using the "Company" button, after targetting them. Now let's continue our shopping
        trip and let's go to the Resistance shop:
      </p>
      <img src="../../assets/img/starter-guide/resistance.png" alt="">
      <p class="starter-guide-text">
        We can't wear them now, but the levels are going to rain soon, so it will sustain our survivabilty while the
        levels go on, it will be nice to already have them in our inventory, they might chunk our savings, but don't be
        worried about that. I don't know how about You, but this is the time for me to get already annoyed with how much
        I can walk "by foot" in this game. Let's get ourselves a nice Mount to speed things up! Mount shop:
      </p>
      <img src="../../assets/img/starter-guide/mount_shop.png" alt="">
      <p class="starter-guide-text">
        I recommend you buying one for now, You will be able to change it later on. You can set it on Your skill bar by
        going to Main in Your inventory and just moving it there. There are some bonuses we can still acquire. Let's go
        to the Costume Shop:
      </p>
      <img src="../../assets/img/starter-guide/cost1.png" alt="">
      <img src="../../assets/img/starter-guide/cost2.png" alt="">
      <p class="starter-guide-text">
        There are two shops for costumes. Keep in mind that the bonuses may differ between the costumes. Choose Yours
        and let's move to the Map portals:
      </p>
      <img src="../../assets/img/starter-guide/farm_portals.png" alt="">
      <p class="starter-guide-text">
        As you can see there are two portals. For now it is better to visit Lvl Area since we want to have better
        equipment:
      </p>
      <img src="../../assets/img/starter-guide/prestige_portals.png" alt="">
    </div>

    <!-- LEVEL 1-99 -->
    <div id="2" class="scrollHere"></div>
    <h1 class="starter-guide-title-1">Level 1-99</h1>
    <div class="w-75">
      <p class="starter-guide-text">
        We can start our Levelling Journey by entering 'Lvl Area' and then 'Beginner Map' located on the screens below.
      </p>
      <img src="../../assets/img/starter-guide/img_1.png" alt="image here">
      <img src="../../assets/img/starter-guide/img_2.png" alt="image here">

      <h2 class="starter-guide-title-2">-- Maps --</h2>
      <p class="starter-guide-text">
        We will have 3 different maps to choose from, enter the map with Level cap you currently on. For example we
        start on 15-40 map but once we hit Lv40 we will move on to the next map. <br />
        This will speed up the levelling process as the monsters get stronger on higher level maps and therefore give
        more experience. <br /> <br />
        <b>TIP:</b> Use 'Ancelloan's Blessing' to increase Experience gain by 100% for 1H!
      </p>
      <img src="../../assets/img/starter-guide/img_3.png" alt="image here">

      <h2 class="starter-guide-title-2">-- Equipments --</h2>
      <p class="starter-guide-text">
        While you progress with levels you will receive new equipment on Level 40, 60 and 99. <br /> Equip them when you
        reach
        the required level to wear them, as they will help you survive and deal more damage to monsters. <br /> <br />
        <b>NOTE:</b> Make sure to not delete/sell this equipment because you will still use it on further prestiges.
      </p>
      <img src="../../assets/img/starter-guide/img_5.png" alt="image here">

      <h2 class="starter-guide-title-2">-- Max level --</h2>
      <p class="starter-guide-text">
        Once you reach Level 99 you will have some 'Black Slate' dropped from monsters across all maps. These are used
        to craft items in the Beginner Map but what we will focus on is crafting as many Ancelloan's Blessing and Fairy
        Boosters in the NPC located on the right side of Beginner Map. We also dropped a good amount of gold which we
        will use to get equipment from the 'Starter Pack : PvE Equipments' NPC located in the middle of NosVille. You
        can fast travel there using command $home in general chat. <br /> <br />

        <b>TIP:</b>
        Use various commands to get around NosVoid quicker and buy items like potions/arrows anywhere you like!
        You can find the whole list of commands by typing <b>$help</b> in general chat in game.
      </p>
      <img src="../../assets/img/starter-guide/img_6.png" alt="image here">

      <h2 class="starter-guide-title-2">-- Better equipments --</h2>
      <p class="starter-guide-text">
        From the 'Starter Pack: PvE Equipments NPC' get yourself the equipment for your class. These items are extremely
        useful throughout the entire levelling process because of the shells these equipment already have. Once bought,
        equip them, you will use this equipment until the end. Looking at the Shells we have on the weapons, we can see
        we have Overall SL:9, SL Damage and SL Property:14.
        <br /><br />
        For Archer/Swordsman and Martial Artist the recommended SP Point distribution is 100/x/73/x
        And for Mage its 69/x/100/x
        <br /><br />
        Add the points to your specialist, and confirm by using Decision button. The Prestige maps will be a little bit
        harder and therefore we will need resistances to survive, you can buy them from 'Resistance' NPC found on the
        left side of NosVille. Buy all of them as every monster has different elemental attack and we will have to swap
        the resistances according to monsters element.
      </p>
      <img src="../../assets/img/starter-guide/img_7.png" alt="image here">

      <h2 class="starter-guide-title-2">-- Upgrading our prestige --</h2>
      <p class="starter-guide-text">
        NosVoid has a prestige system, which means you reset your characters level to gain buffs and progress further
        into the game. We can Prestige by heading over to 'Farm Prestige' map and killing monsters to gain 'Material'
        which we then use to craft 'Prestige Item'. You will need 45 Materials to craft 1 Prestige Item, my suggestion
        would be to farm enough Materials to craft 8 Prestige Items at once so you dont have to go back there again. To
        craft all you will need to collect 360 Materials, but if you have extra gold you can also buy Prestige Item in
        NosBazar.
      </p>
      <img src="../../assets/img/starter-guide/img_8.png" alt="image here">
      <p class="starter-guide-text">
        once you hit the max level for a particular prestige, you will have to use the Prestige Item to progress into
        the next prestige level. <br /> <br />
        <b>NOTE:</b> you have to unequip every item and go to NosVille before using the Prestige Item.
      </p>

    </div>
  </section>


</div>