<div class="d-flex justify-content-center align-items-center">
    <section class="psps">
        <h1 class="psps-title">PSPs</h1>

        <div class="select-container">
            <select name="filter" id="psps-filter" class="psps-select">
                <option>All</option>
                <option class="selectPve">Raid/PVE</option>
                <option class="selectPvp">PVP</option>
                <option class="selectFish">Fish</option>
                <option class="selectGold">Gold</option>
                <option class="selectCooking">Cooking</option>
            </select>
        </div>

        <div class="psps-container">
            <div class="psp-container" class="{{item.class}}" *ngFor="let item of psps">
                <div class="psp-content">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <h2 class="psp-name" id="{{item.id}}">{{item.name}}</h2>
                        <h3 class="psp-partner">{{item.partner}}</h3>
                        <h3 class="psp-location">{{item.location}}</h3>
                        <a href="../assets/img/psps/skins/{{item.skin}}.png" target="_blank">
                            <img src="../assets/img/psps/skins/{{item.skin}}.png" class="psp-skins">
                        </a>
                    </div>
                    <!-- Modal -->
                    <button class="show-buffs">Show Buffs</button>
                    <div class="set-buff display-none" id="set-buff-modal">
                        <div class="set-buff-content">
                            <img src="../assets/img/psps/buffs/{{item.buff}}.png" alt="">
                            <span class="close-buffs" id="close-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <button class="show-skills">Show Skills</button>
                    <div class="set-buff display-none" id="set-buff-modal">
                        <div class="set-buff-content">
                            <img src="../assets/img/psps/skills/{{item.buff}}.png" alt="">
                            <span class="close-buffs" id="close-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <br/><br/><br/><br/><br/>
                </div>
                
            </div>
        </div>
    </section>
</div>