<div class="d-flex justify-content-center">
    <section class="whitelist">
        <h1 class="whitelist-title">Whitelist DLL Guide</h1>
        <div class="whitelist-content">
            <p>
                Since we changed our launcher and we added some newclient changes,
                some of you can get this error after updating the launcher
            </p>
            <img src="../../assets/img/whitelist/error.png" alt="">
            
            <h2 class="whitelist-title-2">How to fix this error :</h2>
            <ul>
                <li>You need to whitelist whole NosVoid Folder</li>
                <li>
                    For that, go to your PC settings -> Update & Security -> Windows Security ->
                    Virus & threat protection <i>[click on it]</i>
                </li>
            </ul>
            <img src="../../assets/img/whitelist/virus_protection.png" alt="">
            
            <p>Once here, click on "Manage Settings" option :</p>
            <img src="../../assets/img/whitelist/manage_settings.png" alt="">
            
            <p>Scroll down a bit and click on the "Add or remove exclusions" <i>[click on it]</i></p>
            <img src="../../assets/img/whitelist/exclusion.png" alt="">
            
            <p>Then put your NosVoid Folder into that, after that error will be fixed !</p>
            <img src="../../assets/img/whitelist/whitelist.gif" alt="">
            
        </div>
    </section>
</div>
