<div class="d-flex justify-content-center">
    <section class="books">
        <h1 class="books-title">Books</h1>
        <div class="books-container">
            <div class="book-container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="book-name">Tier 1 books</h2>
                    <p class="book-location">You can get them after completing "Obtain your hidden power" Quest</p>
                    <ul >
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - [Beginer] PvP Damage Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/green_book.png" alt="">
                            - [Beginer] PvP Defence Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero J (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Fairy Affinity (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Aurelius Roshu's Primordial History (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Akamur Merchant (1)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="book-name">Tier 2 books</h2>
                    <p class="book-location">You can get them after completing "Obtain your hidden power" Quest</p>
                    <ul >
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - [Intermediate] PvP Damage Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/green_book.png" alt="">
                            - [Intermediate] PvP Defence Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero J (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero M (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Unknown Hero (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Attack Strategy of Lord Cuarry's Knights (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Defensive Strategy of Lord Cuarry's Knights (1)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="book-name">Tier 3 books</h2>
                    <p class="book-location">You can get them after completing "Obtain your hidden power" Quest</p>
                    <ul >
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - [Advanced] PvP Damage Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/green_book.png" alt="">
                            - [Advanced] PvP Defence Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero D (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero J (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero M (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Journal of the Forgotten Hero S (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Fairy Affinity (1)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/red_book.png" alt="">
                            - Aurelius Roshu's Primordial History (1)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="book-name">Tier 4 books</h2>
                    <p class="book-location">You can get them after completing "Obtain your hidden power" Quest</p>
                    <ul >
                        <li class="book-item">
                            <img src="../../assets/img/books/eagle_book.png" alt="">
                            - Eagle Loa Tome
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/snake_book.png" alt="">
                            - Snake Loa Tome
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/lion_book.png" alt="">
                            - Lion Loa Tome
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="book-name">Act4 books</h2>
                    <p class="book-location">You can craft them at Craft Books NPC in Toundra Bitoren</p>
                    <ul >
                        <li class="book-item">
                            <img src="../../assets/img/books/atk_a4_book.png" alt="">
                            - [Expert] PvP Damage Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/def_a4_book.png" alt="">
                            - [Expert] PvP Defence Boost
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/hero_a4_book.png" alt="">
                            - Journal of the Forgotten Hero S (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/unknown_a4_book.png" alt="">
                            - Journal of the Unknown Hero (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/def_strat_a4_book.png" alt="">
                            - Defensive Strategy of Lord Cuarry's Knights (2)
                        </li>
                        <li class="book-item">
                            <img src="../../assets/img/books/atk_strat_a4_book.png" alt="">
                            - Attack Strategy of Lord Cuarry's Knights (2)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
