.container {
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
  }
  
  .carve-container {
    margin-top: 20px; /* Add some space between containers */
  }
  
  h2 {
    cursor: pointer;
    color: white;
  }
  
  .content {
    display: block;
  }
  
  .icon-container {
    display: inline-block;
    margin-right: 10px;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Add any additional styles as needed */
  