<div class="d-flex justify-content-center">
    <section class="prestige-system">
		<h1 class="prestige-system-title-1">Prestige System<img width="50px" src="../../assets/img/prestiges/prestige_icon.png" alt=""><hr></h1>

		<div class="w-75">
			<h2 class="prestige-system-title-2">-- What are Prestiges? --</h2>
			<p class="prestige-system-text">
			Prestiges are the way to level up and unlock content in NosVoid. There are 5 Prestiges. 
			</p>
			<hr>
			<h2 class="prestige-system-title-2">-- How to pass your Prestige? --</h2>
			<p class="prestige-system-text">
			Once you reached the maximum level of your current Prestige, you need to go to the bottom right
			of NosVille and buy a Prestige Item. 
			After using the Prestige Item (you need to remove all your equipments to use it), your level 
			will be downgraded.
			</p>
			<hr>
			<h3 class="prestige-system-title-3">-- Prestige Max Levels: --</h3>
			<ul class="prestige-lvls">
				<li class="prestige-lvl">Prestige 0 : 99</li>
				<li class="prestige-lvl">Prestige 1 : 99+30</li>
				<li class="prestige-lvl">Prestige 2 : 99+55</li>
				<li class="prestige-lvl">Prestige 3 : 99+60</li>
				<li class="prestige-lvl">Prestige 4 : 99+60</li>
				<li class="prestige-lvl">Prestige 5 : 99+70</li>
			</ul>	
		</div>
    </section>
</div>
