<div class="d-flex justify-content-center">
    <section class="prestige-system">
      <h1 class="prestige-system-title-1">Prestige System</h1>
  
      <div class="w-75">
          <h2 class="prestige-system-title-2">What is Prestige System</h2>
          <p class="prestige-system-text">
              Prestiges are the way to level up and unlock content in NosVoid. There are 8 Prestiges. 
          </p>
          <h2 class="prestige-system-title-2">How to pass your Prestige ?</h2>
          <p class="prestige-system-text">
              Once you reached the maximum level of your current Prestige, you need to go to the bottom right
              of NosVille and farm 45 "Material" items in Farm Prestige Map in order to craft a Prestige Item. 
              After using the Prestige Item (you need to remove all your equipments to use it), your level 
              will be downgraded to 99+1 for Prestige 2 to 8 (for the Prestige 1, it will downgrade you 
              from 99 to 50).
          </p>
          <h3 class="prestige-system-title-3">Prestige Max Levels :</h3>
          <ul class="prestige-lvls">
            <li class="prestige-lvl">Prestige 0 : 99</li>
            <li class="prestige-lvl">Prestige 1 : 99</li>
            <li class="prestige-lvl">Prestige 2 : 99+25</li>
            <li class="prestige-lvl">Prestige 3 : 99+30</li>
            <li class="prestige-lvl">Prestige 4 : 99+35</li>
            <li class="prestige-lvl">Prestige 5 : 99+50</li>
            <li class="prestige-lvl">Prestige 6 : 99+55</li>
            <li class="prestige-lvl">Prestige 7 : 99+60</li>
            <li class="prestige-lvl">Prestige 8 : 99+60</li>
          </ul>
      </div>
    </section>
</div>