<div class="d-flex justify-content-center">
    <section class="shells">
        <h1 class="shells-title-1">SP Upgrade</h1>

        <div class="upgrade-system">
            <h2 class="shells-title-2">How to get a shell ?</h2>
            <h3 class="shells-title-3">Betting</h3>
            <p class="shells-text">You can bet your eqs at Betting NPC, top left of NosVille</p>
            <p class="shells-text-note">To bet non-champion eqs you need to buy </p>
            <p class="shells-text">There are two type of amulets :</p>
            <div class="amulets">
                <div class="amulet">
                    <h3 class="shells-title-3">Red Amulets</h3>
                    <p class="shells-text">Change the Rarity and the Shell</p>
                    <img src="../../assets/img/shells/red_amulet.png" alt="">
                </div>
                <div class="amulet">
                    <h3 class="shells-title-3">Grey Amulets</h3>
                    <p class="shells-text">Change the Rarity but not the Shell</p>
                    <img src="../../assets/img/shells/red_amulet.png" alt="">
                </div>
            </div>
            <h3 class="shells-title-3">Autobet</h3>
            <p class="shells-text">
                You can get it for 999 coins in VoidMall. Once you equiped it, you can't trade it anymore, 
                it's linked to your character. The autobet works <b>only</b> with <b>red amulets</b>. After wearing the 
                Autobet, you need to fill your inventory with red amulets, while betting the Autobet will 
                use the red amulets in your inventory to bet until you get R7 or R8.
            </p>
            
            <h2 class="shells-title-2">Upgrading +16 to +20</h2>
            <h3 class="shells-title-3">
                Upgrading from +16 to +20 works the same way except that it requires a new scroll and a new 
                material.
            </h3>
            <p class="shells-text">
                You can obtain 20x Dragon Card Protection Scrolls after completing an Act4 raid. <br>
                The new material is Dragon Gem. You can craft them with Blood-Red Rubies at Dragon Gem 
                NPC in Act4 Citadel (1x Blood-Red Ruby gives 5x Dragon Gems).
            </p>
        </div>
    </section>
</div>