<div class="d-flex justify-content-center">
    <section class="shells">
        <h1 class="shells-title-1">Shells</h1>

        <div class="upgrade-system">
            <h2 class="shells-title-2">How to get a shell ?</h2>
            <h3 class="shells-title-3">Betting</h3>
            <p class="shells-text">You can bet your eqs at Betting NPC, top left of NosVille</p>
            <p class="shells-text-note">To bet non-champion eqs you need to buy </p>
            <p class="shells-text">There are two type of amulets :</p>
            <div class="amulets">
                <div class="amulet">
                    <h3 class="shells-title-3">Champion Blessing Amulet (Random)</h3>
                    <p class="shells-text">Change the Rarity and the Shell</p>
                    <img src="../../assets/img/shells/red_amulet.png" alt="">
                </div>
                <div class="amulet">
                    <h3 class="shells-title-3">Champion Blessing Amulet</h3>
                    <p class="shells-text">Change <b>ONLY</b> the Rarity</p>
                    <img src="../../assets/img/shells/grey_amulet.png" alt="">
                </div>
            </div>
            <div class="autobet">
                <h3 class="shells-title-3">Autobet</h3>
                <p class="shells-text">
                    You can get it for 999 coins in VoidMall. Once you equiped it, you can't trade it anymore,
                    it's linked to your character. The autobet works <b>only</b> with <b>red amulets</b>. After wearing the
                    Autobet, you need to fill your inventory with red amulets, while betting the Autobet will
                    use the red amulets in your inventory to bet until you get R7 or R8.
                </p>
                <img src="../../assets/img/shells/autobet.png" alt="">
            </div>
            
            <h2 class="shells-title-2">Which options should you look for ?</h2>
            <p class="shells-text-note">
                All screenshots below are here as examples.
            </p>
            <h3 class="shells-title-3">PVP</h3>
            <div class="weapons">
                <div class="class">
                    <h3 class="shells-title-3">Archer / Swordsman / Martial Artist</h3>
                    <img src="../../assets/img/shells/crit_pvp.png" alt="">
                </div>
                <div class="class">
                    <h3 class="shells-title-3">Mage</h3>
                    <img src="../../assets/img/shells/mage_pvp.png" alt="">
                </div>
            </div>
            <div class="support">
                <h3 class="shells-title-3">Support Weapon</h3>
                <img src="../../assets/img/shells/supp_pvp.png" alt="">
            </div>
            <div class="armors">
                <div class="class">
                    <h3 class="shells-title-3">Anti Archer Armor</h3>
                    <img src="../../assets/img/shells/long_armor.png" alt="">
                </div>
                <div class="class">
                    <h3 class="shells-title-3">Anti Melee Armor</h3>
                    <img src="../../assets/img/shells/melee_armor.png" alt="">
                </div>
                <div class="class">
                    <h3 class="shells-title-3">Anti Mage Armor</h3>
                    <img src="../../assets/img/shells/magic_armor.png" alt="">
                </div>
            </div>
            <h3 class="shells-title-3">PVE</h3>
            <div class="weapons">
                <div class="class">
                    <h3 class="shells-title-3">Archer / Swordsman / Martial Artist</h3>
                    <img src="../../assets/img/shells/crit_pve.png" alt="">
                </div>
                <div class="class">
                    <h3 class="shells-title-3">Mage</h3>
                    <img src="../../assets/img/shells/mage_pve.png" alt="">
                </div>
            </div>
            <div class="support">
                <h3 class="shells-title-3">Support Weapon</h3>
                <img src="../../assets/img/shells/supp_pve.png" alt="">
            </div>
        </div>
    </section>
</div>