.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 0;
}

.schedule-title {
    font-family: 'Edu SA Beginner', cursive;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1em;
}

.server-time {
    font-size: 1.5rem;
}

.event-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.open-event {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    background-color: var(--void-clr-active);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
}

.open-event-title {
    width: 100%;
    margin-left: 14px;
}

.event-table {
    background-color: var(--void-clr-active);
    width: 50%;
    border-radius: 10px;
    margin-top: .5em;
}

.event-time {
    padding: 1em;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

/* Media queries */
@media all and (min-width: 1140px) {
    .schedule {
        width: 75%;
    }
}