<div class="d-flex justify-content-center align-items-center">
    <section class="costumes">
        <h1 class="costumes-title">Costumes</h1>

        <div class="select-container">
            <select name="filter" id="costumes-filter" class="costumes-select">
                <option>All</option>
                <option class="selectPve">Raid/PVE</option>
                <option class="selectPvp">PVP</option>
                <option class="selectFish">Fish</option>
                <option class="selectGold">Gold</option>
                <option class="selectPerfsp">Perfing SPs</option>
                <option class="selectBetting">Betting</option>
            </select>
        </div>

        <div class="costumes-container">
            <div class="costume-container" class="{{item.class}}" *ngFor="let item of costumes">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="costume-name">{{item.name}}</h2>
                    <a href="../assets/img/costumes/costumes/{{item.buff}}.png" target="_blank">
                        <img src="../assets/img/costumes/costumes/{{item.buff}}.png">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>