<div class="d-flex justify-content-center">
    <section class="special-items">
        <h1 class="special-items-title">Special Items</h1>

        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/family_horn.png" alt="">
                <h2 class="special-item-title">Family Horn</h2>
            </div>
            <img src="../../assets/img/special-items/family_horn.gif" class="special-item-gif">
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/change_sp.png" alt="">
                <h2 class="special-item-title">Change SP Item</h2>
            </div>
            <p class="special-item-info">
                You can change another class SPs to your own class <i>(With same stats/perfections/wings)</i><br>
            </p>
            <img src="../../assets/img/special-items/change_sp.gif" class="special-item-gif">                
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/reset_perf.png" alt="">
                <h2 class="special-item-title">Reset Perfection Item</h2>
            </div>
            <p class="special-item-info">You can reset your Perfection points with this item</p>
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/change_wings.png" alt="">
                <h2 class="special-item-title">Changing Wings Item</h2>
            </div>
            <p class="special-item-info">You can change morph of your wings with that item. <i>You need to write $wings and any wings name</i> <br>
                $Wings zephyr <br>
                $Wings crystal <br>
                $Wings onyx
            </p>
            <img src="../../assets/img/special-items/changing_wings.gif" class="special-item-gif">                
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/angler_skin.png" alt="">
                <h2 class="special-item-title">Professional Angler Skin</h2>
            </div>
            <p class="special-item-info"><span class="purple-clr"><i>[The skin will be deleted if you put Specialist into Card Holder]</i></span> <br>
                
                The probability of catching a fish is incresed by 20%. <br>
                There's a 15% chance of catching a bigger fish. <br>
                There's 30% chance to not consume a fish bait.
            </p>
            <img src="../../assets/img/special-items/angler_skin.gif" class="special-item-gif">
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/specialist_skin.png" alt="">
                <h2 class="special-item-title">Specialist Skin Potion</h2>
            </div>
            <p class="special-item-info">
                <span class="purple-clr">
                    <i>[The skin will be deleted if you put Specialist into Card Holder]</i>
                </span><br>
                Can be used on Ranger, Ninja and Blue Magician SPs
            </p>
            <img src="../../assets/img/special-items/specialist_skin.gif" class="special-item-gif">                
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/steampunk.png" alt="">
                <h2 class="special-item-title">Change Skin Item (Works only for Steampunk Skins)</h2>
            </div>
            <div class="special-item-container">
                <img src="../../assets/img/special-items/prestige8.png" alt="">
                <h2 class="special-item-title">Change Skin Item (Works only for Prestige 8 Skins)</h2>
            </div>
            <div class="special-item-container">
                <img src="../../assets/img/special-items/frost.png" alt="">
                <h2 class="special-item-title">Change Skin Item (Works only for Frost Skins)</h2>
            </div>
            <p class="special-item-info">
                You can change another class skin to your own class. <br>
                <i>Can be used only on +0 or +10 skins (+5 for Candy)</i>
            </p>
            <img src="../../assets/img/special-items/change_skin.gif" class="special-item-gif">
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/upgrade_skin.png" alt="">
                <h2 class="special-item-title">Upgrade Weapon Skin</h2>
            </div>
            <p class="special-item-info">
                Works only for Prestige 8, Candy and Frost skins
            </p>
            <img src="../../assets/img/special-items/upgrade_skin.gif" class="special-item-gif">                
        </div>
        <div class="special-item">
            <div class="special-item-container">
                <img src="../../assets/img/special-items/reset_a4.png" alt="">
                <h2 class="special-item-title">Reset your Act4 Score Item</h2>
            </div>
            <img src="../../assets/img/special-items/reset_a4.gif" class="special-item-gif">                
        </div>
    </section>
</div>