<div class="d-flex justify-content-center">
    <section class="battle-pass">
        <h1 class="battle-pass-title">Battle Pass</h1>
        <p class="battle-pass-info">
                Can be taken once, will disappear after the end of the month. <br>
                Price : 900 Coins.
        </p>
        <p class="w-75 bp-text">NOTE : There are <span class="bp-type">two</span> differents Battle Pass, one <span class="bp-type">PVP</span> and one <span class="bp-type">PVE</span>. You only get quests related to the Battle Pass you chose.</p>
            <div class="container d-flex justify-content-center">
                <h2 class="battle-pass-title-2 w-75">Quests & Rewards</h2>
            </div>
            <div class="quests-container container" *ngFor="let days of battlePass">
                <button class="open-quests">
                    {{days.dates}}
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="display-none">
                    <div class="quest-container">
                        <h3 class="quest-todo">You need to do :</h3>
                        <h3 class="battle-pass-title-3">PVP Quests</h3>
                        <ul class="list-quests">
                            <li *ngFor="let quest of days.pvpQuests"><span class="bp-type">{{quest.number}}</span> {{quest.quest}}</li>
                        </ul>
                        <h3 class="battle-pass-title-3">PVE Quests</h3>
                        <ul class="list-quests">
                            <li *ngFor="let quest of days.pveQuests"><span class="bp-type">{{quest.number}}</span> {{quest.quest}}</li>
                        </ul>
                    </div>
                    <div class="rewards-container">
                        <h3 class="quest-rewards">Rewards :</h3>
                        <ul class="list-rewards">
                            <li *ngFor="let reward of days.rewards">{{reward.reward}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center flex-column align-items-center">
                <h2 class="battle-pass-title-2 w-75">Informations</h2>
                <ul class="battle-pass-infos w-75">
                    <li>
                        - You will get quests by one by. (For example you will get Participate in the 
                        Instant Combat first, next quest will appear once you are done with current one!)
                    </li>
                    <li>
                        - You have a specific time to do quests, like you have 4 days to complete level 1 quests.
                        But even if you complete all from first day, you need to wait til last day to get next 
                        level quest.
                    </li>
                    <li>
                        - If you are not done with your level quest, it will be replaced with next level quests
                        and you won't receive any rewards from the quests you didn't complete.
                    </li>
                    <li class="infos-purple">
                        - You can't have the next following quests if you didn't succeeded the previous one !
                    </li>
                </ul>
                <div class="bp-levels w-75">
                    Every level has their own amount of gold, so you will have around 8.750B gold only from LUMPS
                        <ul>
                            <li><b>Level 1</b> : 500KK</li>
                            <li><b>Level 2</b> : 750KK</li>
                            <li><b>Level 3</b> : 1B</li>
                            <li><b>Level 4</b> : 1.250B</li>
                            <li><b>Level 5</b> : 1.5B</li>
                            <li><b>Level 6</b> : 1.750B</li>
                            <li><b>Level 7</b> : 2B</li>
                        </ul>
                </div>
            </div>
            <div class="container d-flex justify-content-center flex-column align-items-center">
                <h2 class="battle-pass-title-2 w-75">What can I get from Boxes ?</h2>
                <div class="bp-boxes-container w-75">
                    <div class="random-boxes">
                        <div class="wings-box-title">
                            <h3 class="battle-pass-title-3">Random Wings Box</h3>
                            <img src="../../assets/img/battle-pass/wingsbox.png" alt="">
                        </div>
                        <p class="bp-text w-100">You can get one of the following wings :</p>
                        <ul class="wings-box">
                            <li class="wing-item">- Zephyr Wings</li>
                            <li class="wing-item">- Lightning Wings</li>
                            <li class="wing-item">- Onyx Wings</li>
                            <li class="wing-item">- Lunar Wings</li>
                            <li class="wing-item">- Crystal Wings</li>
                            <li class="wing-item">- Retro Wings</li>
                        </ul>
                    </div>
                    <div class="random-boxes">
                        <div class="wings-box-title">
                            <h3 class="battle-pass-title-3">Old Event Box</h3>
                            <img src="../../assets/img/battle-pass/old_event_box.png" alt="">
                        </div>
                        <p class="bp-text w-100">You can get one of the following pets :</p>
                        <ul class="wings-box">
                            <li class="wing-item">- Fluffy Bunny Pet</li>
                            <li class="wing-item">- Otter</li>
                            <li class="wing-item">- Mad March PSP</li>
                            <li class="wing-item">- Lucy PSP</li>
                            <li class="wing-item">- Chloe PSP</li>
                            <li class="wing-item">- Cuby Pet</li>
                            <li class="wing-item">- Hawaii Costume</li>
                            <li class="wing-item">- Easter Bunny Costume</li>
                            <li class="wing-item">- Snow Fox Pet</li>
                            <li class="wing-item">- Master of the Seas Title</li>
                        </ul>
                    </div>
                    <div class="random-boxes">
                        <div class="wings-box-title">
                            <h3 class="battle-pass-title-3">Random BP Box</h3>
                            <img src="../../assets/img/battle-pass/random_bp_box.png" alt="">
                        </div>
                        <p class="bp-text w-100">You can get one of the following pets :</p>
                        <ul class="wings-box">
                            <li class="wing-item">- 200K Gold</li>
                            <li class="wing-item">- Flame Crystal x1</li>
                            <li class="wing-item">- Angel Feather x1000</li>
                            <li class="wing-item">- Flower Wings x1</li>
                            <li class="wing-item">- Flame Crystal x2</li>
                            <li class="wing-item">- Holy Light x1</li>
                            <li class="wing-item">- Crystal Wings (untradeable)</li>
                            <li class="wing-item">- Reset Perfection Item x1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center flex-column">
                <h2 class="battle-pass-title-2 w-75">Special Buffs</h2>
                <p class="w-75 bp-text">
                    You'll have a buff on your character when you finish the 
                    quests (just <b>aesthetic</b>, but other players can see it)
                </p>

                <div class="bp-special-buffs w-75">
                    <ul>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff1.png" alt="">
                            : It's just the beginning...
                        </li>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff2.png" alt="">
                            : Are you really ready for the rest ? 
                        </li>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff3.png" alt="">
                            : That's not so bad for a newbie. 
                        </li>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff4.png" alt="">
                            : Now we can begin to talk !
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff5.png" alt="">
                            : You're a real player, aren't you? 
                        </li>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff6.png" alt="">
                            : It's almost the end !  
                        </li>
                        <li>
                            <b>Battle Pass Lv </b>
                            <img src="../../assets/img/battle-pass/buff7.png" alt="">
                            : The best NosVoid Player is here. 
                        </li>
                    </ul>
                </div>
            </div>
    </section>
</div>