.cooking-sp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 1em;
    text-align: center;
}

.cooking-sp-title-1,
.cooking-sp-title-2,
.cooking-sp-title-3,
.cooking-sp-title-4 {
    font-family: 'Edu SA Beginner', cursive;
}

.cooking-sp-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.cooking-sp-title-2 {
    font-size: 2.5rem;
    margin-top: 1em;
    color: var(--void-clr);
}

.cooking-sp-title-3 {
    font-size: 2rem;
    line-height: 1.3em;
}

.cooking-sp-meal-skills > h3 {
    color: var(--void-clr);
}

.cooking-sp-title-4 {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.cooking-sp-title-4 a {
    color: var(--void-clr);
    font-weight: bold;
}

.cooking-sp-text-ita {
    font-style: italic;
}

.cooking-sp-text,
.cooking-sp-text-ita,
.skill-action,
.pack-list li {
    font-size: 1.1rem;
    line-height: 1.5em;
}

.fullness p {
    padding-top: 1em;
}

.cooking-sp img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.cooking-sp-options {
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.4em;
}

.option-type {
    color: var(--void-clr);
}

.cooking-sp-powers div {
    padding: 1.5em;
}

.skill-actions {
    padding: 0;
    margin: 0;
}

.crafting-items {
    width: 75%;
}

.crafting-item, 
.cooking-sp-titles div {
    padding-block: 1em;
}

.cooking-sp-skill-name,
.cooking-sp-meal-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cooking-sp-skill,
.cooking-sp-meal {
    padding: 1em;
}

.show-pack {
    border: none;
    background-color: var(--void-clr);
    color: black;
    padding: .5em 1em;
    margin-top: 1em;
    border-radius: 10px;
}

.cooking-pack {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cooking-pack-content {
    background-color: var(--void-clr);
    margin: 20% auto;
    padding: 2em;
    box-shadow: 
    0 5px 8px 0 rgba(0, 0, 0, .2),
    0 7px 20px 0 rgba(0, 0, 0, .17);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.close-pack {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-pack:hover, .close-pack:focus {
    text-decoration: none;
}

.pack-list {
    padding: 0;
    margin: 0;
    text-align: start;
}

/* Media queries */
@media all and (min-width: 1140px) {

    .cooking-sp,
    .tattoos {
        width: 75%;
    }

    .daily-quests {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2em;
        gap: 1em;
    }

    .cooking-sp-skills,
    .cooking-sp-meals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2em;
    }
}