.cooking-sp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 1em;
    text-align: center;
}

.cooking-sp-title-1,
.cooking-sp-title-2,
.cooking-sp-title-3,
.cooking-sp-title-4 {
    font-family: 'Edu SA Beginner', cursive;
}

.cooking-sp-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

.cooking-sp-title-2 {
    font-size: 2.5rem;
    margin-top: 1em;
}

.cooking-sp-title-3 {
    font-size: 2rem;
    line-height: 1.3em;
}

.cooking-sp-title-4 {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.cooking-sp-text,
.skill-action {
    font-size: 1.1rem;
    line-height: 1.5em;
}

.cooking-sp img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.cooking-sp-options {
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.4em;
}

.option-type {
    color: var(--void-clr);
}

.cooking-sp-powers div {
    padding: 1.5em;
}

.skill-actions {
    padding: 0;
    margin: 0;
}

.crafting-items {
    width: 75%;
}

.crafting-item, 
.cooking-sp-titles div {
    padding-block: 1em;
}

.cooking-sp-skill-name,
.cooking-sp-meal-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cooking-sp-skill,
.cooking-sp-meal {
    padding-block: 1em;
}

/* Media queries */
@media all and (min-width: 1140px) {

    .cooking-sp,
    .tattoos {
        width: 75%;
    }

    .daily-quests {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2em;
        gap: 1em;
    }

    .cooking-sp-skills,
    .cooking-sp-meals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2em;
    }
}