<div class="d-flex justify-content-center">
    <section class="cooking-sp">
        <h1 class="cooking-sp-title-1">Cooking SP</h1>
        <h4 class="cooking-sp-title-4">You can craft the <a href="/special-items#masterchef">Masterchef Skin</a> at Cooking Stuff NPC</h4>

        <h2 class="cooking-sp-title-2">Cooking Starter Pack</h2>
        <p class="cooking-sp-text-ita">[Available on NosVoid Mall for 1500 coins]</p>
        <button class="show-pack">Show Pack</button>
        <div class="cooking-pack display-none" id="set-buff-modal">
            <div class="cooking-pack-content">
              <ul class="pack-list">
                <li>- 1x Masterchef Skin</li>
                <li>- 1x Apprentice Chef Title</li>
                <li>- 20x Mouse Chest</li>
                <li>- 10x Pink Lotus</li>
                <li>- 200x Piece of cheese</li>
                <li>- Big Lettuce x50</li>
                <li>- Big Tomato x50</li>
                <li>- Big Onion x50</li>
                <li>- Big Mango x50</li>
                <li>- Chilli Powder x20</li>
                <li>- Pepper x20</li>
                <li>- Garlic Powder x20</li>
                <li>- Cinnamon x20</li>
                <li>- Chopping Board x100</li>
              </ul>
              <span class="close-pack" id="close-btn">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </div>
        </div>

        <h2 class="cooking-sp-title-2">Cooking SP Skills</h2>
        <div class="cooking-sp-skills w-75">
            <div class="cooking-sp-skill" *ngFor="let skill of cookingSkills">
                <div class="cooking-sp-skill-name">
                    <img src="../../assets/img/specialists/cooking-sp/{{skill.icon}}.png" alt="">
                    <h3 class="cooking-sp-title-3">{{skill.name}}</h3>
                </div>
                <h4 class="cooking-sp-title-4">Job level {{skill.level}}</h4>
                <ul class="skill-actions" *ngFor="let action of skill.actions">
                    <li class="skill-action">{{action.action}}</li>
                </ul>
            </div>
        </div>

        <h2 class="cooking-sp-title-2">Meals Buffs</h2>
        <p class="cooking-sp-text-ita">[All buffs last 20 minutes]</p>
        <div class="cooking-sp-meal-skills w-75" *ngFor="let cook of cookingMeals">
            <h3 class="cooking-sp-title-3">{{cook.skill}}</h3>
            <div class="cooking-sp-meals">
                <div class="cooking-sp-meal" *ngFor="let meal of cook.meals">
                    <div class="cooking-sp-meal-name">
                        <img src="../../assets/img/specialists/cooking-sp/{{meal.icon}}.png" alt="">
                        <h4 class="cooking-sp-title-4">{{meal.name}}</h4>
                    </div>
                    <p class="cooking-sp-text">{{meal.buff}}</p>
                </div>
            </div>
        </div>

        <h2 class="cooking-sp-title-2">Cooking Ingredients</h2>
        <div class="cooking-sp-meal-skills w-75" *ngFor="let cat of wildIngredients">
            <h3 class="cooking-sp-title-3">{{cat.type}}</h3>
            <div class="cooking-sp-meals">
                <div class="cooking-sp-meal" *ngFor="let ingr of cat.ingr">
                    <div class="cooking-sp-meal-name">
                        <img src="../../assets/img/specialists/cooking-sp/{{ingr.icon}}.png" alt="">
                        <h4 class="cooking-sp-title-4">{{ingr.name}}</h4>
                    </div>
                    <p class="cooking-sp-text">{{ingr.location}}</p>
                </div>
            </div>
        </div>
        <div class="cooking-sp-meal-skills w-75" *ngFor="let cat of fishIngredients">
            <h3 class="cooking-sp-title-3">{{cat.type}}</h3>
            <div class="cooking-sp-meals">
                <div class="cooking-sp-meal" *ngFor="let ingr of cat.ingr">
                    <div class="cooking-sp-meal-name">
                        <img src="../../assets/img/specialists/cooking-sp/{{ingr.icon}}.png" alt="">
                        <h4 class="cooking-sp-title-4">{{ingr.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="cooking-sp-meal-skills w-75" *ngFor="let cat of boughtIngredients">
            <h3 class="cooking-sp-title-3">{{cat.type}}</h3>
            <div class="cooking-sp-meals">
                <div class="cooking-sp-meal" *ngFor="let ingr of cat.ingr">
                    <div class="cooking-sp-meal-name">
                        <img src="../../assets/img/specialists/cooking-sp/{{ingr.icon}}.png" alt="">
                        <h4 class="cooking-sp-title-4">{{ingr.name}}</h4>
                    </div>
                    <p class="cooking-sp-text">{{ingr.price}}</p>
                </div>
            </div>
        </div>

        <div class="fullness">
            <h2 class="cooking-sp-title-2">Fullness Points</h2>
            <p class="cooking-sp-text">When you eat meals, you get Fullness Points which fill your Fullness Bar.</p>
            <img src="../../assets/img/specialists/cooking-sp/fullness_bar.png" style="border-radius: 0px;" alt="">
            <p class="cooking-sp-text">This bar has three filling levels. Each of them gives a buff.</p>
            <img src="../../assets/img/specialists/cooking-sp/fullness_buffs.png" style="border-radius: 0px;" alt="">
        </div>
        
    </section>
</div>