<main class="d-flex justify-content-center">
    <section class="component-container">
		<h1 class="prestige-title-1">Prestige 8.2 vol.1</h1>
        <p class="prestige-text text-center bold">
            If you have become Prestige 8, you can teleport to the map by typing $warp p8.2.
        </p>

        <article class="prestige-article">
            <h2 class="prestige-title-2">Family Tower</h2>
            <p class="prestige-text">
                Family Tower is a new instance for the whole family where you can get new items, buffs and climb the Family Tower ranking. <br>
                Your task is to defeat every boss on the floor. There are <span class="bold">11</span> floors. <br>
                The Floors will progressively get harder. Remember that on each floor your time is limited to <span class="bold">300 sec</span>. <br>
                Entry to the Family Tower resets daily at <span class="bold">6:00 PM</span>. To go there, <span class="bold">Leader / Co-Leader</span> must enter the starting portal, everyone on the map will be teleported into the instance. <br>
                After every floor you'll be rewarded with some Family Tower Coins which you can use to craft new Items. <br> 
                If you die in Family Tower you can use Tower Salvation Potion to revive. You can get Tower Salvation Potion after finishing floors and from Daily Quest. <br>
                When Co Leader or Any Leader go in via NPC "Family Tower Game" it will teleport all members from prestige 8.1 map. If you're not in 8.1 Prestige map, you wont be teleported. <br> <br>
                After the floors are completed, all those members on family tower will gain buffs that last until the next Family Tower reset. <br>
                Meaning attending Family Tower everyday could basically get you a permanent Buff.
            </p>
            <div class="prestige-grid-2">
                <div>
                    <h3 class="prestige-title-3 text-center">Family Tower Floor 5 Buff</h3>
                    <div class='d-flex justify-content-center'>
                        <img src="../../assets/img/prestiges/p81/floor5.png" alt="">
                    </div>
                </div>
                <div>
                    <h3 class="prestige-title-3 text-center">Family Tower Floor 9 Buff</h3>
                    <div class='d-flex justify-content-center'>
                        <img src="../../assets/img/prestiges/p81/floor9.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="prestige-title-4 text-center">Family Tower Random Box :</h4>
            <ul class="prestige-list">
                <li class="prestige-list-item">- Lich Energy Bracelet x1</li>
                <li class="prestige-list-item">- Fairy Booster x1</li>
                <li class="prestige-list-item">- Blessing of Ancelloan x1</li>
                <li class="prestige-list-item">- Raid Ticket x5</li>
                <li class="prestige-list-item">- Large Lump of Gold x50</li>
                <li class="prestige-list-item">- KekW Emote x3</li>
                <li class="prestige-list-item">- Cellon 10 x2</li>
                <li class="prestige-list-item">- Simp Title x1</li>
                <li class="prestige-list-item">- Sugar Mommy Title x1</li>
            </ul>
        </article>
        <article class="prestige-article">
            <h2 class="prestige-title-2">Raids</h2>
            <div>
                <h3 class="prestige-title-3 text-center">Ibrahim Raid</h3>
                <h4 class="prestige-title-4 bold">IMPORTANT: YOU CAN DO IBRAHIM RAID ONLY 5 TIMES PER DAY!</h4>
                <p class="prestige-text">
                    Your goal is, to get to the boss room by going through two maps before. <br>
                    To get to the next map, you have to fulfill the following tasks:
                </p>
                <ul class="prestige-list">
                    <li class="prestige-list-item">- Pull levers (blue circle on screenshots)</li>
                    <li class="prestige-list-item">- Kill minibosses</li>
                </ul>
                <h4 class="prestige-title-4">First map</h4>
                <div class='d-flex justify-content-center'>
                    <a href="../../assets/img/prestiges/p81/ibrah2.png" target="_blank"><img src="../../assets/img/prestiges/p81/ibrah2.png" alt=""></a>
                </div>
                <h4 class="prestige-title-4 text-center">Ibrahim Raid Box info <a href="/raids#ibrah">here</a></h4>
                <h4 class="prestige-title-4 text-center">Additional rewards for each raid</h4>
                <ul class="prestige-list">
                    <li class="prestige-list-item">- 300.000 Reputation</li>
                    <li class="prestige-list-item">- Akamur Coupon x2</li>
                    <li class="prestige-list-item">- Hot Fabric x2</li>
                    <li class="prestige-list-item">- Magical Camel Parchment Scroll x2</li>
                    <li class="prestige-list-item">- Flame Giant's Heart x2</li>
                    <li class="prestige-list-item">- Golden Raid Ticket x1</li>
                </ul>
            </div>
            <div>
                <h3 class="prestige-title-3 text-center">Sandstorm Raid</h3>
                <p class="prestige-text">
                    Your goal is, to kill the boss.
                </p>
                <h4 class="prestige-title-4">Sandstorm map</h4>
                <div class='d-flex justify-content-center'>
                    <img src="../../assets/img/prestiges/p81/sandstorm.png" alt="">
                </div>
                <h4 class="prestige-title-4 text-center">Sandstorm Raid Box info <a href="/raids#sandstorm">here</a></h4>
                <h4 class="prestige-title-4 text-center">Additional rewards for each raid</h4>
                <ul class="prestige-list">
                    <li class="prestige-list-item">- 5.500 Reputation</li>
                    <li class="prestige-list-item">- Piece of Sandstorm x1</li>
                    <li class="prestige-list-item">- Golden Raid Ticket x1</li>
                </ul>
            </div>
        </article>
        <article class="prestige-article">
            <h2 class="prestige-title-2">Daily Quests</h2>
            <h3 class="prestige-title-3 text-center">Ibrahim Daily Quest</h3>
            <h4 class="prestige-title-4">Successfully complete 5 times Ibrahim Raid</h4>
            <ul class="prestige-list">
                <li class="prestige-list-item">- 50.000 Reputation</li>
                <li class="prestige-list-item">- 1x Ibrahim's Dark Key</li>
                <li class="prestige-list-item">- 8x Random Amulet Box (x4)</li>
                <li class="prestige-list-item">- 5x Akamur Coupon</li>
                <li class="prestige-list-item">- 5x Magical Camel Parchment Scroll</li>
            </ul>
            <h3 class="prestige-title-3 text-center">Sandstorm Daily Quests</h3>
            <h4 class="prestige-title-4">Successfully complete 7 times Sandstorm Raid (both quest)</h4>
            <div class="prestige-grid-2">
                <ul class="prestige-list">
                    <li class="prestige-list-item">- 50.000 Reputation</li>
                    <li class="prestige-list-item">- 8x Random Amulet Box (x4)</li>
                    <li class="prestige-list-item">- 1x Lich Energy Ring</li>
                </ul>
                <ul class="prestige-list">
                    <li class="prestige-list-item">- 50.000 Reputation</li>
                    <li class="prestige-list-item">- 1x Ibrahim's Bag</li>
                    <li class="prestige-list-item">- 5x Hot Fabric</li>
                    <li class="prestige-list-item">- 5x Flame Giant`s Heart</li>
                    <li class="prestige-list-item">- 5x Cellon (Level 10)</li>
                </ul>

            </div>
        </article>
        <article class="prestige-article">
            <h2 class="prestige-title-2">Lottery</h2>
            <p class="prestige-text">You can buy Lottery Tickets for <span class="bold">240kk each</span>. After buying, you get the Lottery Box. <span class="bold">You can buy only 500 Lottery Boxes per month.</span></p>
            <h4 class="prestige-title-4">Lottery Box drop :</h4>
            <ul class="prestige-list">
                <li class="prestige-list-item">- Angel's Feather</li>
                <li class="prestige-list-item">- Full Moon Crystal</li>
                <li class="prestige-list-item">- Large Lump of gold</li>
                <li class="prestige-list-item">- Fairy Booster</li>
                <li class="prestige-list-item">- Raid Ticket</li>
                <li class="prestige-list-item">- Blessing of Ancelloan</li>
                <li class="prestige-list-item">- Golden Equipment Protection Scroll</li>
                <li class="prestige-list-item">- Attack Potion</li>
                <li class="prestige-list-item">- Defence Potion</li>
                <li class="prestige-list-item">- Energy Potion</li>
                <li class="prestige-list-item">- Rarify Item</li>
                <li class="prestige-list-item">- Upgrade item</li>
                <li class="prestige-list-item">- Random Amulet Box</li>
                <li class="prestige-list-item">- Perfection</li>
                <li class="prestige-list-item">- Gold potion</li>
                <li class="prestige-list-item">- Costume Fusion</li>
                <li class="prestige-list-item">- Renaming Card</li>
                <li class="prestige-list-item">- Lightning Wings</li>
                <li class="prestige-list-item">- Upgrade Weapon Skin</li>
                <li class="prestige-list-item">- Giant Lump of Gold</li>
                <li class="prestige-list-item">- Super Fortune Bushtail</li>
                <li class="prestige-list-item">- Reset Your Act4 Score</li>
                <li class="prestige-list-item">- Partner Skill Ticket</li>
                <li class="prestige-list-item">- Holy Light</li>
                <li class="prestige-list-item">- Change Class items</li>
                <li class="prestige-list-item">- Purple Glowing Ring</li>
                <li class="prestige-list-item">- Red Glowing Ring</li>
                <li class="prestige-list-item">- Petal Wings</li>
                <li class="prestige-list-item">- Specialist Skin Potion</li>
                <li class="prestige-list-item">- TurtleCopter</li>
            </ul>
            <p class="prestige-text">After opening the <span class="bold">50th</span> box, you will receive a <span class="bold">Gold Lottery Box</span> <br>
            There will be two <span class="bold">additionaly</span> ''NosWheel'' items in the Gold Lottery Box. This will be switched every month</p>
            <br/>
            <h4 class="prestige-title-4">You can check Gold Lottery Box drop on our Discord channel <u style="color: rgb(38, 182, 25)">#lottery-rotation</u></h4>
           
        </article>
    </section>
</main>
