<div class="d-flex justify-content-center">
    <section class="become-cc">
      <h1 class="become-cc-title-1">How to become Content Creator ?</h1>
  
      <div class="become-cc-content">
            <h2 class="become-cc-title-2">Hey Void Players !</h2>
            <p class="become-cc-text">
                If you wanna join our Content Creator Crew, open a ticket via ticket-system on NosVoid
                discord – and of course, read following informations to know how everything’s working.
            </p>
            <h3 class="become-cc-title-3">Our reward system includes 6 ranks to reach</h3>
            <div class="cc-ranks">
                <ul class="cc-ranks-list">
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/bronze.png" alt="">
                        <span class="bronze">Bronze</span> Content Creator
                    </li>
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/silver.png" alt="">
                        <span class="silver">Silver</span> Content Creator
                    </li>
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/gold.png" alt="">
                        <span class="gold">Gold</span> Content Creator
                    </li>
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/plat.png" alt="">
                        <span class="plat">Platinum</span> Content Creator
                    </li>
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/diamond.png" alt="">
                        <span class="diamond">Diamond</span> Content Creator
                    </li>
                    <li class="cc-rank">
                        <img src="../../assets/img/content-creators/master.png" alt="">
                        <span class="master">Master</span> Content Creator
                    </li>
                </ul>
            </div>
            <p class="become-cc-text">
                <span class="void-clr">
                    Master Content Creator will only be given to one <b>person</b> each (Youtube + Twitch).
                </span>
            </p>

            <h3 class="become-cc-title-3">Views system</h3>
            <div class="views">
                <div class="yt-views">
                    <h4 class="become-cc-title-4">
                        <img src="../../assets/img/content-creators/youtube.png" alt="">
                        For YouTube channels
                        <img src="../../assets/img/content-creators/youtube.png" alt="">
                    </h4>
                    <ul class="cc-views-list">
                        <li class="cc-view">
                            150 – 299 monthly views for <span class="bronze">Bronze</span> Content Creator
                        </li>
                        <li class="cc-view">
                            300 – 499 monthly views for <span class="silver">Silver</span> Content Creator
                        </li>
                        <li class="cc-view">
                            500 – 1499 monthly views for <span class="gold">Gold</span> Content Creator
                        </li>
                        <li class="cc-view">
                            1500 – 2499 monthly views for <span class="plat">Platinum</span> Content Creator
                        </li>
                        <li class="cc-view">
                            2500 – 4999 monthly views for <span class="diamond">Diamond</span> Content Creator
                        </li>
                        <li class="cc-view">
                            5000 + monthly views for <span class="master">Master</span> Content Creator
                        </li>
                    </ul>
                </div>
                <div class="twitch-views">
                    <h4 class="become-cc-title-4">
                        <img src="../../assets/img/content-creators/twitch.png" alt="">
                        For Twitch channels
                        <img src="../../assets/img/content-creators/twitch.png" alt="">
                    </h4>
                    <ul class="cc-views-list">
                        <li class="cc-view">
                            50 – 199 monthly viewers for <span class="bronze">Bronze</span> Content Creator
                        </li>
                        <li class="cc-view">
                            200 – 399 monthly viewers for <span class="silver">Silver</span> Content Creator
                        </li>
                        <li class="cc-view">
                            400 – 699 monthly viewers for <span class="gold">Gold</span> Content Creator
                        </li>
                        <li class="cc-view">
                            700 – 1099 monthly viewers for <span class="plat">Platinum</span> Content Creator
                        </li>
                        <li class="cc-view">
                            1100 – 1599 monthly viewers for <span class="diamond">Diamond</span> Content Creator
                        </li>
                        <li class="cc-view">
                            1600 + monthly viewers for <span class="master">Master</span> Content Creator
                        </li>
                    </ul>
                </div>
            </div>
            <p class="become-cc-text">
                <span class="void-clr">
                    Views will be counted on <b>5th</b> of every month. That means that we will give ranks depending
                    on views gained in current month.
                </span>
            </p>

            <div class="cc-rules">
                <h3 class="become-cc-title-3">The Rules</h3>
                <ul class="cc-rules-list">
                    <li class="cc-rule">
                        - Content Creators need to upload at least 5 videos or make 5 streams in each month.
                    </li>
                    <li class="cc-rule">
                        - Rules of NosVoid should be applied in all contents (if Content Creators break rules on their
                        own, we may remove them from Content Creator Crew)
                    </li>
                    <li class="cc-rule">
                        - If Content Creators doing any content for other servers, it shouldn’t be related with NosVoid
                        (comparisons between NosVoid and different servers are forbidden).
                    </li>
                    <li class="cc-rule">
                        - Content Creators should send links of their videos or streams into special video channel on
                        NosVoid discord.
                    </li>
                </ul>
            </div>
            <div class="cc-rewards">
                <h3 class="become-cc-title-3">The Rewards</h3>
                <ul class="cc-rewards-list">
                    <li class="cc-rule">
                        - In-Game-Title for every rank until Gold + Master. Platinum and Diamond can’t be given.
                    </li>
                    <li class="cc-rule">
                        - Special role and chat on void discord (role depending on reached rank).
                    </li>
                    <li class="cc-rule">
                        - Special ingame name tag depending on reached rank ([BCC] - [SCC] - [GCC] - [PCC] -
                        [DCC] - [MCC]).

                    </li>
                    <li class="cc-rule">
                        - Monthly coin prizes (amount depends on reached rank and will be send 5th of every
                        month). <br>
                        <b>
                            (If you don’t have 5 videos in a month your coins will be calculated with following formula:
                            rank x coins x (video amount / 5)
                        </b>
                    </li>
                    <li class="cc-rule">
                        - Monthly coupons to make giveaways for viewers of videos and stream.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>