<div class="d-flex justify-content-center">
    <section class="gold">

        <a class="scrollTop" href="/fish-set#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars nos-bars" aria-hidden="true"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#1">Hats & Helmets</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#2">Costumes</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#3">Weapon Skins & Skins</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#4">Pets & Partners</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#5">Titles</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fish-set#6">Buffs</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="scrollItems">

          </div>
<br/>
        <h1 class="gold-title-1">Fish Set<hr></h1>

        <h1 class="act-four-set-title-2"><a href="https://wiki.nosvoid.com/fish-system"> Fishing System Guide</a></h1>
        <br/>
        <div id="1" class="scrollHere"></div>
        <h2 class="gold-title-1">Hats</h2>
        <div class="gold-system" *ngFor="let items of actfourset">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name}}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/hats/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/hats/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>
        <div id="2" class="scrollHere"></div>
        <h2 class="gold-title-1">Costumes</h2>
        <div class="gold-system" *ngFor="let items of actfourset1">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name}}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/costumes/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/costumes/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>
        <div id="3" class="scrollHere"></div>
        <h2 class="gold-title-1">Weapon Skins & Skins</h2>
        <div class="gold-system" *ngFor="let items of actfourset2">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name}}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/skins/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/skins/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>
        <div id="4" class="scrollHere"></div>
        <h2 class="gold-title-1">Pets & PSPs</h2>
        <div class="gold-system" *ngFor="let items of actfourset3">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name}}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/pets/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/pets/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>
        <div id="5" class="scrollHere"></div>
        <h2 class="gold-title-1">Titles</h2>
        <div class="gold-system" *ngFor="let items of actfourset4">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name }}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/titles/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/titles/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>
        <div id="6" class="scrollHere"></div>
        <h2 class="gold-title-1">Buffs</h2>
        <div class="gold-system" *ngFor="let items of actfourset5">
            <div class="gold-items">
                <div class="p-3" *ngFor="let regular of items.regular">
                    
                    <h3 class="gold-title-3">{{regular.name}}</h3>
                    
                    <a href="../../assets/img/special-sets/fish_set/buffs/{{regular.img}}.png" target="_blank">
                        <img src="../../assets/img/special-sets/fish-set/buffs/{{regular.img}}.png" alt="">
                    </a>
                    <h4 class="gold-location"><i> {{regular.location}} </i></h4>
                </div>
                </div>
            <hr>
        </div>

        Guide prepared by Dana&Kai
    </section>
</div>