<div class="d-flex justify-content-center">
  <section class="fish-system">
    <h1 class="fish-system-title-1">Fish System</h1>

    <div class="w-75">
        <h2 class="fish-system-title-2">How to get the Angler SP ?</h2>
        <p class="fish-system-text">
            You can get it from the quest in Fish Area map (there's a portal close to the statue
            in NosVille). You need to kill 3 Shark Dolls in NosVille.
        </p>
        <h2 class="fish-system-title-2">How to fish ?</h2>
        <p class="fish-system-text">
            First, you need to buy some Baits and Fishing Lines at Fish Tool NPC $warp fish.
            Then you need to go in NosVille close to the Fish Area portal or in the Dander zone. <br>
            If you never fished before, one of the best ways to know when to use the Reel In skill is : after
            using Cast Line skill, press C to sit and wait until your char stands up automatically, then use Reel
            In.
        </p>
        <h2 class="fish-system-title-2">Fishing Maps</h2>
        <h3 class="fish-system-title-3">
            You need to level up your Angler SP to have access to fishing maps. First map is NosVille. Every 5 Lv,
             you unlock a new fishing map. Note that your char needs to be Prestige X to go on the Prestige X map.
              To leveling up your Angler SP you can use Ancelloan's Blessing, P5 Rune, Exp Potion and all
              equipments with "Increase fishing experience" option.
        </h3>
        <h2 class="fish-system-title-2">What can you fish ?</h2>
        <h3 class="fish-system-title-3">
            You can get Perfection Box, Tattoo Box 1 (from Lv 30), Carve Box 1 (from Lv 40) and of course 
            fishes. At the bottom right  of your inventory, you have a fish icon which is an encyclopedia 
            you can check to know which fish you're missing to complete your collection. You can get some 
            titles after completing X% of the encyclopedia.
        </h3>
        <h2 class="fish-system-title-2">What are fish for ?</h2>
        <h3 class="fish-system-title-3">
            For each map where you can fish on, there is a Fish Craft NPC at $warp fish where you can craft 
            some stuffs with your fish depending on the map you got them. You also can sell your fish at NPCs
            to get gold. You can increase the gold received by selling with Fish Merchant Title, Cuby Pet and 
            Rafting Costume.
        </h3>
    </div>
  </section>
</div>
