.home-container {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: 1em;
}

.home-social-networks {
    height: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 2em 0;
}

.wiki-home img {
    width: 250px;
    max-width: 100%;
    max-height: 100%;
}

.home-title-1,
.home-title-2,
.join-button {
    font-family: 'Edu SA Beginner', cursive;
}

.home-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.1em;
}

.home-title-2 {
    font-size: 2rem;
    text-align: center;
}

.home-event,
.home-event a {
    font-size: 1.2rem;
    color: var(--void-clr);
    line-height: 1.5em;
}

.home-events {
    margin-bottom: 1em;
    text-align: center;
}

.home-events-list {
    margin: 0;
    padding: 0;
    padding-block: 1em;
}

.join-buttons {
    display: flex;
    width: fit-content;
    gap: 2em;
}

.join-button {
    display: flex;
    align-items: center;
    gap: .3em;
    text-decoration: none;
    padding: .5em 1em;
    background-color: var(--void-clr);
    border-radius: 50px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.join-button:hover {
    background-color: var(--void-clr-active);
}

.join-button img {
    width: 36px;
    height: 36px;
}

/* Media queries */
@media all and (min-width: 1140px) {
    .wiki-home {
        width: 75%;
    }
    .home-container {
        flex-direction: row;
        width: 75%;
        margin: auto;
    }
    .home-social-networks {
        max-width: 25%;
        margin-top: 3em;
        padding: 2em;
    }

    .join-buttons {
        flex-direction: column
    }
}

@media all and (max-width: 780px) {
    .join-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width: 420px) {
    .join-buttons {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}