<div class="home-container">
    <section class="wiki-home">
        <img src="../../assets/img/home/home-img.png" alt="Home Image">
        <h1 class="home-title-1">Welcome to NosVoid Wiki</h1>

        <div class="home-events">
            <h2 class="home-title-2">Ongoing Event(s) : </h2>
            <ul class="home-events-list">
                <h2 class="home-title-2">
                    <a href=""></a></h2>
            </ul>
        </div>
        
    </section>
    <aside class="home-social-networks">
        <h2 class="home-title-2">Make sure to join us on :</h2>
        <div class="join-buttons">
            <a class="join-button" href="https://discord.com/invite/qd2yrzg" target="_blank">
                <img src="../../assets/img/home/discord.png" alt="">
                Discord
            </a>
            <a class="join-button" href="https://www.youtube.com/channel/UCw7xYs5ijoPFqjNtOyrBR_A" target="_blank">
                <img src="../../assets/img/home/youtube.png" alt="">
                YouTube
            </a>
            <a class="join-button" href="https://twitter.com/NosVoid" target="_blank">
                <img src="../../assets/img/home/twitter.png" alt="">
                Twitter
            </a>
            <a class="join-button" href="https://www.instagram.com/nosvoidv2/" target="_blank">
                <img src="../../assets/img/home/instagram.png" alt="">
                Instagram
            </a>
        </div>
    </aside>
</div>