.wiki-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    width: 100%;
    padding: 3em 0;
}

.wiki-home img {
    width: 250px;
    max-width: 100%;
    max-height: 100%;
}

.home-title-1,
.home-title-2,
.join-button {
    font-family: 'Edu SA Beginner', cursive;
}

.home-title-1 {
    font-size: 3rem;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.1em;
}

.home-title-2 {
    font-size: 2rem;
    text-align: center;
}

.home-event {
    font-size: 1.2rem;
    color: var(--void-clr);
}

.home-events {
    margin-bottom: 1em;
}

.join-buttons {
    display: flex;
    gap: 2em;
}

.join-button {
    display: flex;
    align-items: center;
    gap: .3em;
    text-decoration: none;
    padding: .5em 1em;
    background-color: var(--void-clr);
    border-radius: 50px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.join-button:hover {
    background-color: var(--void-clr-active);
}

.join-button img {
    width: 36px;
    height: 36px;
}

/* Media queries */
@media all and (max-width: 1140px) {
    .join-buttons {
        flex-direction: column;
    }
}

/* Media queries */
@media all and (min-width: 1140px) {
    .wiki-home {
        width: 75%;
    }
}