<div class="d-flex justify-content-center">
    <section class="ticket-system">
        <h1 class="ticket-system-title-1">Ticket System</h1>

        <div class="ticket-system-container">
            <h2 class="ticket-system-title-2">What are tickets for ?</h2>
            <p class="ticket-system-text">
                Tickets are the way to contact us if you have problems, questions, bugs, etc...
            </p>
            <h2 class="ticket-system-title-2">How to open a ticket ?</h2>
            <p class="ticket-system-text">
                Firstly, you need to join our <a href="">Discord Server</a>. After joining, look for the Ticket System
                channel.
            </p>
            <img src="../../assets/img/ticket-system/channel.png" alt="">
            <p class="ticket-system-text">
                Secondly, you need to hit the Create Ticket button in order to open a ticket.
            </p>
            <img src="../../assets/img/ticket-system/create.png" alt="">
            <p class="ticket-system-text">
                Now you got pinged in a new channel called "ticket-XXXX" at the top of the channels list.
                You can ask everything you want in this channel and a Staff Member will answer you as fast as 
                possible.
            </p>
            <h2 class="ticket-system-title-2">Quick GIF to show you the procedure :</h2>
            <img src="../../assets/img/ticket-system/ticket.gif" alt="">
        </div>
    </section>
</div>